n8n/工作流/实战工作流/firecrawl_DEMO.json
{
  "name": "firecrawl DEMO",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        100
      ],
      "id": "afd4eb99-c7ec-46a2-a325-8a47d22eea94",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3002/v1/scrape ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.yicai.com/news/\",\n  \"formats\": [ \"html\" ],\n  \"includeTags\": [ \".m-con\" ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        -20
      ],
      "id": "3044824e-12aa-464f-a181-4cb067f41d5a",
      "name": "本地爬虫接口"
    },
    {
      "parameters": {
        "jsCode": "// 解析HTML字符串，提取所有的a标签块及其中的标题、链接和时间\nconst html = $input.first().json.data.html.toString();\n\n// 使用正则表达式提取所有a标签块\nconst aTagBlocks = html.match(/<a href=\"[^\"]+\"[^>]*>[\\s\\S]*?<\\/a>/g) || [];\n\n// 获取当前时间\nconst now = new Date();\n\n// 创建结果数组\nconst results = [];\n\n// 时间转换函数\nfunction convertRelativeTime(timeText) {\n  if (!timeText) return null;\n  \n  const minutesMatch = timeText.match(/(\\d+)分钟前/);\n  if (minutesMatch) {\n    const minutes = parseInt(minutesMatch[1]);\n    const date = new Date(now.getTime() - minutes * 60 * 1000);\n    return date;\n  }\n  \n  const hoursMatch = timeText.match(/(\\d+)小时前/);\n  if (hoursMatch) {\n    const hours = parseInt(hoursMatch[1]);\n    const date = new Date(now.getTime() - hours * 60 * 60 * 1000);\n    return date;\n  }\n  \n  const yesterdayMatch = timeText.match(/昨天\\s*(\\d+):(\\d+)/);\n  if (yesterdayMatch) {\n    const hours = parseInt(yesterdayMatch[1]);\n    const minutes = parseInt(yesterdayMatch[2]);\n    const date = new Date(now);\n    date.setDate(date.getDate() - 1);\n    date.setHours(hours, minutes, 0, 0);\n    return date;\n  }\n  \n  const dayBeforeYesterdayMatch = timeText.match(/前天\\s*(\\d+):(\\d+)/);\n  if (dayBeforeYesterdayMatch) {\n    const hours = parseInt(dayBeforeYesterdayMatch[1]);\n    const minutes = parseInt(dayBeforeYesterdayMatch[2]);\n    const date = new Date(now);\n    date.setDate(date.getDate() - 2);\n    date.setHours(hours, minutes, 0, 0);\n    return date;\n  }\n  \n  return null;\n}\n\n// 遍历每个a标签块，提取标题、链接和时间\naTagBlocks.forEach(block => {\n  const linkMatch = block.match(/<a href=\"([^\"]+)\"/);\n  const titleMatch = block.match(/<h2>([^<]+)<\\/h2>/);\n  const timeMatch = block.match(/<span>([^<]+)<\\/span>\\s*<\\/div>/);\n  \n  if (linkMatch && linkMatch[1] && titleMatch && titleMatch[1]) {\n    const result = {\n      title: titleMatch[1].trim(),\n      link: linkMatch[1].trim()\n    };\n    \n    // 处理时间\n    if (timeMatch && timeMatch[1]) {\n      const timeText = timeMatch[1].trim();\n      const publishDate = convertRelativeTime(timeText);\n      \n      if (publishDate) {\n        result.publishTime = publishDate;\n      } else {\n        result.publishTimeRaw = timeText;\n      }\n    }\n    \n    results.push(result);\n  }\n});\n\n// 返回结果数组\nreturn results.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        -20
      ],
      "id": "374bb398-3ae2-43d5-bddf-fffc269f42eb",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        300,
        80
      ],
      "id": "f0a3b0ee-a2c2-4a61-8107-c29e81f7eb6c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3002/v1/scrape ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.link }}\",\n  \"formats\": [ \"markdown\"],\n  \"includeTags\": [ \".m-txt\" ],\n\"excludeTags\": [\"#jb_report\", \".statement\"]\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        20
      ],
      "id": "78b52605-ad9a-4175-b7b6-03b6db7e39ba",
      "name": "网页获取"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1a8629a6-152d-8038-9fa8-ca68e6c5503a",
          "mode": "list",
          "cachedResultName": "N8N-每日热点",
          "cachedResultUrl": "https://www.notion.so/1a8629a6152d80389fa8ca68e6c5503a"
        },
        "limit": 30,
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -240,
        180
      ],
      "id": "a974af56-fbe2-4999-99d4-8266b8ae3635",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "tHqNwAxXQ88MGWlm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "link",
              "field2": "properties.url.url"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        80,
        100
      ],
      "id": "4c29e3eb-b5bb-42e2-af47-b1fe263ae420",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 将Markdown文本转换为纯文本\n * @param {string} markdown - 输入的Markdown格式文本\n * @returns {string} - 转换后的纯文本字符串\n */\nfunction markdownToText(markdown) {\n    if (!markdown) return '';\n\n    let text = markdown;\n\n    // 移除代码块\n    text = text.replace(/```[\\s\\S]*?```/g, '');\n    text = text.replace(/`([^`]+)`/g, '$1');\n\n    // 移除标题符号\n    text = text.replace(/^#{1,6}\\s+/gm, '');\n\n    // 移除粗体和斜体\n    text = text.replace(/[*_]{2}([^*_]+)[*_]{2}/g, '$1'); // 粗体\n    text = text.replace(/[*_]([^*_]+)[*_]/g, '$1'); // 斜体\n\n    // 处理链接\n    text = text.replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1'); // [文本](链接)\n    text = text.replace(/\\[([^\\]]+)\\]\\[[^\\]]*\\]/g, '$1'); // [文本][引用]\n\n    // 移除图片标记\n    text = text.replace(/!\\[([^\\]]*?)\\]\\([^)]+\\)/g, '$1');\n    \n    // 处理各种非标准格式的图片标记\n    // 处理类似 \"!图片                )\" 的情况\n    text = text.replace(/!图片\\s*\\)/g, '');\n    // 处理类似 \"!图片                \" 的情况（在行尾）\n    text = text.replace(/!图片\\s*$/g, '');\n    // 处理任何以感叹号开头后跟\"图片\"的内容\n    text = text.replace(/!图片[\\s\\S]*?\\)/g, '');\n    // 处理可能残留的右括号\n    text = text.replace(/^\\s*\\)\\s*$/gm, '');\n    // 处理可能残留的空行\n    text = text.replace(/^\\s*$/gm, '');\n\n    // 处理列表\n    text = text.replace(/^[\\s]*[\\-*+]\\s+/gm, ''); // 无序列表\n    text = text.replace(/^[\\s]*\\d+\\.\\s+/gm, ''); // 有序列表\n\n    // 处理引用\n    text = text.replace(/^\\s*>\\s+/gm, '');\n\n    // 处理水平分割线\n    text = text.replace(/^\\s*[-*_]{3,}\\s*$/gm, '\\n');\n\n    // 移除SVG相关标签及其内容\n    text = text.replace(/<svg[^>]*>(([\\s\\S]*?)<\\/svg>)?/gi, '');\n    \n    // 增强SVG标签清理（包含自闭合标签和更多元素）\n    const svgElements = 'svg|rect|circle|path|line|polygon|polyline|g|defs|use|symbol|ellipse|text|image|clipPath|mask|pattern|filter|marker|linearGradient|radialGradient|stop|tspan|textPath|animate|animateMotion|animateTransform|set|foreignObject|switch|desc|title|metadata';\n    text = text.replace(new RegExp(`<(${svgElements})(\\\\s[^>]*)?\\\\/?>`,'gi'), '');\n    text = text.replace(new RegExp(`<\\\\/(${svgElements})>`,'gi'), '');\n    \n    // 移除单独的SVG标签片段（如' rect /rect /g /g /svg'）\n    text = text.replace(/[\\s']+(?:rect|circle|path|g|svg|defs|use|symbol)\\s*\\/?/gi, ' ');\n    text = text.replace(/[\\s']+\\/(?:rect|circle|path|g|svg|defs|use|symbol)\\s*/gi, ' ');\n    \n    // 移除括号内的SVG标签片段\n    text = text.replace(/\\([^\\)]*?(?:rect|circle|path|g|svg)[^\\)]*?\\)/gi, '');\n    \n    // 清理SVG属性和标签片段\n    // 处理类似 ' fill=' FFFFFF' rect x='249' y='126' width='1' height='1' /rect /g /g /svg )' 的内容\n    text = text.replace(/['\"\\s]+(fill|x|y|width|height|rx|ry|cx|cy|r|d|points|viewBox|xmlns)=['\"]?[^'\">\\s]*['\"]?/gi, ' ');\n    text = text.replace(/\\s+(?:\\/)?(?:rect|circle|path|g|svg|defs|use|symbol|ellipse|text|image)(?:\\s+|\\/)/gi, ' ');\n    text = text.replace(/\\s+\\/(?:rect|circle|path|g|svg|defs|use|symbol|ellipse|text|image)(?:\\s+|$)/gi, ' ');\n    \n    // 移除SVG和HTML常见属性\n    const commonAttributes = 'xmlns|version|viewBox|width|height|class|style|id|fill|stroke|d|points|transform|x|y|cx|cy|r|x1|y1|x2|y2|dx|dy|offset|gradientUnits|spreadMethod|patternUnits|patternTransform|markerWidth|markerHeight|refX|refY|orient|font-size|font-family|text-anchor|alignment-baseline|href|xlink:href|preserveAspectRatio';\n    text = text.replace(new RegExp(`\\\\s+(${commonAttributes})=[\\\"\\']([^\\\"\\']*)[\\\"\\'](?:\\\\s+|$)`,'gi'), ' ');\n    \n    // 移除data URI和编码内容\n    text = text.replace(/data:(?:[^;]+;)*(?:base64,)?[a-zA-Z0-9+/]+={0,2}/g, '');\n    text = text.replace(/%[0-9a-fA-F]{2}/g, ' ');\n    \n    // 最终清理：移除任何剩余的SVG相关内容\n    // 处理括号中的SVG内容\n    text = text.replace(/\\([^\\)]*(?:svg|rect|g|path|circle)[^\\)]*\\)/gi, '');\n    // 处理引号中的SVG内容\n    text = text.replace(/'[^']*(?:svg|rect|g|path|circle)[^']*'/gi, '');\n    text = text.replace(/\"[^\"]*(?:svg|rect|g|path|circle)[^\"]*\"/gi, '');\n    // 处理任何剩余的SVG标签片段\n    text = text.replace(/(?:\\/)?(?:svg|rect|g|path|circle|defs|use|symbol)(?:\\/)?/gi, '');\n    \n    // 移除其他HTML标签\n    text = text.replace(/<[^>]+>/g, '');\n\n    // 处理转义字符\n    text = text.replace(/\\\\([\\\\`*_{}\\[\\]()#+\\-.!])/g, '$1');\n\n    // 清理多余的空行\n    text = text.replace(/\\n\\s*\\n/g, '\\n\\n');\n    text = text.replace(/^\\s+|\\s+$/g, '');\n\n    return text;\n}\n\n/**\n * 将文本按指定长度分段\n * @param {string} text - 输入文本\n * @param {number} segmentLength - 每段文本的最大长度\n * @returns {string[]} - 分段后的文本数组\n */\nfunction splitTextIntoSegments(text, segmentLength = 1800) {\n    const segments = [];\n    let remainingText = text;\n\n    while (remainingText.length > 0) {\n        if (remainingText.length <= segmentLength) {\n            segments.push(remainingText);\n            break;\n        }\n\n        let endIndex = segmentLength;\n        // 尝试在句子或段落边界处分段\n        const nextParagraph = remainingText.indexOf('\\n\\n', endIndex - 100);\n        const nextSentence = remainingText.indexOf('. ', endIndex - 100);\n\n        if (nextParagraph !== -1 && nextParagraph < endIndex + 100) {\n            endIndex = nextParagraph;\n        } else if (nextSentence !== -1 && nextSentence < endIndex + 100) {\n            endIndex = nextSentence + 1;\n        }\n\n        segments.push(remainingText.substring(0, endIndex).trim());\n        remainingText = remainingText.substring(endIndex).trim();\n    }\n\n    return segments;\n}\n\n// 示例输入\nconst markdownInput = $input.first().json.data.markdown;\nconst plainText = markdownToText(markdownInput);\nconst textSegments = splitTextIntoSegments(plainText);\n\n// 将文本段落转换为规范的block对象格式\nconst blocks = textSegments.map(segment => ({\n    object: 'block',\n    type: 'paragraph',\n    paragraph: {\n        rich_text: [\n            {\n                type: 'text',\n                annotations: {\n                    bold: false,\n                    strikethrough: false,\n                    underline: false,\n                    italic: false,\n                    code: false,\n                    color: 'default'\n                },\n                text: {\n                    content: segment\n                }\n            }\n        ]\n    }\n}));\n\nreturn {\n    blocks: blocks\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        20
      ],
      "id": "5b3dbb5a-caee-40a6-bd54-360e4dee49df",
      "name": "将Markdown文本转换为纯文本"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $json.id }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "children",
              "value": "={{ $('将Markdown文本转换为纯文本').item.json.blocks }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        100
      ],
      "id": "5fdd1b63-e8de-40d8-9ed5-d7439f3b6247",
      "name": "HTTP Request",
      "credentials": {
        "notionApi": {
          "id": "tHqNwAxXQ88MGWlm",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1a8629a6-152d-8038-9fa8-ca68e6c5503a",
          "mode": "list",
          "cachedResultName": "N8N-每日热点",
          "cachedResultUrl": "https://www.notion.so/1a8629a6152d80389fa8ca68e6c5503a"
        },
        "title": "={{ $('Loop Over Items').item.json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "url|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ $('Loop Over Items').item.json.link }}"
            },
            {
              "key": "发布日期|date",
              "date": "={{ $('Loop Over Items').item.json.publishTime }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1000,
        20
      ],
      "id": "8d93209c-c63e-4272-8f49-41a6bdfd700f",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "tHqNwAxXQ88MGWlm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## tips\n配置好参数走通流程后，后面可以改成定时触发，如每个小时执行一次，同步执行平台的资讯内容",
        "height": 100,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -700,
        280
      ],
      "typeVersion": 1,
      "id": "bdf0aec1-fed9-4f85-9654-e6b94bbb24da",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "本地爬虫接口": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "本地爬虫接口",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "网页获取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "网页获取": {
      "main": [
        [
          {
            "node": "将Markdown文本转换为纯文本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "将Markdown文本转换为纯文本": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07b581ad-57a0-4531-8eae-0d38a2993934",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "667f8e49cea6f05a4f2d4764a2ef083b44c681d7bcf3709cc71f85be90eeca2e"
  },
  "id": "fkhvdTaQQIjFneO6",
  "tags": []
}