n8n/工作流/实战工作流/判断节点.json
{
  "name": "微信机器人online",
  "nodes": [
    {
      "parameters": {
        "sendTo": "604309279@qq.com",
        "subject": "N8N日报工作流出错",
        "emailType": "text",
        "message": "=Wechat离线，请及时检查！",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        -100
      ],
      "id": "37bd0d32-c270-4bb1-a144-10dff4490671",
      "name": "Gmail",
      "webhookId": "d270061f-a6cf-4c74-bd9c-b77566dd742f",
      "credentials": {
        "gmailOAuth2": {
          "id": "21aOj0JoBOjQXH4P",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gewe.***.com/v2/api/login/checkOnline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-GEWE-TOKEN",
              "value": "****"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"appId\": \"****\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        -80
      ],
      "id": "49e7eebc-f79d-44bb-be89-e431e34a0214",
      "name": "检查是否在线",
      "notesInFlow": true,
      "notes": "检查wechat是否在线"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04a4c969-638e-44d9-9630-42ebf1550b74",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        -80
      ],
      "id": "a85d079f-6445-4fd3-8253-204ff5d6f8a5",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        -80
      ],
      "id": "a48dfc0b-a9c5-4729-b206-c1f60ef57b11",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "检查是否在线": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "检查是否在线",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "353a940e-2927-4e7f-aea3-d0728c967d1b",
  "meta": {
    "instanceId": "b98b98135dab39d60742eab16a2a66a05dec7028bfdb9b31aea7dce5ef9e0c67"
  },
  "id": "CKnZqVm1gt7VXcES",
  "tags": []
}