n8n/工作流/实战工作流/抖音多账户监控工作流-子.json
{
  "name": "抖音自动化子流程",
  "nodes": [
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./n8ndata/{{ $('Loop Over Items1').item.json.desc.replace(/#.*|\\s+$| .*/g, '').trim() }}/字幕.srt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3980,
        600
      ],
      "id": "b907f4c1-e9b8-4149-b983-74eec4d231df",
      "name": "Read/Write Files from Disk1",
      "notesInFlow": true,
      "notes": "存储视频"
    },
    {
      "parameters": {
        "jsCode": "// 获取输入数据中的SRT内容\nconst inputData = $input.all()[0].json.data;\n\n// 解析JSON字符串，处理转义字符\nconst srtContent = JSON.parse(inputData);\n\n// 将SRT内容转换为base64编码\nconst base64Content = Buffer.from(srtContent, 'utf-8').toString('base64');\n\n// 返回符合n8n格式的结果，包含binary data\nreturn [{\n  json: {\n    message: \"SRT文件已生成\",\n    fileName: \"subtitle.srt\"\n  },\n  binary: {\n    data: {\n      data: base64Content,\n      mimeType: 'text/plain',\n      fileName: 'subtitle.srt'\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        600
      ],
      "id": "7900c088-0704-4ffc-a7ed-de694992f4a1",
      "name": "Code3"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4300,
        580
      ],
      "id": "41e3261d-0b89-41a1-a649-f0b3a5aa737e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "226629a6-152d-80c7-8848-e702815d9d27",
          "mode": "list",
          "cachedResultName": "抖音视频",
          "cachedResultUrl": "https://www.notion.so/226629a6152d80c78848e702815d9d27"
        },
        "title": "={{ $json.desc }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "视频名称|title",
              "title": "={{ $json.desc }}"
            },
            {
              "key": "发布时间|rich_text",
              "textContent": "={{ new Date($json.create_time * 1000).toLocaleString('zh-CN', { timeZone: 'Asia/Shanghai' }) }}"
            },
            {
              "key": "所属账号|rich_text",
              "textContent": "={{ $json.author.nickname }}"
            },
            {
              "key": "网址|url",
              "urlValue": "=https://www.douyin.com/video/{{ $json.aweme_id }}"
            },
            {
              "key": "收藏|number",
              "numberValue": "={{ $json.statistics.collect_count }}"
            },
            {
              "key": "点赞数|number",
              "numberValue": "={{ $json.statistics.digg_count }}"
            },
            {
              "key": "评论数|number",
              "numberValue": "={{ $json.statistics.comment_count }}"
            },
            {
              "key": "转发|number",
              "numberValue": "={{ $json.statistics.share_count }}"
            },
            {
              "key": "视频封面|url",
              "urlValue": "={{ $json.video.cover.url_list.last() }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_3",
              "textContent": "视频封面"
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "点击查看",
                    "isLink": true,
                    "textLink": "={{ $json.video.cover.url_list.last() }}",
                    "annotationUi": {
                      "color": "blue"
                    }
                  }
                ]
              }
            },
            {
              "type": "heading_3",
              "textContent": "视频链接"
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "1、1080P",
                    "isLink": true,
                    "textLink": "={{ $json.video.bit_rate[0].play_addr.url_list.last() }}",
                    "annotationUi": {
                      "color": "blue"
                    }
                  }
                ]
              }
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "2、540P",
                    "isLink": true,
                    "textLink": "={{ $json.video.bit_rate[8].play_addr.url_list.last() }}",
                    "annotationUi": {
                      "color": "blue"
                    }
                  }
                ]
              }
            },
            {
              "type": "heading_3",
              "textContent": "视频文案"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2220,
        500
      ],
      "id": "19cd0345-bbba-498d-a92d-649acc25359a",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "tHqNwAxXQ88MGWlm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1980,
        500
      ],
      "id": "a6171b31-8045-485a-8261-e513059e038e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9dcb5e9-bf2a-45ae-bf3a-ce3ea9e84a5a",
              "leftValue": "={{ $('Start').item.json.download}}",
              "rightValue": "=是",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        500
      ],
      "id": "56a1a73e-7d65-432a-8e30-27fa0da85899",
      "name": "If",
      "notesInFlow": true,
      "notes": "是否下载视频"
    },
    {
      "parameters": {
        "command": "=mkdir -p  ./n8ndata/{{ $('Loop Over Items1').item.json.desc.replace(/#.*|\\s+$| .*/g, '').trim() }}\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2640,
        500
      ],
      "id": "956418ed-00f1-4041-b3a2-dab0ba1d0c6b",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/api/download",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "=https://www.douyin.com/video/{{ $('Loop Over Items1').item.json.aweme_id }}"
            },
            {
              "name": "prefix",
              "value": "true"
            },
            {
              "name": "with_watermark",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        500
      ],
      "id": "1a227133-d60a-45a6-9546-64dfc9121762",
      "name": "HTTP Request",
      "notesInFlow": true,
      "notes": "下载无水印视频"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./n8ndata/{{ $('Loop Over Items1').item.json.desc.replace(/#.*|\\s+$| .*/g, '').trim() }}/video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3080,
        500
      ],
      "id": "d1a605ce-1d6a-480b-8420-0e65f73c58a3",
      "name": "Read/Write Files from Disk",
      "notesInFlow": true,
      "notes": "存储视频"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lemonfox.ai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer lemonfox平台的key"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $('Loop Over Items1').item.json.video.bit_rate[8].play_addr.url_list.last() }}.mp4"
            },
            {
              "name": "language",
              "value": "chinese"
            },
            {
              "name": "response_format",
              "value": "srt"
            },
            {
              "name": "Prompt",
              "value": "请使用标点符号：，。、；：？！"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3540,
        480
      ],
      "id": "ca53b06d-f07b-4b98-acb5-7ab6f5b66f08",
      "name": "HTTP Request1",
      "notesInFlow": true,
      "notes": "音频转录"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b30aa44-826d-44a6-a4c0-a0e0806b6c37",
              "leftValue": "={{ $('Start').item.json.zimu}}",
              "rightValue": "是",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3300,
        500
      ],
      "id": "07cc6100-1e5a-4191-82aa-0a47027ee765",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// 获取输入数据\nconst inputData = $input.all();\n\n// 提取文案内容的函数\nfunction extractText(data) {\n  // 确保data存在\n  if (!data) return '';\n  \n  // 移除字符串开头和结尾的引号\n  let content = data.replace(/^\"|\"$/g, '');\n  \n  // 按换行符分割\n  const lines = content.split('\\\\n');\n  \n  const textLines = [];\n  \n  for (let line of lines) {\n    line = line.trim();\n    \n    // 跳过空行\n    if (line === '') continue;\n    \n    // 跳过纯数字行（序号）\n    if (/^\\d+$/.test(line)) continue;\n    \n    // 跳过时间戳行（包含 --> 的行）\n    if (line.includes('-->')) continue;\n    \n    // 保留文案内容\n    textLines.push(line);\n  }\n  \n  // 处理标点符号并拼接\n  let result = '';\n  for (let i = 0; i < textLines.length; i++) {\n    let text = textLines[i];\n    \n    // 如果文本末尾没有标点符号，添加逗号\n    if (!/[。！？，、；：\"\"''（）【】《》]$/.test(text)) {\n      // 如果是最后一句，添加句号\n      if (i === textLines.length - 1) {\n        text += '。';\n      } else {\n        text += '，';\n      }\n    } else if (i < textLines.length - 1) {\n      // 如果有标点但不是最后一句，确保有适当的连接\n      if (/[。！？]$/.test(text)) {\n        // 句号、感叹号、问号后面不需要额外标点\n      } else if (!/[，、；]$/.test(text)) {\n        // 其他情况添加逗号\n        text += '，';\n      }\n    }\n    \n    result += text;\n  }\n  \n  return result;\n}\n\n// 简化的文本分段函数（只按逗号分段）\nfunction segmentText(text, maxLength = 1800) {\n  if (text.length <= maxLength) {\n    return [text];\n  }\n  \n  const segments = [];\n  let remaining = text;\n  \n  while (remaining.length > maxLength) {\n    // 在限制范围内寻找最后一个逗号\n    const searchText = remaining.substring(0, maxLength);\n    const lastCommaIndex = searchText.lastIndexOf('，');\n    \n    let cutPoint;\n    if (lastCommaIndex > 0) {\n      // 在逗号后面分割（包含逗号）\n      cutPoint = lastCommaIndex + 1;\n    } else {\n      // 如果没有逗号，强制分割\n      cutPoint = maxLength;\n    }\n    \n    // 提取当前段落\n    segments.push(remaining.substring(0, cutPoint).trim());\n    remaining = remaining.substring(cutPoint).trim();\n  }\n  \n  // 添加剩余部分\n  if (remaining) {\n    segments.push(remaining);\n  }\n  \n  return segments.filter(segment => segment.length > 0);\n}\n\n// 转换为Notion block格式的函数\nfunction createNotionBlocks(textSegments) {\n  return textSegments.map(segment => ({\n    object: 'block',\n    type: 'paragraph',\n    paragraph: {\n      rich_text: [\n        {\n          type: 'text',\n          annotations: {\n            bold: false,\n            strikethrough: false,\n            underline: false,\n            italic: false,\n            code: false,\n            color: 'default'\n          },\n          text: {\n            content: segment\n          }\n        }\n      ]\n    }\n  }));\n}\n\n// 处理数据\nconst results = [];\n\ninputData.forEach(item => {\n  // 尝试不同的数据访问路径\n  const dataContent = item.json?.data || item.data || '';\n  const extractedText = extractText(dataContent);\n  \n  if (extractedText) {\n    // 检查文本长度并分段\n    const textSegments = segmentText(extractedText, 2000);\n    \n    // 转换为Notion blocks格式\n    const blocks = createNotionBlocks(textSegments);\n    \n    // 添加到结果中\n    results.push({\n      json: {\n        totalLength: extractedText.length,\n        segmentCount: textSegments.length,\n        blocks: blocks\n      }\n    });\n  }\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        340
      ],
      "id": "7d508b1d-8179-4459-b7da-559abe72700f",
      "name": "Code1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "4f13e4d6-e69c-425a-a8b9-11a734dfb848",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1740,
        500
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $('Notion').item.json.id }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "children",
              "value": "={{ $json.blocks }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        380
      ],
      "id": "8e19a454-3517-44de-8e17-f4d30a1049f6",
      "name": "HTTP Request2",
      "credentials": {
        "notionApi": {
          "id": "tHqNwAxXQ88MGWlm",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2bf2cd4b-f6b3-4f13-91e3-d047b1ce9305",
  "meta": {
    "instanceId": "667f8e49cea6f05a4f2d4764a2ef083b44c681d7bcf3709cc71f85be90eeca2e"
  },
  "id": "14zXqqTprTlOWnDb",
  "tags": []
}