n8n/工作流/N8NWorkflowsTest-main/N8NWorkflowsTest-main/tips/03_n8n配置飞书多维表格附件上传和下载/Tips_n8n配置飞书多维表格附件上传和下载.json
{
  "name": "Tips_n8n配置飞书多维表格附件上传和下载",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2560,
        880
      ],
      "id": "c0e24f86-c36f-4326-b46a-9aba3fa48f98",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\":\"application/json; charset=utf-8\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"app_id\": {{ $json.app_id.toJsonString() }},\n    \"app_secret\": {{ $json.app_secret.toJsonString() }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2176,
        880
      ],
      "id": "44e413bc-d4c4-4780-b9a5-e0668c255028",
      "name": "获取飞书Token",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad0fb75f-4bf4-4157-8641-07b6d87aa235",
              "name": "app_id",
              "value": "cli_a8759c6a213d500e",
              "type": "string"
            },
            {
              "id": "8211841d-8df6-413c-9518-6bd69380d327",
              "name": "app_secret",
              "value": "hLjKsc00B0lCNEM9Vr0qkdjC06mIj6mb",
              "type": "string"
            },
            {
              "id": "67067775-7b08-4818-b22d-b410f12d6aa4",
              "name": "folder_token",
              "value": "OfoZfyXXolntCwdFeWKcEbAun0b",
              "type": "string"
            },
            {
              "id": "ec0a2fe7-801f-421f-a11e-474e8d111611",
              "name": "app_token",
              "value": "GMUUbnoFpanlzPsqwDyctx0xnYg",
              "type": "string"
            },
            {
              "id": "6fffd4d5-a41a-4808-9761-2a5e61821495",
              "name": "table_id",
              "value": "tblzwb83wp6PMkYJ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        880
      ],
      "id": "cf0b3207-418b-4f7d-bce0-7edcbbff67cf",
      "name": "设置应用凭证",
      "notesInFlow": true,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('设置应用凭证').item.json.app_token }}/tables/{{ $('设置应用凭证').item.json.table_id }}/records/search ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            },
            {
              "name": "page_token"
            },
            {
              "name": "page_size",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"sort\": [\n    {\n      \"field_name\": \"id\",\n      \"desc\": false\n    }\n  ],\n  \"automatic_fields\": false\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2000,
        880
      ],
      "id": "138de378-0453-4435-bf22-0d815d4c481a",
      "name": "获取多维表格记录",
      "notesInFlow": true,
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -848,
        896
      ],
      "id": "9fc5eac9-5798-4f0e-9a89-c668242aecfa",
      "name": "等待2秒",
      "webhookId": "1b4ef572-db69-4abd-92a0-deb899721ab8",
      "notesInFlow": true,
      "notes": "Wait"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./.n8n-files/{{ $json.file_token }}_{{ $json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1024,
        896
      ],
      "id": "8f33b2e6-829c-4563-a66d-7c440272bd8c",
      "name": "保存素材到本地",
      "notesInFlow": true,
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "url": "=https://open.feishu.cn/open-apis/drive/v1/medias/{{ $json.file_token }}/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1216,
        896
      ],
      "id": "5c9d8891-add9-4110-833e-a5c7e1df13c3",
      "name": "获取素材二进制文件",
      "notesInFlow": true,
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1424,
        880
      ],
      "id": "57123f48-116f-4196-bd76-7c71784a723f",
      "name": "循环保存素材",
      "notesInFlow": true,
      "notes": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "[\"附件1\"]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1616,
        880
      ],
      "id": "d8a10ca9-3b8b-4e47-b300-e538278c5d45",
      "name": "拆分数据单独处理",
      "notesInFlow": true,
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88f93589-8d95-43f8-9534-d9cbfc59c4ba",
              "name": "附件1",
              "value": "={{ $json.data.items[0].fields['附件1'] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1792,
        880
      ],
      "id": "53aa04c0-aba7-438b-a30c-6b6a1eaa019d",
      "name": "获取表格内附件",
      "notesInFlow": true,
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('设置应用凭证').item.json.app_token }}/tables/{{ $('设置应用凭证').item.json.table_id }}/records/{{ $('获取多维表格记录').item.json.data.items[0].record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"附件2\": [\n        {\n            \"file_token\": {{ $json.data.file_token.toJsonString() }}\n        }\n    ]\n  }\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        1104
      ],
      "id": "2f5ef5a0-1f94-42f0-87fc-8dbf5b41ff60",
      "name": "更新记录 等待确认",
      "notesInFlow": true,
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 节点功能：获取当前传递过来视频二进制文件的大小和重新挂载视频文件传递给下一个节点\n// Author:@南哥AGI研习社 (B站 or YouTube 搜索“南哥AGI研习社”)\n\n// 读取二进制 buffer，返回字节数\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst sizeInBytes = buffer.length;\n\n// 同时把原来的 binary.data 一起传出去\nreturn [\n  {\n    json: {\n      size_in_bytes: sizeInBytes,\n    },\n    binary: {\n      // 直接复用上一个节点的 binary.data\n      data: $input.first().binary.data,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        1120
      ],
      "id": "2b8463fb-eb8f-42de-a503-3982230fb99e",
      "name": "获取视频文件大小",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Code in JavaScript"
    },
    {
      "parameters": {
        "fileSelector": "./.n8n-files/videos/test.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1792,
        1120
      ],
      "id": "ec02ae21-f6d2-4977-ba88-e058cb9ab6cf",
      "name": "读取本地视频",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -320,
        1280
      ],
      "id": "969d954f-03c2-4f77-a9b4-4d189630778b",
      "name": "等待3秒",
      "webhookId": "023b8328-1a08-4a02-8c8b-932233743d8d",
      "notesInFlow": true,
      "notes": "Wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/drive/v1/medias/upload_part",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data; boundary=---7MA4YWxkTrZu0gW"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_id",
              "value": "={{ $('分片上传素材-预上传').item.json.data.upload_id }}"
            },
            {
              "name": "seq",
              "value": "={{ $json.chunkIndex }}"
            },
            {
              "name": "=size",
              "value": "={{ $json.chunkSize }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        1280
      ],
      "id": "7c4cf33e-f25d-4251-83dc-c308b3fb11e5",
      "name": "分片上传素材-上传分片",
      "notesInFlow": true,
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/drive/v1/medias/upload_finish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $('分片上传素材-预上传').item.json.data.upload_id }}\",\n  \"block_num\": {{ $('分片上传素材-预上传').item.json.data.block_num }}\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        1104
      ],
      "id": "8753384a-14c7-4dd0-93b4-ea8bef5c3922",
      "name": "分片上传素材-完成上传",
      "notesInFlow": true,
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 节点功能：把某个上游节点的 json 和 binary 重新挂到当前输出上\n// Author:@南哥AGI研习社 (B站 or YouTube 搜索“南哥AGI研习社”)\n\nreturn {\n  json: $('获取视频文件大小').item.json,\n  binary: $('获取视频文件大小').item.binary,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        1120
      ],
      "id": "caeb62f1-3517-4b6e-9746-94d1839fd83e",
      "name": "重新挂载二进制文件",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/drive/v1/medias/upload_prepare",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_name\": \"test.mp4\",\n  \"parent_type\": \"bitable_file\",\n  \"parent_node\": {{ $('设置应用凭证').item.json.app_token.toJsonString() }},\n  \"size\": {{ $json.size_in_bytes }}\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        1120
      ],
      "id": "4017c1a2-3869-4817-b22f-bda8c3edb58a",
      "name": "分片上传素材-预上传",
      "notesInFlow": true,
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 节点功能：对获取到的视频进行分片处理\n// Author:@南哥AGI研习社 (B站 or YouTube 搜索“南哥AGI研习社”)\n\nconst CHUNK_SIZE = 4 * 1024 * 1024; // 4MB in bytes\n\n// 获取输入的视频二进制数据\nconst binaryData = items[0].binary.data;\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n// 计算需要分成多少块\nconst totalChunks = Math.ceil(buffer.length / CHUNK_SIZE);\nconst chunks = [];\n\n// 分割二进制数据\nfor (let i = 0; i < totalChunks; i++) {\n  const start = i * CHUNK_SIZE;\n  const end = Math.min(start + CHUNK_SIZE, buffer.length);\n  const chunkBuffer = buffer.slice(start, end);\n  \n  // 为每个块创建新的二进制数据对象\n  chunks.push({\n    json: {\n      chunkIndex: i,\n      totalChunks: totalChunks,\n      chunkSize: chunkBuffer.length,\n      originalFileName: binaryData.fileName || 'video'\n    },\n    binary: {\n      data: await this.helpers.prepareBinaryData(\n        chunkBuffer,\n        `${binaryData.fileName || 'video'}_chunk_${i}.bin`\n      )\n    }\n  });\n}\n\nreturn chunks;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1120
      ],
      "id": "ba17ee21-baad-433a-973f-3946fcd69f76",
      "name": "视频分片",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        1120
      ],
      "id": "055f7f19-8301-4cf1-97aa-c5b0a1b2a93b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -672,
        1104
      ],
      "id": "50e2c4a9-534d-45dd-acc1-132437273c30",
      "name": "合并数据统一处理",
      "notesInFlow": true,
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "设置应用凭证",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取飞书Token": {
      "main": [
        [
          {
            "node": "获取多维表格记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置应用凭证": {
      "main": [
        [
          {
            "node": "获取飞书Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取多维表格记录": {
      "main": [
        [
          {
            "node": "读取本地视频",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取表格内附件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待2秒": {
      "main": [
        [
          {
            "node": "循环保存素材",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存素材到本地": {
      "main": [
        [
          {
            "node": "等待2秒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取素材二进制文件": {
      "main": [
        [
          {
            "node": "保存素材到本地",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "循环保存素材": {
      "main": [
        [],
        [
          {
            "node": "获取素材二进制文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分数据单独处理": {
      "main": [
        [
          {
            "node": "循环保存素材",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取表格内附件": {
      "main": [
        [
          {
            "node": "拆分数据单独处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新记录 等待确认": {
      "main": [
        []
      ]
    },
    "获取视频文件大小": {
      "main": [
        [
          {
            "node": "分片上传素材-预上传",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待3秒": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分片上传素材-上传分片": {
      "main": [
        [
          {
            "node": "等待3秒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分片上传素材-完成上传": {
      "main": [
        [
          {
            "node": "更新记录 等待确认",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重新挂载二进制文件": {
      "main": [
        [
          {
            "node": "视频分片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分片上传素材-预上传": {
      "main": [
        [
          {
            "node": "重新挂载二进制文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "视频分片": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "合并数据统一处理",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "分片上传素材-上传分片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地视频": {
      "main": [
        [
          {
            "node": "获取视频文件大小",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并数据统一处理": {
      "main": [
        [
          {
            "node": "分片上传素材-完成上传",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88164b7e-6b33-467b-a596-70f132c623a7",
  "meta": {
    "instanceId": "830bfffc51ff88cd51b86a768f6a50a5b290896243e17b0bdf0f08551c38ba51"
  },
  "id": "gk6NAVd30i3t8tJz",
  "tags": []
}