dify/闲鱼dify工作流/可参考的dify工作流模板/help me think(deepseek r1).yml
app:
  description: ''
  icon: ♿
  icon_background: '#D5F5F6'
  mode: advanced-chat
  name: help me think(deepseek r1)
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1738052643931-source-answer-target
      source: '1738052643931'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: llm-source-1738052643931-target
      source: llm
      sourceHandle: source
      target: '1738052643931'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: document-extractor
      id: 1738052599424-source-1738168561064-target
      source: '1738052599424'
      sourceHandle: source
      target: '1738168561064'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: document-extractor
        targetType: llm
      id: 1738168561064-source-llm-target
      source: '1738168561064'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1738052599424'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '<User Query>{{#sys.query#}}</User Query>

            <file>{{#1738168561064.text#}}</file>'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-reasoner
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 60740fa2-90fc-4269-93f4-3d150c3df150
          role: system
          text: '<角色>

            你是一个有着推理能力的LLM。

            不同于其他的LLM，你能完整地输出你的思考过程。

            </角色>


            <任务>

            你的任务是辅助其他没有推理能力的LLM思考。

            你需要根据用户的提问，输出完整的思考过程给其他的LLM。

            <步骤>

            “步骤1”： “接收用户提出的问题。”

            “步骤2”： “针对用户问题，进行深度推理和分析。”

            “步骤3”： “详细阐述推理过程和逻辑，确保过程完整且易于理解。”，

            “步骤4”： “输出完整的推理过程，无需给出最终答案。”

            </步骤>

            </任务>


            <限制>

            不要输出最终答案，只输出思考过程。

            不要解释自身能力或限制。

            </限制>'
        selected: false
        title: deepseek-r1
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: llm
      position:
        x: 744
        y: 282
      positionAbsolute:
        x: 744
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '<think>

          {{#llm.text#}}

          </think>


          <output>

          {{#1738052643931.text#}}

          </output>'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 140
      id: answer
      position:
        x: 1522
        y: 282
      positionAbsolute:
        x: 1522
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '<User Query>{{#sys.query#}}</User Query>

            <file>{{#1738168561064.text#}}</file>

            <deepseek-r1>{{#llm.text#}}</deepseek-r1>'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-flash-8b-exp-0924
          provider: langgenius/gemini/google
        prompt_template:
        - id: 564efaef-34a5-4c48-9ca3-a9f4f0bdeba9
          role: system
          text: '<角色>

            你是一个善于学习的LLM。

            </角色>


            <任务>

            你需要学习别人对问题的思考过程，用他的思考增强你的结果，然后给出你的答案。

            <步骤>

            “步骤1”： “接收来自 DeepSeek-R1 模型的思考过程。”

            “步骤2”： “仔细学习和理解 DeepSeek-R1 的推理逻辑和步骤。”，

            “步骤3”： “根据 DeepSeek-R1 的思考，结合图像能力，生成最终答案。”

            “步骤4”： “输出最终答案，无需解释思考过程。”

            </步骤>

            </任务>


            <限制>

            不要重复 DeepSeek-R1 的思考过程，只输出最终答案。

            不要解释自身能力或学习过程。

            确保答案准确且与问题相关。

            </限制>'
        selected: false
        title: gemini
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
      height: 96
      id: '1738052643931'
      position:
        x: 1096
        y: 282
      positionAbsolute:
        x: 1096
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: stvlynn
        desc: ''
        height: 202
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"简介","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"本
          Demo 利用 DeepSeek R1 的强大推理能力，并通过 Gemini 模型学习增强输出，展示如何将推理型 LLM 和多模态 LLM 结合，提升
          AI 思考和回答问题的能力。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 266
      height: 202
      id: '1738165679422'
      position:
        x: 61
        y: 29
      positionAbsolute:
        x: 61
        y: 29
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 266
    - data:
        author: stvlynn
        desc: ''
        height: 241
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"推理模型","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"此节点调用
          DeepSeek-R1 推理模型（deepseek-reasoner）。系统提示词设定 DeepSeek-R1 为一个有推理能力的 LLM，且需要输出完整的思考过程。它的任务是辅助其他没有推理能力的
          LLM 进行思考，并根据用户提问输出完整的思考过程，其中思考过程会使用 <think> 标签包裹。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 277
      height: 241
      id: '1738165732645'
      position:
        x: 726
        y: 11
      positionAbsolute:
        x: 726
        y: 11
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 277
    - data:
        author: stvlynn
        desc: ''
        height: 240
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"多模态模型","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"此节点调用
          Google 的 Gemini 模型（gemini-1.5-flash-8b-exp-0924）。系统提示词设定 Gemini 模型为一个善于学习的
          LLM，它的任务是学习别人（DeepSeek-R1）对问题的思考过程，并用它的思考增强自己的结果，然后给出自己的答案。输入的思考过程会被当做用户提问，最终答案会使用 <output> 标签包裹。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 273
      height: 240
      id: '1738165823052'
      position:
        x: 1096
        y: 11
      positionAbsolute:
        x: 1096
        y: 11
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 273
    - data:
        author: stvlynn
        desc: ''
        height: 226
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"输出","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          12px;","text":"为了方便展示推理和实际输出，我们使用 XML 标签（<think><output>）来分隔两个模型的输出。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 280
      height: 226
      id: '1738165846879'
      position:
        x: 1522
        y: 11
      positionAbsolute:
        x: 1522
        y: 11
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 280
    - data:
        author: stvlynn
        desc: ''
        height: 137
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          14px;","text":"文档提取器","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          12px;","text":"将文档提取为 LLM 可读取的文本内容。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 137
      id: '1738168478155'
      position:
        x: 400
        y: 20
      positionAbsolute:
        x: 400
        y: 20
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 92
      id: '1738168561064'
      position:
        x: 400
        y: 282
      positionAbsolute:
        x: 400
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 48.393919464242
      y: 280.08783868452366
      zoom: 0.757858283255199
