public/workshop/n8n/1.json
{
  "name": "Frontend News to Notion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "01_Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"https://tympanus.net/codrops/feed/\", tag: \"Codrops\" } },\n  { json: { url: \"https://css-tricks.com/feed/\", tag: \"CSS-Tricks\" } },\n  { json: { url: \"https://feed.frontend.daily/feed\", tag: \"FrontendDaily\" } }\n];"
      },
      "id": "set-sources",
      "name": "02_Set Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-sources",
      "name": "03_Split Sources",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [820, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}"
      },
      "id": "rss-read",
      "name": "04_RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [1020, 200]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "limit": 100,
        "options": {
          "filter": {
            "property": "URL",
            "rich_text": {
              "is_not_empty": true
            }
          }
        }
      },
      "id": "get-existing-notion",
      "name": "05_Get Existing Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1020, 420],
      "credentials": {
        "notionApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 获取 Notion 中已存在的 URL\nconst existingItems = $(\"05_Get Existing Notion\").all();\nconst existingUrls = new Set(existingItems.map(i => i.json.properties.URL?.url || i.json.url)); // 根据你的 Notion 结构调整\n\n// 获取 RSS 新文章\nconst newItems = $input.all();\n\n// 过滤\nreturn newItems.filter(item => {\n  return !existingUrls.has(item.json.link);\n});"
      },
      "id": "deduplicate",
      "name": "06_Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "URL",
              "url": "={{ $json.link }}"
            },
            {
              "key": "Date",
              "date": "={{ $json.isoDate }}"
            },
            {
              "key": "Tags",
              "multiSelectValue": "={{ $(\"03_Split Sources\").first().json.tag }}"
            }
          ]
        },
        "options": {
          "content": "={{ $json.contentSnippet }}"
        }
      },
      "id": "create-notion-page",
      "name": "07_Create Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1440, 300],
      "credentials": {
        "notionApi": {
          "id": "YOUR_CREDENTIAL_ID_HERE",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 循环回连\n必须将 Loop 连回 Split In Batches",
        "height": 80
      },
      "id": "note",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [820, 140]
    }
  ],
  "connections": {
    "01_Schedule": {
      "main": [
        [
          {
            "node": "02_Set Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02_Set Sources": {
      "main": [
        [
          {
            "node": "03_Split Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03_Split Sources": {
      "main": [
        [
          {
            "node": "04_RSS Feed Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "05_Get Existing Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04_RSS Feed Read": {
      "main": [
        [
          {
            "node": "06_Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05_Get Existing Notion": {
      "main": [
        [
          {
            "node": "06_Deduplicate",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "06_Deduplicate": {
      "main": [
        [
          {
            "node": "07_Create Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07_Create Notion Page": {
      "main": [
        [
          {
            "node": "03_Split Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}