public/workshop/n8n/code_demo.json
{
  "name": "code demo",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        -20
      ],
      "id": "11ed9084-cd2c-4779-a1d1-9612b92e0f09",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://rsshub.app/aibase/news",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        120,
        -20
      ],
      "id": "f0d15bd2-d48c-4ee6-836b-c8ed7a664562",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        360,
        -20
      ],
      "id": "ca4a6822-f86b-4faa-8520-04f7b3cbead3",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Code节点 - 提取并格式化文章数据\n * 从输入数据中提取title、link和contentsnippet字段，并按指定格式组合\n * @param {Array} items - N8N输入数据数组 ($input.all())\n * @returns {Array} - 返回N8N格式的对象数组\n */\nfunction processData() {\n  // 获取输入数据\n  const items = $input.all();\n\n  // 检查输入数据是否有效\n  if (!Array.isArray(items) || items.length === 0) {\n    return [{ json: { output: '' } }];\n  }\n\n  // 提取字段并格式化\n  const formattedText = items.map(item => {\n    const { title = '', link = '', contentsnippet = '' } = item.json || {};\n    return `标题：${title}\\n链接：${link}\\n内容：${contentsnippet}\\n\\n`;\n  }).join('');\n\n  // 返回N8N格式的对象数组\n  return [{\n    json: {\n      output: formattedText\n    }\n  }];\n}\n\n// 执行函数并返回结果\nreturn processData();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        -20
      ],
      "id": "5b4c4a22-06e5-40e6-837b-2e87f6daf9f5",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e9fc918-b086-408b-b046-d0817b0e714d",
              "name": "",
              "value": "={{ $input.all() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        -200
      ],
      "id": "f51e5e4e-20d5-4d40-a9b8-6ac7e3d44c26",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6515e55-5042-4052-82d2-19813063a8b9",
              "name": "",
              "value": "={{ $input.all()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        -20
      ],
      "id": "8fce968b-0501-4605-911a-ff51ae5c41a2",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "RSS Read": [
      {
        "json": {
          "creator": "AI Base",
          "title": "新一代AI图像生成模型Reve Image震撼登场，引领创作新潮流",
          "link": "https://www.aibase.com/zh/news/16525",
          "pubDate": "Mon, 24 Mar 2025 03:02:50 GMT",
          "author": "AI Base",
          "content": "<p>一款名为Reve Image的全新AI图像生成模型正式亮相，迅速引发科技与设计圈的广泛关注。据悉，该模型由Reve团队从零开始打造，专注于提升美学表现、精准的提示遵循能力以及出色的排版设计，旨在为用户提供高质量的视觉创作体验。</p><p>Reve Image的推出被视为AI图像生成领域的一大突破。有业内人士表示，这款模型在生成图像时展现出强烈的设计感，产出的作品简洁大气，颇具海报风格的视觉冲击力。与此同时，其对用户输入的提示词理解能力尤为突出，能够细致还原创作者的意图，甚至对简单的描述也能进行优化，生成令人惊艳的效果。不少体验过该模型的用户反馈，其整体表现已经足以媲美当前市场上的领先技术。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387841093997921669775124.png\" title=\"QQ20250324-110216.png\" alt=\"QQ20250324-110216.png\" referrerpolicy=\"no-referrer\"></p><p>除了强大的生成能力，Reve Image的平台设计也备受好评。用户称赞其界面友好且直观，操作体验流畅，动态效果优雅，为创作过程增添了不少乐趣。目前，该平台已开放免费使用，吸引了大量创作者和设计师前往尝试。</p><p>随着Reve Image的加入，AI图像生成领域的竞争愈发激烈。分析人士认为，这款模型不仅为用户提供了更多选择，也可能推动整个行业在美学与功能性上的进一步创新。对于热衷于视觉创作的群体来说，Reve Image无疑是一个值得期待的新工具。</p><p>体验地址：https://top.aibase.com/tool/reve</p>",
          "contentSnippet": "一款名为Reve Image的全新AI图像生成模型正式亮相，迅速引发科技与设计圈的广泛关注。据悉，该模型由Reve团队从零开始打造，专注于提升美学表现、精准的提示遵循能力以及出色的排版设计，旨在为用户提供高质量的视觉创作体验。\nReve Image的推出被视为AI图像生成领域的一大突破。有业内人士表示，这款模型在生成图像时展现出强烈的设计感，产出的作品简洁大气，颇具海报风格的视觉冲击力。与此同时，其对用户输入的提示词理解能力尤为突出，能够细致还原创作者的意图，甚至对简单的描述也能进行优化，生成令人惊艳的效果。不少体验过该模型的用户反馈，其整体表现已经足以媲美当前市场上的领先技术。\n\n除了强大的生成能力，Reve Image的平台设计也备受好评。用户称赞其界面友好且直观，操作体验流畅，动态效果优雅，为创作过程增添了不少乐趣。目前，该平台已开放免费使用，吸引了大量创作者和设计师前往尝试。\n随着Reve Image的加入，AI图像生成领域的竞争愈发激烈。分析人士认为，这款模型不仅为用户提供了更多选择，也可能推动整个行业在美学与功能性上的进一步创新。对于热衷于视觉创作的群体来说，Reve Image无疑是一个值得期待的新工具。\n体验地址：https://top.aibase.com/tool/reve",
          "guid": "https://www.aibase.com/zh/news/16525",
          "isoDate": "2025-03-24T03:02:50.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "开源实时识别模型RF-DETR： 实时识别画面中的物体，开源可商用",
          "link": "https://www.aibase.com/zh/news/16524",
          "pubDate": "Mon, 24 Mar 2025 02:55:12 GMT",
          "author": "AI Base",
          "content": "<p><strong style=\"text-align: justify; text-indent: 2em;\">RF-DETR</strong><span style=\"color: rgb(74, 74, 74); text-align: justify; text-indent: 2em;\">是一款由Roboflow团队倾力打造的</span><strong style=\"text-align: justify; text-indent: 2em;\">开源、<span class=\"spamTxt\">最先</span>进的实时目标检测模型</strong><span style=\"color: rgb(74, 74, 74); text-align: justify; text-indent: 2em;\">。如果你还在为YOLO系列跑得不够快，或者精度差那么一点点而挠头，那么恭喜你，救星来了!</span></p><p><span style=\"color: rgb(74, 74, 74); text-align: justify; text-indent: 2em;\">RF-DETR目标直指实时识别领域的王座，并且它还非常慷慨地选择了</span><strong style=\"text-align: justify; text-indent: 2em;\">开源</strong><span style=\"color: rgb(74, 74, 74); text-align: justify; text-indent: 2em;\">，这意味着你可以免费拥有，甚至还能“魔改”出自己的专属“鹰眼”。</span></p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387841043823374006448890.png\" title=\"QQ_1742784819915.png\" alt=\"QQ_1742784819915.png\" referrerpolicy=\"no-referrer\"></p><p>想象一下，你的智能监控系统能够像一位经验老道的侦探一样，<strong>在视频流中瞬间捕捉到每一个关键物体</strong>，而且速度快到让你怀疑人生。RF-DETR就是这样一位高效的“侦探”。它不仅在速度上媲美甚至超越了以往的实时模型，更在<strong>精度上实现了质的飞跃</strong>。</p><p>根据官方数据，RF-DETR是<strong>首个在COCO数据集上实现超过60%平均精度均值 （mAP） 的实时模型</strong>。要知道，COCO数据集可是计算机视觉界的“奥林匹克”，能在上面取得如此成绩，足以证明RF-DETR的实力!</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387841045106838358854398.png\" title=\"QQ_1742784834384.png\" alt=\"QQ_1742784834384.png\" referrerpolicy=\"no-referrer\"></p><p>更重要的是，RF-DETR在保证高精度的同时，并没有牺牲速度。它在GPU上实现了惊人的低延迟，让实时识别真正落地成为可能。这对于需要快速响应的应用场景，例如自动驾驶、工业质检、智能安防等，简直是雪中送炭。你可以想象一下，当你的机器人以迅雷不及掩耳之势识别并抓取目标物体时，效率提升的可不是一星半点!</p><p>一直以来，基于CNN的YOLO系列模型在实时目标检测领域占据着重要地位。但时代在发展，技术在进步。RF-DETR作为<strong>DETR（Detection Transformer）家族</strong>的一员，采用了基于Transformer的架构。这种架构的优势在于能够更好地进行<strong>全局信息建模</strong>，从而在复杂场景下实现更高的识别精度。</p><p>相较于YOLO模型在预测后需要进行非极大值抑制（NMS）来筛选边界框，DETR架构则无需此步骤，这也在一定程度上提升了整体的运行效率。Roboflow团队在评测中也充分考虑了NMS带来的延迟，并以一种名为“总延迟”的概念来公平地比较不同模型的性能。结果显示，RF-DETR在速度和精度上都展现出了强大的竞争力，<strong>在COCO数据集上相对于YOLO模型是严格的帕累托<span class=\"spamTxt\">最优</span></strong>。</p><p>当然，RF-DETR也没有完全抛弃CNN的优点。事实上，许多优秀的计算机视觉方法，包括一些先进的DETR变体，都巧妙地融合了CNN和Transformer的优势. RF-DETR正是通过<strong>结合LW-DETR与预训练的DINOv2骨干网络</strong>，实现了卓越的性能和<strong>强大的领域适应性</strong>。这意味着，无论你的应用场景是常见的物体识别，还是更加专业化的领域，例如航空航天图像、工业环境、自然风光等，RF-DETR都有望展现出优异的表现。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387841046418288542864671.png\" title=\"QQ_1742784847722.png\" alt=\"QQ_1742784847722.png\" referrerpolicy=\"no-referrer\"></p><p>最令人激动的是，RF-DETR选择了<strong>开源</strong>! 它遵循<strong>Apache2.0许可协议</strong>，这意味着开发者可以自由地使用、修改、甚至将其应用于商业项目中而无需担心版权问题。Roboflow团队不仅放出了模型代码，还贴心地提供了<strong>Colab Notebook</strong>，手把手教你如何在自定义数据集上进行<strong>微调 （fine-tuning）</strong>。未来，Roboflow平台还将提供更便捷的RF-DETR模型训练和部署支持。</p><p>目前，Roboflow团队已经推出了<strong>RF-DETR-base （2900万参数）</strong> 和 <strong>RF-DETR-large （1.28亿参数）</strong> 两种模型尺寸，以满足不同算力需求的应用场景。更有趣的是，RF-DETR还支持<strong>多分辨率训练</strong>，这意味着你可以在运行时灵活地调整模型的分辨率，从而在精度和延迟之间找到<span class=\"spamTxt\">最佳</span>平衡点。</p><p>项目:https://top.aibase.com/tool/rf-detr</p>",
          "contentSnippet": "RF-DETR是一款由Roboflow团队倾力打造的开源、最先进的实时目标检测模型。如果你还在为YOLO系列跑得不够快，或者精度差那么一点点而挠头，那么恭喜你，救星来了!\nRF-DETR目标直指实时识别领域的王座，并且它还非常慷慨地选择了开源，这意味着你可以免费拥有，甚至还能“魔改”出自己的专属“鹰眼”。\n\n想象一下，你的智能监控系统能够像一位经验老道的侦探一样，在视频流中瞬间捕捉到每一个关键物体，而且速度快到让你怀疑人生。RF-DETR就是这样一位高效的“侦探”。它不仅在速度上媲美甚至超越了以往的实时模型，更在精度上实现了质的飞跃。\n根据官方数据，RF-DETR是首个在COCO数据集上实现超过60%平均精度均值 （mAP） 的实时模型。要知道，COCO数据集可是计算机视觉界的“奥林匹克”，能在上面取得如此成绩，足以证明RF-DETR的实力!\n\n更重要的是，RF-DETR在保证高精度的同时，并没有牺牲速度。它在GPU上实现了惊人的低延迟，让实时识别真正落地成为可能。这对于需要快速响应的应用场景，例如自动驾驶、工业质检、智能安防等，简直是雪中送炭。你可以想象一下，当你的机器人以迅雷不及掩耳之势识别并抓取目标物体时，效率提升的可不是一星半点!\n一直以来，基于CNN的YOLO系列模型在实时目标检测领域占据着重要地位。但时代在发展，技术在进步。RF-DETR作为DETR（Detection Transformer）家族的一员，采用了基于Transformer的架构。这种架构的优势在于能够更好地进行全局信息建模，从而在复杂场景下实现更高的识别精度。\n相较于YOLO模型在预测后需要进行非极大值抑制（NMS）来筛选边界框，DETR架构则无需此步骤，这也在一定程度上提升了整体的运行效率。Roboflow团队在评测中也充分考虑了NMS带来的延迟，并以一种名为“总延迟”的概念来公平地比较不同模型的性能。结果显示，RF-DETR在速度和精度上都展现出了强大的竞争力，在COCO数据集上相对于YOLO模型是严格的帕累托最优。\n当然，RF-DETR也没有完全抛弃CNN的优点。事实上，许多优秀的计算机视觉方法，包括一些先进的DETR变体，都巧妙地融合了CNN和Transformer的优势. RF-DETR正是通过结合LW-DETR与预训练的DINOv2骨干网络，实现了卓越的性能和强大的领域适应性。这意味着，无论你的应用场景是常见的物体识别，还是更加专业化的领域，例如航空航天图像、工业环境、自然风光等，RF-DETR都有望展现出优异的表现。\n\n最令人激动的是，RF-DETR选择了开源! 它遵循Apache2.0许可协议，这意味着开发者可以自由地使用、修改、甚至将其应用于商业项目中而无需担心版权问题。Roboflow团队不仅放出了模型代码，还贴心地提供了Colab Notebook，手把手教你如何在自定义数据集上进行微调 （fine-tuning）。未来，Roboflow平台还将提供更便捷的RF-DETR模型训练和部署支持。\n目前，Roboflow团队已经推出了RF-DETR-base （2900万参数） 和 RF-DETR-large （1.28亿参数） 两种模型尺寸，以满足不同算力需求的应用场景。更有趣的是，RF-DETR还支持多分辨率训练，这意味着你可以在运行时灵活地调整模型的分辨率，从而在精度和延迟之间找到最佳平衡点。\n项目:https://top.aibase.com/tool/rf-detr",
          "guid": "https://www.aibase.com/zh/news/16524",
          "isoDate": "2025-03-24T02:55:12.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "AbletonMCP ：调用Ableton的MCP服务，让Claude能够创作音乐",
          "link": "https://www.aibase.com/zh/news/16523",
          "pubDate": "Mon, 24 Mar 2025 02:44:02 GMT",
          "author": "AI Base",
          "content": "<p><span style=\"text-indent: 2em;\">AbletonMCP 是一款创新工具，它通过模型上下文协议（MCP）将音乐制作软件 Ableton Live 与 Claude AI 连接起来，使得 Claude 能够直接与 Ableton Live 进行互动和控制。这种整合实现了基于提示的音乐创作、音轨制作和现场会话的操控，为音乐制作带来了全新的体验。</span></p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387840981142743311972635.png\" title=\"QQ_1742784189495.png\" alt=\"QQ_1742784189495.png\" referrerpolicy=\"no-referrer\"></p><p>该系统主要由两个部分组成:Ableton 远程脚本和 MCP 服务器。Ableton 远程脚本是为 Ableton Live 设计的 MIDI 远程脚本，负责创建一个套接字服务器，以接收和执行命令;而 MCP 服务器是一个 Python 编写的服务器，它实现了模型上下文协议，并连接到 Ableton 远程脚本。</p><p>在安装方面，用户需要确保拥有 Ableton Live10或更新版本，以及 Python3.8或更高版本。此外，用户还需安装 uv 包管理器，以确保整个系统的正常运行。对于 Mac 用户，可以通过指定的路径安装 uv，而 Windows 用户同样有多种安装方法可供选择。</p><p>在完成设置后，用户可以通过 Claude 的设置选项将 MCP 服务器配置到 Claude Desktop 或 Cursor 中，以便于后续操作。当用户与 Claude 进行互动时，连接将自动建立。此时，用户会看到一个工具图标，表明 Ableton MCP 功能已开启，用户可以利用 Claude 进行多种操作，比如创建和修改音轨、加载乐器和效果器、控制播放等。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387840973073734393420455.png\" title=\"QQ_1742784116527.png\" alt=\"QQ_1742784116527.png\" referrerpolicy=\"no-referrer\"></p><p>具体操作中，用户可以向 Claude 下达各种指令，例如:“创建一首80年代合成波曲风”、“为我的鼓添加混响” 等等。通过这些指令，Claude 能够获取会话和音轨信息、控制播放、创建和编辑 MIDI 剪辑等，极大地提升了音乐制作的灵活性和便利性。</p><p>需要注意的是，用户在使用时应确保 Ableton 远程脚本已加载，并且 MCP 服务器已配置。如果遇到连接问题，建议重启 Claude 和 Ableton Live 以恢复正常状态。同时，建议用户在进行复杂音乐编排前，先将任务分解为更小的步骤，以减少可能的错误。</p><p>项目入口：https://top.aibase.com/tool/abletonmcp</p><blockquote><p>划重点:&nbsp;&nbsp;</p><p>🎶 AbletonMCP 将 Ableton Live 与 Claude AI 连接，实现音乐创作的新方式。&nbsp;&nbsp;</p><p>🛠️ 系统由 Ableton 远程脚本和 MCP 服务器两部分组成，支持多种音轨和剪辑操作。&nbsp;&nbsp;</p><p>💻 用户通过 Claude 与 Ableton 互动，执行指令以控制音乐制作流程。&nbsp;&nbsp;</p></blockquote>",
          "contentSnippet": "AbletonMCP 是一款创新工具，它通过模型上下文协议（MCP）将音乐制作软件 Ableton Live 与 Claude AI 连接起来，使得 Claude 能够直接与 Ableton Live 进行互动和控制。这种整合实现了基于提示的音乐创作、音轨制作和现场会话的操控，为音乐制作带来了全新的体验。\n\n该系统主要由两个部分组成:Ableton 远程脚本和 MCP 服务器。Ableton 远程脚本是为 Ableton Live 设计的 MIDI 远程脚本，负责创建一个套接字服务器，以接收和执行命令;而 MCP 服务器是一个 Python 编写的服务器，它实现了模型上下文协议，并连接到 Ableton 远程脚本。\n在安装方面，用户需要确保拥有 Ableton Live10或更新版本，以及 Python3.8或更高版本。此外，用户还需安装 uv 包管理器，以确保整个系统的正常运行。对于 Mac 用户，可以通过指定的路径安装 uv，而 Windows 用户同样有多种安装方法可供选择。\n在完成设置后，用户可以通过 Claude 的设置选项将 MCP 服务器配置到 Claude Desktop 或 Cursor 中，以便于后续操作。当用户与 Claude 进行互动时，连接将自动建立。此时，用户会看到一个工具图标，表明 Ableton MCP 功能已开启，用户可以利用 Claude 进行多种操作，比如创建和修改音轨、加载乐器和效果器、控制播放等。\n\n具体操作中，用户可以向 Claude 下达各种指令，例如:“创建一首80年代合成波曲风”、“为我的鼓添加混响” 等等。通过这些指令，Claude 能够获取会话和音轨信息、控制播放、创建和编辑 MIDI 剪辑等，极大地提升了音乐制作的灵活性和便利性。\n需要注意的是，用户在使用时应确保 Ableton 远程脚本已加载，并且 MCP 服务器已配置。如果遇到连接问题，建议重启 Claude 和 Ableton Live 以恢复正常状态。同时，建议用户在进行复杂音乐编排前，先将任务分解为更小的步骤，以减少可能的错误。\n项目入口：https://top.aibase.com/tool/abletonmcp\n\n划重点:  \n🎶 AbletonMCP 将 Ableton Live 与 Claude AI 连接，实现音乐创作的新方式。  \n🛠️ 系统由 Ableton 远程脚本和 MCP 服务器两部分组成，支持多种音轨和剪辑操作。  \n💻 用户通过 Claude 与 Ableton 互动，执行指令以控制音乐制作流程。",
          "guid": "https://www.aibase.com/zh/news/16523",
          "isoDate": "2025-03-24T02:44:02.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "\"瀚海智语\"大模型正式发布，助力中国海洋领域智能化",
          "link": "https://www.aibase.com/zh/news/16522",
          "pubDate": "Mon, 24 Mar 2025 02:28:01 GMT",
          "author": "AI Base",
          "content": "<p>国家自然资源部近日宣布，国家海洋环境预报中心联合海洋出版社有限公司和三六零数字安全科技集团有限公司成功开发并发布了海洋垂直领域大语言模型——\"瀚海智语\"（英文名称OceanDS）。</p><p>该模型以360智脑13B和Deepseek-R1-70B大模型为基座，专注于海洋领域应用，已顺利通过专家评审并正式发布。\"瀚海智语\"的问世标志着中国在海洋领域人工智能技术应用方面迈出了重要一步，将为海洋行业的智慧化转型提供强有力的技术支撑。</p><p style=\"text-align: center;\"><img src=\"https://pic.chinaz.com/picmap/202306161550449088_4.jpg\" title=\"海 沙滩 浪花 (2) (图片来源：AI合成)\" alt=\"海 沙滩 浪花 (2)\" referrerpolicy=\"no-referrer\"></p>",
          "contentSnippet": "国家自然资源部近日宣布，国家海洋环境预报中心联合海洋出版社有限公司和三六零数字安全科技集团有限公司成功开发并发布了海洋垂直领域大语言模型——\"瀚海智语\"（英文名称OceanDS）。\n该模型以360智脑13B和Deepseek-R1-70B大模型为基座，专注于海洋领域应用，已顺利通过专家评审并正式发布。\"瀚海智语\"的问世标志着中国在海洋领域人工智能技术应用方面迈出了重要一步，将为海洋行业的智慧化转型提供强有力的技术支撑。",
          "guid": "https://www.aibase.com/zh/news/16522",
          "isoDate": "2025-03-24T02:28:01.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "李开复重组01.AI:拥抱 Deepseek 开源模型，挑战 OpenAI 商业模式",
          "link": "https://www.aibase.com/zh/news/16521",
          "pubDate": "Mon, 24 Mar 2025 02:19:35 GMT",
          "author": "AI Base",
          "content": "<p>前谷歌中国区负责人李开复正在调整他的人工智能初创公司01.AI 的战略，全面采用 Deepseek 的开源模型，并表示这对 OpenAI 的商业模式构成了生存挑战。</p><p>在接受《南华早报》采访时，李开复透露他的公司已放弃之前训练专有大型语言模型的策略，转而完全依赖 Deepseek 的开源产品。他表示，Deepseek 的发布在中国引发了\"ChatGPT 时刻\"，带动了国内硬件和软件提供商与 Deepseek 模型的整合。这一决定是在今年1月底中国企业对 Deepseek 模型需求激增后做出的。</p><p style=\"text-align: center\"><img src=\"https://pic.chinaz.com/picmap/202502051558211433_3.jpg\" title=\"DeepSeek (图片来源：AI合成)\" alt=\"DeepSeek\" referrerpolicy=\"no-referrer\"></p><p>李开复认为 Deepseek 的免费开源方式对 OpenAI 形成了根本性挑战:\"对 Sam Altman 来说，<span class=\"spamTxt\">最大</span>的噩梦就是他的竞争对手是免费的。我已经遇到很多人因为 Deepseek 是免费的而取消了 ChatGPT 订阅。\"</p><p>拥有200名员工的01.AI 现计划专注于为金融、游戏和法律领域的企业客户定制 Deepseek 模型。尽管战略发生转变，李开复坚称他公司的技术专长仍然很有价值，尤其在模型训练、调整和推理方面。他预计2025年<span class=\"spamTxt\">第一</span>季度收入将达到1亿元人民币（1300万美元），相当于公司2024年全年收入，但01.AI 尚未实现盈利。</p><p>对于 OpenAI 和 Anthropic 最近敦促美国政府禁止 Deepseek 模型的举动，李开复将其解读为\"偏执的表现\":\"他们眼睁睁地看着自己搭建的纸牌屋开始倒塌，因为有人免费建造了一座同样好的房子。\"</p><p>李开复还指出两家公司运营成本的巨大差距:据报道，OpenAI2024年运营成本为70亿美元，而 Deepseek 仅需该金额的约2%。他将 Deepseek 描述为\"无限长存\"，因为其创始人拥有足够资金维持运营，且将计算成本降低了5到10倍。</p>",
          "contentSnippet": "前谷歌中国区负责人李开复正在调整他的人工智能初创公司01.AI 的战略，全面采用 Deepseek 的开源模型，并表示这对 OpenAI 的商业模式构成了生存挑战。\n在接受《南华早报》采访时，李开复透露他的公司已放弃之前训练专有大型语言模型的策略，转而完全依赖 Deepseek 的开源产品。他表示，Deepseek 的发布在中国引发了\"ChatGPT 时刻\"，带动了国内硬件和软件提供商与 Deepseek 模型的整合。这一决定是在今年1月底中国企业对 Deepseek 模型需求激增后做出的。\n\n李开复认为 Deepseek 的免费开源方式对 OpenAI 形成了根本性挑战:\"对 Sam Altman 来说，最大的噩梦就是他的竞争对手是免费的。我已经遇到很多人因为 Deepseek 是免费的而取消了 ChatGPT 订阅。\"\n拥有200名员工的01.AI 现计划专注于为金融、游戏和法律领域的企业客户定制 Deepseek 模型。尽管战略发生转变，李开复坚称他公司的技术专长仍然很有价值，尤其在模型训练、调整和推理方面。他预计2025年第一季度收入将达到1亿元人民币（1300万美元），相当于公司2024年全年收入，但01.AI 尚未实现盈利。\n对于 OpenAI 和 Anthropic 最近敦促美国政府禁止 Deepseek 模型的举动，李开复将其解读为\"偏执的表现\":\"他们眼睁睁地看着自己搭建的纸牌屋开始倒塌，因为有人免费建造了一座同样好的房子。\"\n李开复还指出两家公司运营成本的巨大差距:据报道，OpenAI2024年运营成本为70亿美元，而 Deepseek 仅需该金额的约2%。他将 Deepseek 描述为\"无限长存\"，因为其创始人拥有足够资金维持运营，且将计算成本降低了5到10倍。",
          "guid": "https://www.aibase.com/zh/news/16521",
          "isoDate": "2025-03-24T02:19:35.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "Fin-R1：基于Qwen2.5-7B强化学习训练的金融大模型，7B参数击败行业巨头",
          "link": "https://www.aibase.com/zh/news/16520",
          "pubDate": "Mon, 24 Mar 2025 02:01:11 GMT",
          "author": "AI Base",
          "content": "<p>金融科技领域迎来一位强劲新秀。上海财经大学统计与数据科学学院张立文教授团队（SUFE-AIFLM-Lab）联合财跃星辰共同研发的Fin-R1模型正式开源，以惊人的性能引发业界广泛关注。这款基于Qwen2.5-7B的金融专用大模型通过强化学习训练，在多项金融基准测试中达到了领先水平。</p><p>令人惊叹的是，Fin-R1仅凭7B参数规模，就成功超越了大多数同等规模甚至数十倍规模的竞争对手。在金融表格推理（FinQA）和对话式金融QA(ConvFinQA)等关键任务中，Fin-R1更是摘得桂冠，展现出卓越的金融领域理解能力。</p><p style=\"text-align: center\"><img src=\"https://pic.chinaz.com/picmap/202005221631377841_9.jpg\" title=\"投资 金融 钱 (图片来源图虫：已授站长之家使用)\" alt=\"投资 金融 钱\" referrerpolicy=\"no-referrer\"></p><p>这款模型专为金融核心业务场景中的推理与分析任务量身打造，覆盖范围极其广泛。它能够熟练编写金融代码，构建定价模型及风险评估脚本;精准执行量化分析和报表计算等金融计算与建模任务;流畅生成英文金融模型与专业报告;提供金融安全合规分析;实现交易反欺诈、违约预测等智能风控功能;甚至能够进行环境、社会、治理等ESG可持续性分析。</p><p>Fin-R1的诞生采用了先进的技术路线，研发团队基于Qwen2.5-7B-Instruct构建模型架构，并利用DeepSeek-R1框架进行\"数据蒸馏\"与\"双轮质量筛选\"。通过高质量思维链数据的监督微调（SFT）与强化学习(RL)相结合的训练方法，成功打造出这一金融领域的AI助手。</p><p>值得一提的是，Fin-R1不仅支持中文环境，还能在英文环境中进行金融建模、报告生成和对话交互，展现出极强的跨语言能力。这款开源模型的问世，将为金融行业的数字化转型提供强大支持，有望成为金融分析师、风控专家和投资顾问的得力助手。</p>",
          "contentSnippet": "金融科技领域迎来一位强劲新秀。上海财经大学统计与数据科学学院张立文教授团队（SUFE-AIFLM-Lab）联合财跃星辰共同研发的Fin-R1模型正式开源，以惊人的性能引发业界广泛关注。这款基于Qwen2.5-7B的金融专用大模型通过强化学习训练，在多项金融基准测试中达到了领先水平。\n令人惊叹的是，Fin-R1仅凭7B参数规模，就成功超越了大多数同等规模甚至数十倍规模的竞争对手。在金融表格推理（FinQA）和对话式金融QA(ConvFinQA)等关键任务中，Fin-R1更是摘得桂冠，展现出卓越的金融领域理解能力。\n\n这款模型专为金融核心业务场景中的推理与分析任务量身打造，覆盖范围极其广泛。它能够熟练编写金融代码，构建定价模型及风险评估脚本;精准执行量化分析和报表计算等金融计算与建模任务;流畅生成英文金融模型与专业报告;提供金融安全合规分析;实现交易反欺诈、违约预测等智能风控功能;甚至能够进行环境、社会、治理等ESG可持续性分析。\nFin-R1的诞生采用了先进的技术路线，研发团队基于Qwen2.5-7B-Instruct构建模型架构，并利用DeepSeek-R1框架进行\"数据蒸馏\"与\"双轮质量筛选\"。通过高质量思维链数据的监督微调（SFT）与强化学习(RL)相结合的训练方法，成功打造出这一金融领域的AI助手。\n值得一提的是，Fin-R1不仅支持中文环境，还能在英文环境中进行金融建模、报告生成和对话交互，展现出极强的跨语言能力。这款开源模型的问世，将为金融行业的数字化转型提供强大支持，有望成为金融分析师、风控专家和投资顾问的得力助手。",
          "guid": "https://www.aibase.com/zh/news/16520",
          "isoDate": "2025-03-24T02:01:11.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "阿里通义实验室LHM技术实现从单图像的快速3D 人体重建与动画生成",
          "link": "https://www.aibase.com/zh/news/16519",
          "pubDate": "Mon, 24 Mar 2025 01:54:45 GMT",
          "author": "AI Base",
          "content": "<p><span style=\"text-indent: 2em;\">近日，</span>阿里通义实验室<span style=\"text-indent: 2em;\">一项名为 LHM（大型可动画人体重建模型）的创新技术在3D 人体重建领域取得了重大突破，为该领域带来了全新的发展方向和应用前景。</span></p><p>从单个图像进行可动画的3D 人体重建一直是一个极具挑战性的任务，存在着几何、外观和变形分离的模糊性等问题。当前的<span class=\"spamTxt\">最新</span>研究进展大多集中在静态人体建模方面，并且这些方法往往依赖于合成的3D 扫描进行训练，这在很大程度上限制了它们在实际场景中的泛化能力。同时，基于优化的视频方法不仅需要严格控制捕获条件，而且计算过程极为密集，难以满足实际应用的需求。</p><p style=\"text-align:center\"><video id=\"tmpVedio0\" class=\"edui-upload-video video-js vjs-default-skin video-js\" controls=\"\" preload=\"meta\" width=\"750\" height=\"450\" src=\"https://upload.chinaz.com/video/2025/0324/6387840732927452868791196.mp4\" data-setup=\"{}\"><source src=\"https://upload.chinaz.com/video/2025/0324/6387840732927452868791196.mp4\" type=\"video/mp4\"></video></p><p>针对这些难题，LHM 模型应运而生。该模型创新性地采用了多模态变换器架构，通过强大的注意机制，能够有效地对人体位置特征和图像特征进行编码。这一架构使得 LHM 不仅能够准确地重建人体的几何形状，还能详细地保存服装的几何形状和纹理，为用户呈现出更加真实、细腻的3D 人体模型。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387840687565654131847150.png\" title=\"QQ20250324-095417.png\" alt=\"QQ20250324-095417.png\" referrerpolicy=\"no-referrer\"></p><p>值得一提的是，LHM 还提出了头部特征金字塔编码方案。这一方案通过聚合头部区域的多尺度特征，进一步提升了模型对人体头部细节的捕捉能力，使得生成的3D 人体模型在头部表现上更加逼真。在实际应用中，LHM 展现出了惊人的效率，能够在短短几秒钟内生成合理动画的人体，并且无需进行复杂的后期处理，大大节省了时间和人力成本。</p><p>经过大量的实验验证，LHM 在重建精度和泛化能力方面均优于现有的方法。无论是在复杂的场景中，还是在不同的光照条件下，LHM 都能够稳定地输出高质量的3D 人体重建结果。</p><p>地址：https://lingtengqiu.github.io/LHM/</p>",
          "contentSnippet": "近日，阿里通义实验室一项名为 LHM（大型可动画人体重建模型）的创新技术在3D 人体重建领域取得了重大突破，为该领域带来了全新的发展方向和应用前景。\n从单个图像进行可动画的3D 人体重建一直是一个极具挑战性的任务，存在着几何、外观和变形分离的模糊性等问题。当前的最新研究进展大多集中在静态人体建模方面，并且这些方法往往依赖于合成的3D 扫描进行训练，这在很大程度上限制了它们在实际场景中的泛化能力。同时，基于优化的视频方法不仅需要严格控制捕获条件，而且计算过程极为密集，难以满足实际应用的需求。\n\n针对这些难题，LHM 模型应运而生。该模型创新性地采用了多模态变换器架构，通过强大的注意机制，能够有效地对人体位置特征和图像特征进行编码。这一架构使得 LHM 不仅能够准确地重建人体的几何形状，还能详细地保存服装的几何形状和纹理，为用户呈现出更加真实、细腻的3D 人体模型。\n\n值得一提的是，LHM 还提出了头部特征金字塔编码方案。这一方案通过聚合头部区域的多尺度特征，进一步提升了模型对人体头部细节的捕捉能力，使得生成的3D 人体模型在头部表现上更加逼真。在实际应用中，LHM 展现出了惊人的效率，能够在短短几秒钟内生成合理动画的人体，并且无需进行复杂的后期处理，大大节省了时间和人力成本。\n经过大量的实验验证，LHM 在重建精度和泛化能力方面均优于现有的方法。无论是在复杂的场景中，还是在不同的光照条件下，LHM 都能够稳定地输出高质量的3D 人体重建结果。\n地址：https://lingtengqiu.github.io/LHM/",
          "guid": "https://www.aibase.com/zh/news/16519",
          "isoDate": "2025-03-24T01:54:45.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "​腾讯发布混元 - T1 正式版，推理能力大幅提升",
          "link": "https://www.aibase.com/zh/news/16518",
          "pubDate": "Mon, 24 Mar 2025 01:54:04 GMT",
          "author": "AI Base",
          "content": "<p>近日，腾讯发布了混元大模型系列的正式版 —— 混元 - T1。这款新模型基于混元中等规模底座，经过大规模后训练，显著增强了推理能力，特别是在深度思考和复杂问题解决方面表现出色。自从今年2月混元 T1-Preview 上线以来，用户们便体验到了更快、更深刻的思考过程，而此次正式版的推出，则标志着该系列产品的进一步升级。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387840669674572468950518.png\" title=\"QQ_1742781079757.png\" alt=\"QQ_1742781079757.png\" referrerpolicy=\"no-referrer\"></p><p>混元 - T1的研发团队利用<span class=\"spamTxt\">最新</span>的 TurboS 基座，这是一种行业领先的超大规模 Hybrid-Transformer-Mamba MoE 模型。TurboS 在处理长文本推理时展现出独特优势，有效解决了上下文丢失和长距离信息依赖的问题。此外，Mamba 架构也经过专门优化，能够在保持信息捕捉能力的同时，显著减少计算资源的消耗。根据官方数据，在相同的部署条件下，混元 - T1的解码速度快了两倍。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387840673989290191287970.png\" title=\"QQ_1742781123687.png\" alt=\"QQ_1742781123687.png\" referrerpolicy=\"no-referrer\"></p><p>在后训练阶段，团队投入了96.7% 的算力进行强化学习训练，专注于提升推理能力以及对齐人类偏好的优化。团队收集了大量的世界理科难题，涵盖数学、逻辑推理、科学及代码等领域，确保模型在各种推理任务中展现卓越的表现。训练中采用课程学习的方式，逐步提高数据难</p><p>体验入口：https://llm.hunyuan.tencent.com/?ref=producthunt#/chat/hy-t1</p>",
          "contentSnippet": "近日，腾讯发布了混元大模型系列的正式版 —— 混元 - T1。这款新模型基于混元中等规模底座，经过大规模后训练，显著增强了推理能力，特别是在深度思考和复杂问题解决方面表现出色。自从今年2月混元 T1-Preview 上线以来，用户们便体验到了更快、更深刻的思考过程，而此次正式版的推出，则标志着该系列产品的进一步升级。\n\n混元 - T1的研发团队利用最新的 TurboS 基座，这是一种行业领先的超大规模 Hybrid-Transformer-Mamba MoE 模型。TurboS 在处理长文本推理时展现出独特优势，有效解决了上下文丢失和长距离信息依赖的问题。此外，Mamba 架构也经过专门优化，能够在保持信息捕捉能力的同时，显著减少计算资源的消耗。根据官方数据，在相同的部署条件下，混元 - T1的解码速度快了两倍。\n\n在后训练阶段，团队投入了96.7% 的算力进行强化学习训练，专注于提升推理能力以及对齐人类偏好的优化。团队收集了大量的世界理科难题，涵盖数学、逻辑推理、科学及代码等领域，确保模型在各种推理任务中展现卓越的表现。训练中采用课程学习的方式，逐步提高数据难\n体验入口：https://llm.hunyuan.tencent.com/?ref=producthunt#/chat/hy-t1",
          "guid": "https://www.aibase.com/zh/news/16518",
          "isoDate": "2025-03-24T01:54:04.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "AMD发布GAIA开源项目 助力本地大语言模型高效运行",
          "link": "https://www.aibase.com/zh/news/16517",
          "pubDate": "Mon, 24 Mar 2025 01:40:22 GMT",
          "author": "AI Base",
          "content": "<p>近日，AMD 宣布推出一款名为 GAIA 的开源应用，旨在为用户提供一种高效、本地化的方式来运行大语言模型（LLM）。目前，该应用已支持 Windows 平台，特别为锐龙 AI300系列处理器进行了优化，充分发挥了这些处理器在 AI 任务中的优势。</p><p>GAIA 是一个生成式 AI 应用，用户可以在个人电脑上私密地运行 LLM，确保数据隐私。同时，GAIA 借助其内置的神经处理单元（NPU），显著提升了 AI 任务的性能，能够满足越来越高的计算需求。其设计理念强调了用户在数据安全和隐私保护方面的需求，尤其是在如今信息安全愈发重要的背景下。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387840597705353327740283.png\" title=\"image.png\" alt=\"image.png\" referrerpolicy=\"no-referrer\"></p><p>GAIA 的开发基于 ONNX TurnkeyML 的 Lemonade SDK，利用了先进的检索增强生成（RAG）技术，支持多种主流模型，如 Llama 和 Phi。这一创新性的应用不仅丰富了 AI 的使用场景，还提供了多个实用的功能模块。具体来说，GAIA 包含四大功能:Chaty 聊天机器人、Clip 视频搜索专家、Joker 笑话生成器以及 Simple Prompt 测试工具。这些模块各具特色，为用户带来了多样化的使用体验。</p><p>在安装方面，AMD 为用户提供了普通版和混合版两种选择。普通版兼容所有 Windows 设备，而混合版则专为锐龙 AI300系列进行优化，以提供更优质的使用体验。此外，GAIA 的本地化处理保证了用户数据的私密性，响应时间降低至毫秒级，并且支持离线运行，极大方便了用户的日常使用。</p><p>值得注意的是，GAIA 项目采用 MIT 开源协议，未来有望扩展到更多平台，带来更广泛的应用前景。无论是开发者还是普通用户，都可以期待 GAIA 为他们的 AI 应用带来的便利与创新。</p>",
          "contentSnippet": "近日，AMD 宣布推出一款名为 GAIA 的开源应用，旨在为用户提供一种高效、本地化的方式来运行大语言模型（LLM）。目前，该应用已支持 Windows 平台，特别为锐龙 AI300系列处理器进行了优化，充分发挥了这些处理器在 AI 任务中的优势。\nGAIA 是一个生成式 AI 应用，用户可以在个人电脑上私密地运行 LLM，确保数据隐私。同时，GAIA 借助其内置的神经处理单元（NPU），显著提升了 AI 任务的性能，能够满足越来越高的计算需求。其设计理念强调了用户在数据安全和隐私保护方面的需求，尤其是在如今信息安全愈发重要的背景下。\n\nGAIA 的开发基于 ONNX TurnkeyML 的 Lemonade SDK，利用了先进的检索增强生成（RAG）技术，支持多种主流模型，如 Llama 和 Phi。这一创新性的应用不仅丰富了 AI 的使用场景，还提供了多个实用的功能模块。具体来说，GAIA 包含四大功能:Chaty 聊天机器人、Clip 视频搜索专家、Joker 笑话生成器以及 Simple Prompt 测试工具。这些模块各具特色，为用户带来了多样化的使用体验。\n在安装方面，AMD 为用户提供了普通版和混合版两种选择。普通版兼容所有 Windows 设备，而混合版则专为锐龙 AI300系列进行优化，以提供更优质的使用体验。此外，GAIA 的本地化处理保证了用户数据的私密性，响应时间降低至毫秒级，并且支持离线运行，极大方便了用户的日常使用。\n值得注意的是，GAIA 项目采用 MIT 开源协议，未来有望扩展到更多平台，带来更广泛的应用前景。无论是开发者还是普通用户，都可以期待 GAIA 为他们的 AI 应用带来的便利与创新。",
          "guid": "https://www.aibase.com/zh/news/16517",
          "isoDate": "2025-03-24T01:40:22.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "Cloudflare 推出 “AI 迷宫”，引导恶意爬虫走入虚假数据陷阱",
          "link": "https://www.aibase.com/zh/news/16516",
          "pubDate": "Mon, 24 Mar 2025 01:40:03 GMT",
          "author": "AI Base",
          "content": "<p>全球知名的网络基础设施公司 Cloudflare 近日宣布推出一项名为 “AI Labyrinth”（AI 迷宫）的新工具，旨在打击未经授权抓取网站数据的网络爬虫。这一举措的核心在于，当 Cloudflare 监测到不当的爬虫行为时，该工具会将这些爬虫引导到一系列 AI 生成的虚假页面，目的在于 “拖延、迷惑并浪费” 恶意爬虫的资源。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387840597559218734465874.png\" title=\"QQ_1742780352546.png\" alt=\"QQ_1742780352546.png\" referrerpolicy=\"no-referrer\"></p><p>长期以来，网站管理员依赖 “robots.txt” 文件来管理爬虫的访问权限，但很多 AI 公司，包括一些知名企业，如 Anthropic 和 Perplexity AI，常常忽视这一规则。Cloudflare 表示，他们每天面临超过500亿个爬虫请求，尽管有能力识别和阻止恶意请求，但这往往促使攻击者不断调整策略，形成一场无休止的 “军备竞赛”。</p><p>与其简单阻止这些爬虫，Cloudflare 的 AI Labyrinth 选择了主动出击。该工具的设计使得爬虫不得不处理与目标网站数据无关的信息，进而将这些爬虫困在虚假的信息中。Cloudflare 强调，AI Labyrinth 不仅是 “下一代诱饵”，它还帮助识别恶意爬虫，了解新出现的爬虫模式和特征。这些链接对普通人来说是不可见的，从而避免了人类用户的困扰。</p><p>根据 Cloudflare 的介绍，网站管理员可以通过其 Cloudflare 仪表板中的 “爬虫管理” 部分来选择是否启用 AI Labyrinth。这项新功能的推出只是使用生成 AI 对抗爬虫的<span class=\"spamTxt\">第一</span>步，Cloudflare 还计划构建 “整套链接 URL 网络”，使爬虫更难识别虚假数据。值得注意的是，AI Labyrinth 与 Nepenthes 工具类似，后者被设计用来将爬虫 “拖延” 数月，沉浸在大量 AI 生成的垃圾数据中。</p><p>官方博客：https://blog.cloudflare.com/ai-labyrinth/</p><blockquote><p>划重点:&nbsp;&nbsp;</p><p>🕷️ Cloudflare 推出 “AI Labyrinth”，用于对抗恶意抓取数据的网络爬虫。&nbsp;&nbsp;</p><p>🔗 新工具通过 AI 生成虚假页面，引导爬虫进入无用信息中，浪费其资源。&nbsp;&nbsp;</p><p>💡 网站管理员可以在 Cloudflare 仪表板上启用此功能，未来还将扩展为更复杂的链接网络。</p></blockquote>",
          "contentSnippet": "全球知名的网络基础设施公司 Cloudflare 近日宣布推出一项名为 “AI Labyrinth”（AI 迷宫）的新工具，旨在打击未经授权抓取网站数据的网络爬虫。这一举措的核心在于，当 Cloudflare 监测到不当的爬虫行为时，该工具会将这些爬虫引导到一系列 AI 生成的虚假页面，目的在于 “拖延、迷惑并浪费” 恶意爬虫的资源。\n\n长期以来，网站管理员依赖 “robots.txt” 文件来管理爬虫的访问权限，但很多 AI 公司，包括一些知名企业，如 Anthropic 和 Perplexity AI，常常忽视这一规则。Cloudflare 表示，他们每天面临超过500亿个爬虫请求，尽管有能力识别和阻止恶意请求，但这往往促使攻击者不断调整策略，形成一场无休止的 “军备竞赛”。\n与其简单阻止这些爬虫，Cloudflare 的 AI Labyrinth 选择了主动出击。该工具的设计使得爬虫不得不处理与目标网站数据无关的信息，进而将这些爬虫困在虚假的信息中。Cloudflare 强调，AI Labyrinth 不仅是 “下一代诱饵”，它还帮助识别恶意爬虫，了解新出现的爬虫模式和特征。这些链接对普通人来说是不可见的，从而避免了人类用户的困扰。\n根据 Cloudflare 的介绍，网站管理员可以通过其 Cloudflare 仪表板中的 “爬虫管理” 部分来选择是否启用 AI Labyrinth。这项新功能的推出只是使用生成 AI 对抗爬虫的第一步，Cloudflare 还计划构建 “整套链接 URL 网络”，使爬虫更难识别虚假数据。值得注意的是，AI Labyrinth 与 Nepenthes 工具类似，后者被设计用来将爬虫 “拖延” 数月，沉浸在大量 AI 生成的垃圾数据中。\n官方博客：https://blog.cloudflare.com/ai-labyrinth/\n\n划重点:  \n🕷️ Cloudflare 推出 “AI Labyrinth”，用于对抗恶意抓取数据的网络爬虫。  \n🔗 新工具通过 AI 生成虚假页面，引导爬虫进入无用信息中，浪费其资源。  \n💡 网站管理员可以在 Cloudflare 仪表板上启用此功能，未来还将扩展为更复杂的链接网络。",
          "guid": "https://www.aibase.com/zh/news/16516",
          "isoDate": "2025-03-24T01:40:03.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "Meta 测试 AI 生成 Instagram 评论功能，用户反应存疑",
          "link": "https://www.aibase.com/zh/news/16515",
          "pubDate": "Mon, 24 Mar 2025 01:38:43 GMT",
          "author": "AI Base",
          "content": "<p>Meta 正在测试一项新功能，允许用户利用人工智能在 Instagram 上生成评论建议。X 用户乔纳·曼扎诺（Jonah Manzano）发现并分享了这一测试功能，显示用户可以点击帖子下方的铅笔图标来访问 Meta AI，该 AI 会分析照片并提供三条可能的评论。如果用户不满意，还可以刷新获取更多建议。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0324/6387840585733142788946299.png\" title=\"QQ20250324-093723.png\" alt=\"QQ20250324-093723.png\" referrerpolicy=\"no-referrer\"></p><p>Meta 发言人向 确认公司正在多个领域测试 Meta AI 功能，包括评论、动态、群组和搜索等。该公司去年已在 Facebook 上测试过类似的 AI 生成评论功能。</p><p>然而，这一功能可能面临用户抵触。许多 Instagram 用户怀念平台早期更加真实的体验，认为好友之间应当进行真诚的互动而非依赖 AI 生成内容。这也是继 Meta 此前尝试引入 AI 生成角色后的又一次人工智能尝试，前者因被认为\"令人毛骨悚然\"而被放弃。</p><p>目前尚不清楚 Meta 是否会将此功能广泛推出，或仅限于小范围测试。</p>",
          "contentSnippet": "Meta 正在测试一项新功能，允许用户利用人工智能在 Instagram 上生成评论建议。X 用户乔纳·曼扎诺（Jonah Manzano）发现并分享了这一测试功能，显示用户可以点击帖子下方的铅笔图标来访问 Meta AI，该 AI 会分析照片并提供三条可能的评论。如果用户不满意，还可以刷新获取更多建议。\n\nMeta 发言人向 确认公司正在多个领域测试 Meta AI 功能，包括评论、动态、群组和搜索等。该公司去年已在 Facebook 上测试过类似的 AI 生成评论功能。\n然而，这一功能可能面临用户抵触。许多 Instagram 用户怀念平台早期更加真实的体验，认为好友之间应当进行真诚的互动而非依赖 AI 生成内容。这也是继 Meta 此前尝试引入 AI 生成角色后的又一次人工智能尝试，前者因被认为\"令人毛骨悚然\"而被放弃。\n目前尚不清楚 Meta 是否会将此功能广泛推出，或仅限于小范围测试。",
          "guid": "https://www.aibase.com/zh/news/16515",
          "isoDate": "2025-03-24T01:38:43.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "全球首个智能体重管理助手「减单」问世，助力健康新篇章",
          "link": "https://www.aibase.com/zh/news/16514",
          "pubDate": "Mon, 24 Mar 2025 01:34:26 GMT",
          "author": "AI Base",
          "content": "<p>近日，安徽医科大学联合多个相关机构正式发布了全球首个体重管理大模型</p><p style=\"text-align: center\"><img src=\"https://pic.chinaz.com/picmap/202307211343352678_2.jpg\" title=\"人工智能大脑 大模型 (2) (图片来源：AI合成)\" alt=\"人工智能大脑 大模型 (2)\" referrerpolicy=\"no-referrer\"></p><p style=\"text-align: center;\">图源备注：图片由AI生成，图片授权服务商Midjourney</p><p>智能助手「减单」。该模型的推出旨在应对我国日益严重的超重与肥胖问题，标志着体重管理领域的又一次重大创新。<br></p><p>「减单」是基于多种人工智能模型进行训练而成，结合了超过40万名患者的数据，致力于为用户提供个性化的体重管理方案。发布会上，专家们展示了该助手的强大功能，包括自动分析食物的营养成分，并给出科学的饮食建议。这不仅提高了临床效率，更为健康管理的转型提供了有力支持。</p><p><br></p><p>随着我国慢性病患者数量的不断上升，预计在未来三年内，「减单」将覆盖1亿名慢性病患者，帮助他们更好地管理体重和健康。通过智能工具与专业支持，「减单」的出现无疑为患者提供了一个全新的管理方式。</p><p>在功能方面，「减单」不仅能够提供个性化的饮食与运动建议，还可以帮助医生更高效地为患者提供针对性的健康管理方案。通过数据分析与个性化服务，这一助手将使每位用户都能以更加科学和健康的方式来管理自己的体重，提升生活质量。</p><p>此外，「减单」的推出不仅仅是一个产品的发布，更是未来健康管理模式转型的重要一步。借助先进的 AI 技术和庞大的数据支持，这一智能助手有望在各大医疗机构中得到广泛应用，为更多的慢性病患者带来福音。</p><p>未来，我们期待看到「减单」如何在改善国民健康水平方面发挥更大的作用，同时也希望这一创新的技术能够引领全球体重管理领域的发展潮流。</p>",
          "contentSnippet": "近日，安徽医科大学联合多个相关机构正式发布了全球首个体重管理大模型\n\n图源备注：图片由AI生成，图片授权服务商Midjourney\n智能助手「减单」。该模型的推出旨在应对我国日益严重的超重与肥胖问题，标志着体重管理领域的又一次重大创新。\n\n「减单」是基于多种人工智能模型进行训练而成，结合了超过40万名患者的数据，致力于为用户提供个性化的体重管理方案。发布会上，专家们展示了该助手的强大功能，包括自动分析食物的营养成分，并给出科学的饮食建议。这不仅提高了临床效率，更为健康管理的转型提供了有力支持。\n\n\n随着我国慢性病患者数量的不断上升，预计在未来三年内，「减单」将覆盖1亿名慢性病患者，帮助他们更好地管理体重和健康。通过智能工具与专业支持，「减单」的出现无疑为患者提供了一个全新的管理方式。\n在功能方面，「减单」不仅能够提供个性化的饮食与运动建议，还可以帮助医生更高效地为患者提供针对性的健康管理方案。通过数据分析与个性化服务，这一助手将使每位用户都能以更加科学和健康的方式来管理自己的体重，提升生活质量。\n此外，「减单」的推出不仅仅是一个产品的发布，更是未来健康管理模式转型的重要一步。借助先进的 AI 技术和庞大的数据支持，这一智能助手有望在各大医疗机构中得到广泛应用，为更多的慢性病患者带来福音。\n未来，我们期待看到「减单」如何在改善国民健康水平方面发挥更大的作用，同时也希望这一创新的技术能够引领全球体重管理领域的发展潮流。",
          "guid": "https://www.aibase.com/zh/news/16514",
          "isoDate": "2025-03-24T01:34:26.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "研究显示，AI 用户可与双人团队媲美，提升工作效率",
          "link": "https://www.aibase.com/zh/news/16513",
          "pubDate": "Mon, 24 Mar 2025 01:33:03 GMT",
          "author": "AI Base",
          "content": "<p>最近的一项研究显示，使用人工智能（AI）的个人在工作表现上可与传统的双人团队相媲美。此次研究由776名洁(Procter &amp; Gamble)专家参与，他们在一天的工作坊中为多个业务单位开发产品创意。研究将参与者分成两组，分别是由一名商业专家和一名技术专家组成的团队，和单独的个人，其中一半的团队和个人都获得了 GPT-4和 GPT-4o 的访问权限。</p><p style=\"text-align: center\"><img src=\"https://pic.chinaz.com/picmap/202307181533291684_3.jpg\" title=\"AI机器人上班 (图片来源：AI合成)\" alt=\"AI机器人上班\" referrerpolicy=\"no-referrer\"></p><p style=\"text-align: center;\">图源备注:图片由AI生成，图片授权服务商Midjourney</p><p>结果显示，未使用 AI 的团队比个人表现出色，领先24%。然而，使用 AI 的个人则提升了37% 的表现，达到了与未使用 AI 团队相同的水平。此外，使用 AI 的团队整体表现提升了39%，尽管与个人使用 AI 的差异在统计上并不显著。使用 AI 的团队在产生高质量解决方案方面表现尤为突出，能够将高质量解决方案的产生几率提高至三倍。</p><p>研究还发现，使用 AI 的团队工作速度提高了12% 到16%，并且能够提供更长、更详细的解决方案。超过75% 的 AI 生成内容在组内被保留，显示出 AI 在团队合作中增强了生产力。</p><p>研究结果表明，AI 技术能够平衡不同专家之间的差距。在没有 AI 的情况下，技术专家通常专注于技术方案，而销售专家则更关注市场方面。而有了 AI 的支持，双方开始产生更加全面的提案。这种效果在经验较少的产品开发员工中表现得尤为明显，他们在使用 AI 后，表现水平与经验丰富的团队成员相当。</p><p>与常见的技术带来压力的假设相反，参与者在使用 AI 时感到更多的积极情绪，如热情和活力，而焦虑和挫败感则显著减少。研究人员建议公司重新审视 AI，不应仅视其为生产力工具，而应视作额外的团队成员。</p><p>然而，研究也指出了一些限制因素。研究设计可能限制了 AI 的潜力，因为主要将其用作聊天机器人，而聊天在快速构思方面表现出色，但解决方案质量则部分依赖于运气和用户的专业知识。此外，在复杂的真实企业环境中，研究的单日工作坊格式未能全面反映实际工作情况。</p><blockquote><p>划重点:</p><p>🌟 使用 AI 的个人在工作表现上可与双人团队媲美。&nbsp;&nbsp;</p><p>📈 AI 技术能够提高团队的工作效率，生成更多高质量的解决方案。&nbsp;&nbsp;</p><p>🤝 AI 不仅是工具，更应视为团队成员，能够促进团队合作与知识共享。&nbsp;&nbsp;</p></blockquote>",
          "contentSnippet": "最近的一项研究显示，使用人工智能（AI）的个人在工作表现上可与传统的双人团队相媲美。此次研究由776名洁(Procter & Gamble)专家参与，他们在一天的工作坊中为多个业务单位开发产品创意。研究将参与者分成两组，分别是由一名商业专家和一名技术专家组成的团队，和单独的个人，其中一半的团队和个人都获得了 GPT-4和 GPT-4o 的访问权限。\n\n图源备注:图片由AI生成，图片授权服务商Midjourney\n结果显示，未使用 AI 的团队比个人表现出色，领先24%。然而，使用 AI 的个人则提升了37% 的表现，达到了与未使用 AI 团队相同的水平。此外，使用 AI 的团队整体表现提升了39%，尽管与个人使用 AI 的差异在统计上并不显著。使用 AI 的团队在产生高质量解决方案方面表现尤为突出，能够将高质量解决方案的产生几率提高至三倍。\n研究还发现，使用 AI 的团队工作速度提高了12% 到16%，并且能够提供更长、更详细的解决方案。超过75% 的 AI 生成内容在组内被保留，显示出 AI 在团队合作中增强了生产力。\n研究结果表明，AI 技术能够平衡不同专家之间的差距。在没有 AI 的情况下，技术专家通常专注于技术方案，而销售专家则更关注市场方面。而有了 AI 的支持，双方开始产生更加全面的提案。这种效果在经验较少的产品开发员工中表现得尤为明显，他们在使用 AI 后，表现水平与经验丰富的团队成员相当。\n与常见的技术带来压力的假设相反，参与者在使用 AI 时感到更多的积极情绪，如热情和活力，而焦虑和挫败感则显著减少。研究人员建议公司重新审视 AI，不应仅视其为生产力工具，而应视作额外的团队成员。\n然而，研究也指出了一些限制因素。研究设计可能限制了 AI 的潜力，因为主要将其用作聊天机器人，而聊天在快速构思方面表现出色，但解决方案质量则部分依赖于运气和用户的专业知识。此外，在复杂的真实企业环境中，研究的单日工作坊格式未能全面反映实际工作情况。\n\n划重点:\n🌟 使用 AI 的个人在工作表现上可与双人团队媲美。  \n📈 AI 技术能够提高团队的工作效率，生成更多高质量的解决方案。  \n🤝 AI 不仅是工具，更应视为团队成员，能够促进团队合作与知识共享。",
          "guid": "https://www.aibase.com/zh/news/16513",
          "isoDate": "2025-03-24T01:33:03.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "​谷歌推Gemini实时AI视频功能，手机摄像头实时解读画面内容",
          "link": "https://www.aibase.com/zh/news/16512",
          "pubDate": "Mon, 24 Mar 2025 01:25:25 GMT",
          "author": "AI Base",
          "content": "<p>谷歌最近宣布其 Gemini Live 已开始推出新功能，这些功能使其能够通过智能手机摄像头实时回答用户的问题，并 “看到” 用户的屏幕。这些新功能是在谷歌的 “Project Astra” 项目支持下，经过近一年的研发后<span class=\"spamTxt\">首次</span>面世。</p><p style=\"text-align: center\"><img src=\"https://pic.chinaz.com/picmap/202312070835429226_0.jpg\" title=\"谷歌大模型Gemini (图片来源：官方或第三方截图)\" alt=\"谷歌大模型Gemini\" referrerpolicy=\"no-referrer\"></p><p>根据谷歌发言人 Alex Joseph 的介绍，Gemini Live 的更新意味着用户在使用手机时可以通过该助手获得更加智能和直观的支持。有用户在 Reddit 上分享了他们在小米手机上体验该功能的情况，9to5Google 也对此进行了报道。近日，该用户还发布了演示视频，展示了 Gemini 的新屏幕阅读功能。</p><p>此次更新包括两项重要功能，谷歌表示将在本月晚些时候，作为 Google One AI Premium 计划的一部分，向 Gemini 的<span class=\"spamTxt\">高级</span>订阅者推送这些功能。这些功能可以让 Gemini 通过手机摄像头实时解读画面内容，并对用户的提问作出精准回答。在一段发布的演示视频中，一位用户询问 Gemini 关于新上釉陶器的颜色选择，助手实时提供了建议，展示了这一新技术的强大能力。</p><p>谷歌此次推出的功能进一步巩固了其在人工智能助手市场的领先地位。与此同时，亚马逊也在准备推出升级版的 Alexa Plus，并进行有限的早期试用，而苹果则推迟了对 Siri 的升级。这使得 Gemini 在市场竞争中占据了有利位置。此外，尽管三星仍在继续推行其 Bixby 助手，但 Gemini 目前仍是谷歌手机的默认助手，这表明谷歌在智能助手领域的战略布局。</p><p>随着 AI 技术的不断进步，用户在日常生活中的互动体验将变得更加智能和便捷。谷歌的这一新尝试为用户提供了更多可能性，未来的人工智能助手将更加贴近人们的实际需求。</p><blockquote><p>划重点:&nbsp;&nbsp;</p><p>🌟 谷歌 Gemini Live 推出新 AI 功能，能够通过手机摄像头实时回答用户问题。&nbsp;&nbsp;</p><p>📱 用户在小米手机上已体验到新功能，并发布了相关演示视频。&nbsp;&nbsp;</p><p>🚀 此次更新进一步巩固谷歌在智能助手市场的领先地位。</p></blockquote>",
          "contentSnippet": "谷歌最近宣布其 Gemini Live 已开始推出新功能，这些功能使其能够通过智能手机摄像头实时回答用户的问题，并 “看到” 用户的屏幕。这些新功能是在谷歌的 “Project Astra” 项目支持下，经过近一年的研发后首次面世。\n\n根据谷歌发言人 Alex Joseph 的介绍，Gemini Live 的更新意味着用户在使用手机时可以通过该助手获得更加智能和直观的支持。有用户在 Reddit 上分享了他们在小米手机上体验该功能的情况，9to5Google 也对此进行了报道。近日，该用户还发布了演示视频，展示了 Gemini 的新屏幕阅读功能。\n此次更新包括两项重要功能，谷歌表示将在本月晚些时候，作为 Google One AI Premium 计划的一部分，向 Gemini 的高级订阅者推送这些功能。这些功能可以让 Gemini 通过手机摄像头实时解读画面内容，并对用户的提问作出精准回答。在一段发布的演示视频中，一位用户询问 Gemini 关于新上釉陶器的颜色选择，助手实时提供了建议，展示了这一新技术的强大能力。\n谷歌此次推出的功能进一步巩固了其在人工智能助手市场的领先地位。与此同时，亚马逊也在准备推出升级版的 Alexa Plus，并进行有限的早期试用，而苹果则推迟了对 Siri 的升级。这使得 Gemini 在市场竞争中占据了有利位置。此外，尽管三星仍在继续推行其 Bixby 助手，但 Gemini 目前仍是谷歌手机的默认助手，这表明谷歌在智能助手领域的战略布局。\n随着 AI 技术的不断进步，用户在日常生活中的互动体验将变得更加智能和便捷。谷歌的这一新尝试为用户提供了更多可能性，未来的人工智能助手将更加贴近人们的实际需求。\n\n划重点:  \n🌟 谷歌 Gemini Live 推出新 AI 功能，能够通过手机摄像头实时回答用户问题。  \n📱 用户在小米手机上已体验到新功能，并发布了相关演示视频。  \n🚀 此次更新进一步巩固谷歌在智能助手市场的领先地位。",
          "guid": "https://www.aibase.com/zh/news/16512",
          "isoDate": "2025-03-24T01:25:25.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "​全球首个体重管理AI大模型 “减单” 在合肥发布 基于DeepSeek等模型",
          "link": "https://www.aibase.com/zh/news/16511",
          "pubDate": "Mon, 24 Mar 2025 01:15:29 GMT",
          "author": "AI Base",
          "content": "<p><span style=\"text-indent: 2em;\">全球首个体重管理 AI 大模型 “减单” 在合肥隆重发布。该项目是由安徽医科大学校长翁建平教授团队、中国科学技术大学附属<span class=\"spamTxt\">第一</span>医院及浙江诺特健康科技股份有限公司共同研发的成果。这一模型的推出，旨在帮助越来越多的超重和肥胖患者有效管理体重。</span></p><p>根据<span class=\"spamTxt\">最新</span>的统计数据，中国成人超重率已达到34.3%，肥胖率为16.4%，且这一趋势在年轻群体中愈发明显。如果不加以干预，预计到2030年，超重和肥胖率将飙升至70.5%。为了应对这一日益严峻的健康问题，国家卫生健康委员会和16个部门联合制定了《“体重管理年” 活动实施方案》，希望在未来三年内，通过科技支持广泛建立体重管理的环境。</p><p>“减单” 模型的构建，基于 DeepSeek、OpenAI 及豆包三个大模型，同时融合了诺特公司21年的知识库和超过40万名患者的管理数据。与其他同类模型不同，“减单” 专注于生活方式的干预，旨在应用于肥胖相关的慢性疾病管理。诺特公司董事长吴向明在发布会上表示，借助这一模型，传统需要专业团队跟踪的体重管理服务，可以转变为可以融入日常生活的数字健康助手。</p><p>据了解，“减单” 具有强大的功能，当用户上传一日三餐的图片或文字描述时，AI 助手可以快速分析出所摄入的碳水化合物、蛋白质和脂肪含量，并给出更健康的烹饪建议。此外，该模型的模块化应用也将扩展至内分泌科、营养科及全科管理等领域，预计在未来三年内覆盖超过1亿名慢性病患者。</p><p>划重点:</p><p>🌍 全球首个体重管理 AI 大模型 “减单” 于合肥正式发布，旨在应对肥胖问题。&nbsp;&nbsp;</p><p>📈 超重率达34.3%，预计到2030年将飙升至70.5%，亟需有效管理。&nbsp;&nbsp;</p><p>🤖 “减单” 结合多种数据，能智能分析饮食情况，帮助用户健康管理体重。</p>",
          "contentSnippet": "全球首个体重管理 AI 大模型 “减单” 在合肥隆重发布。该项目是由安徽医科大学校长翁建平教授团队、中国科学技术大学附属第一医院及浙江诺特健康科技股份有限公司共同研发的成果。这一模型的推出，旨在帮助越来越多的超重和肥胖患者有效管理体重。\n根据最新的统计数据，中国成人超重率已达到34.3%，肥胖率为16.4%，且这一趋势在年轻群体中愈发明显。如果不加以干预，预计到2030年，超重和肥胖率将飙升至70.5%。为了应对这一日益严峻的健康问题，国家卫生健康委员会和16个部门联合制定了《“体重管理年” 活动实施方案》，希望在未来三年内，通过科技支持广泛建立体重管理的环境。\n“减单” 模型的构建，基于 DeepSeek、OpenAI 及豆包三个大模型，同时融合了诺特公司21年的知识库和超过40万名患者的管理数据。与其他同类模型不同，“减单” 专注于生活方式的干预，旨在应用于肥胖相关的慢性疾病管理。诺特公司董事长吴向明在发布会上表示，借助这一模型，传统需要专业团队跟踪的体重管理服务，可以转变为可以融入日常生活的数字健康助手。\n据了解，“减单” 具有强大的功能，当用户上传一日三餐的图片或文字描述时，AI 助手可以快速分析出所摄入的碳水化合物、蛋白质和脂肪含量，并给出更健康的烹饪建议。此外，该模型的模块化应用也将扩展至内分泌科、营养科及全科管理等领域，预计在未来三年内覆盖超过1亿名慢性病患者。\n划重点:\n🌍 全球首个体重管理 AI 大模型 “减单” 于合肥正式发布，旨在应对肥胖问题。  \n📈 超重率达34.3%，预计到2030年将飙升至70.5%，亟需有效管理。  \n🤖 “减单” 结合多种数据，能智能分析饮食情况，帮助用户健康管理体重。",
          "guid": "https://www.aibase.com/zh/news/16511",
          "isoDate": "2025-03-24T01:15:29.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "​苹果重组AI高管团队，Siri升级推迟至2026年",
          "link": "https://www.aibase.com/zh/news/16510",
          "pubDate": "Mon, 24 Mar 2025 01:10:33 GMT",
          "author": "AI Base",
          "content": "<p>近日，苹果公司对其高管团队进行了重大调整，旨在振兴其人工智能战略。这一举措是在经历了几个月的技术研发滞后之后做出的，显示出苹果对当前进展的失望与对未来发展的迫切期望。</p><p style=\"text-align: center\"><img src=\"https://pic.chinaz.com/picmap/201901231151062672_10.jpg\" title=\"苹果 (图片版权所属：站长之家)\" alt=\"苹果\" referrerpolicy=\"no-referrer\"></p><p>重组的重点主要集中在苹果的语音助手 Siri 项目上。原定于今年推出的一系列重要升级，现已被推迟至2026年。这一决定反映出苹果在面对日益激烈的竞争和技术瓶颈时的紧迫感。</p><p>据了解，此次高管重组是由于苹果首席执行官蒂姆・库克对前人工智能负责人约翰・詹南德雷亚的产品研发执行力表示不满。为了改善情况，苹果任命 Vision 产品集团副总裁迈克・洛克威尔接替詹南德雷亚，成为 Siri 开发项目的新负责人。洛克威尔曾是 Vision Pro 头显的核心研发者，他将直接向苹果软件工程主管克雷格・费德里吉汇报，标志着 Siri 项目正式脱离詹南德雷亚的管理。</p><p>除了 Siri 项目的调整，苹果还宣布了其他重要人事变动，原 Vision Pro 硬件工程负责人保罗・米德将接任 Vision 产品集团的负责人。这一系列人事调整显示了苹果希望通过重新配置领导层来推动创新与技术进步的决心。</p><p>划重点:</p><p>🔍 苹果对高管团队进行重组，以提升人工智能战略的执行力。&nbsp;&nbsp;</p><p>📅 Siri 多项升级计划已被推迟至2026年，显示出研发进展的滞后。&nbsp;&nbsp;</p><p>👔 迈克・洛克威尔接替前负责人，标志着苹果在 AI 领域的重大调整。&nbsp;&nbsp;</p>",
          "contentSnippet": "近日，苹果公司对其高管团队进行了重大调整，旨在振兴其人工智能战略。这一举措是在经历了几个月的技术研发滞后之后做出的，显示出苹果对当前进展的失望与对未来发展的迫切期望。\n\n重组的重点主要集中在苹果的语音助手 Siri 项目上。原定于今年推出的一系列重要升级，现已被推迟至2026年。这一决定反映出苹果在面对日益激烈的竞争和技术瓶颈时的紧迫感。\n据了解，此次高管重组是由于苹果首席执行官蒂姆・库克对前人工智能负责人约翰・詹南德雷亚的产品研发执行力表示不满。为了改善情况，苹果任命 Vision 产品集团副总裁迈克・洛克威尔接替詹南德雷亚，成为 Siri 开发项目的新负责人。洛克威尔曾是 Vision Pro 头显的核心研发者，他将直接向苹果软件工程主管克雷格・费德里吉汇报，标志着 Siri 项目正式脱离詹南德雷亚的管理。\n除了 Siri 项目的调整，苹果还宣布了其他重要人事变动，原 Vision Pro 硬件工程负责人保罗・米德将接任 Vision 产品集团的负责人。这一系列人事调整显示了苹果希望通过重新配置领导层来推动创新与技术进步的决心。\n划重点:\n🔍 苹果对高管团队进行重组，以提升人工智能战略的执行力。  \n📅 Siri 多项升级计划已被推迟至2026年，显示出研发进展的滞后。  \n👔 迈克・洛克威尔接替前负责人，标志着苹果在 AI 领域的重大调整。",
          "guid": "https://www.aibase.com/zh/news/16510",
          "isoDate": "2025-03-24T01:10:33.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "苹果CEO库克称赞DeepSeek：当然用过 很棒",
          "link": "https://www.aibase.com/zh/news/16509",
          "pubDate": "Sun, 23 Mar 2025 02:53:23 GMT",
          "author": "AI Base",
          "content": "<p><span style=\"text-indent: 2em;\">中国发展高层论坛2025年年会在北京盛大召开，吸引了全球众多知名企业代表前来参与。苹果CEO蒂姆·库克、三星电子会长李在镕、高通CEO克里斯蒂亚诺·安蒙以及SK海力士CEO郭鲁正等跨国企业<span class=\"spamTxt\">领袖</span>均现身此次论坛。</span></p><p>在论坛开幕式上，库克成为了媒体关注的焦点。当被问及是否使用过近期大热的DeepSeek应用时，库克毫不犹豫地给出了肯定回答，并称赞道:“当然，很棒!”</p><p style=\"text-align: center\"><img src=\"https://pic.chinaz.com/picmap/202502051439307375_1.jpg\" title=\"DeepSeek大语言模型算法是、深度求索AI人工智能 (图片来源：官方或第三方截图)\" alt=\"DeepSeek大语言模型算法是、深度求索AI人工智能\" referrerpolicy=\"no-referrer\"></p><p>值得一提的是，此次访华是库克在2025年的<span class=\"spamTxt\">首次</span>中国之行。3月22日，库克通过微博向中国的粉丝和朋友们问好:“你好，北京!”这一亲切的问候迅速在网络上引起了热议。</p><p>此外，在访华期间，库克还与壹心娱乐创始人杨天真一同爬了景山公园，并留下了珍贵的合照。杨天真在微博上分享了这一经历，并向库克提出了一个有趣的建议:希望下一代iPhone Pro能够推出粉色版本。库克对此表示已经收到并会考虑这一建议。</p>",
          "contentSnippet": "中国发展高层论坛2025年年会在北京盛大召开，吸引了全球众多知名企业代表前来参与。苹果CEO蒂姆·库克、三星电子会长李在镕、高通CEO克里斯蒂亚诺·安蒙以及SK海力士CEO郭鲁正等跨国企业领袖均现身此次论坛。\n在论坛开幕式上，库克成为了媒体关注的焦点。当被问及是否使用过近期大热的DeepSeek应用时，库克毫不犹豫地给出了肯定回答，并称赞道:“当然，很棒!”\n\n值得一提的是，此次访华是库克在2025年的首次中国之行。3月22日，库克通过微博向中国的粉丝和朋友们问好:“你好，北京!”这一亲切的问候迅速在网络上引起了热议。\n此外，在访华期间，库克还与壹心娱乐创始人杨天真一同爬了景山公园，并留下了珍贵的合照。杨天真在微博上分享了这一经历，并向库克提出了一个有趣的建议:希望下一代iPhone Pro能够推出粉色版本。库克对此表示已经收到并会考虑这一建议。",
          "guid": "https://www.aibase.com/zh/news/16509",
          "isoDate": "2025-03-23T02:53:23.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "腾讯混元自研深度思考模型「T1」正式发布",
          "link": "https://www.aibase.com/zh/news/16508",
          "pubDate": "Sat, 22 Mar 2025 02:20:52 GMT",
          "author": "AI Base",
          "content": "<p><span style=\"text-indent: 2em;\">近日，腾讯正式推出了其自研的深度思考模型——混元T1正式版。</span></p><p>混元T1正式版在大规模强化学习的基础上，针对数学、逻辑推理、科学和代码等理科难题进行了专项优化，从而实现了推理能力的显著提升。在常见benchmark上，如大语言模型评估增强数据集MMLU-PRO中，混元T1取得了87.2分的优异成绩，仅次于<span class=\"spamTxt\">顶尖</span>模型o1。同时，在CEval、AIME、Zebra Logic等中英文知识及竞赛级数学、逻辑推理的公开基准测试中，混元T1也展现出了业界领先推理模型的水平。</p><p style=\"text-align:center\"><img alt=\"腾讯最强！混元自研深度思考模型T1 正式发布：吐字快、能秒回\" src=\"https://pic.chinaz.com/2025/0322/2025032209475458491.jpg\" referrerpolicy=\"no-referrer\"></p><p>除了基础推理能力外，混元T1正式版还在多项对齐任务、指令跟随任务和工具利用任务中展现出了非常强的适应性。这得益于其沿用了混元Turbo S的创新架构，并采用了Hybrid-Mamba-Transformer融合模式。这是工业界<span class=\"spamTxt\">首次</span>将混合Mamba架构无损应用于超大型推理模型，有效降低了传统Transformer结构的计算复杂度，减少了KV-Cache的内存占用，从而显著降低了训练和推理成本。</p><p>此外，基于出色的长文捕捉能力，混元T1能有效解决长文推理中常见的上下文丢失和长距离信息依赖问题。混合Mamba架构针对长序列处理进行了专项优化，通过高效的计算方式，在确保长文本信息捕捉能力的同时大幅降低资源消耗。在相近的激活参数量下，混元T1实现了解码速度提升2倍。</p><p>目前，腾讯混元T1已经开放体验，并上线了API服务。用户可以根据需求，以每百万tokens1元的输入价格和每百万tokens4元的输出价格，享受这一强大推理模型带来的便捷与高效。</p>",
          "contentSnippet": "近日，腾讯正式推出了其自研的深度思考模型——混元T1正式版。\n混元T1正式版在大规模强化学习的基础上，针对数学、逻辑推理、科学和代码等理科难题进行了专项优化，从而实现了推理能力的显著提升。在常见benchmark上，如大语言模型评估增强数据集MMLU-PRO中，混元T1取得了87.2分的优异成绩，仅次于顶尖模型o1。同时，在CEval、AIME、Zebra Logic等中英文知识及竞赛级数学、逻辑推理的公开基准测试中，混元T1也展现出了业界领先推理模型的水平。\n\n除了基础推理能力外，混元T1正式版还在多项对齐任务、指令跟随任务和工具利用任务中展现出了非常强的适应性。这得益于其沿用了混元Turbo S的创新架构，并采用了Hybrid-Mamba-Transformer融合模式。这是工业界首次将混合Mamba架构无损应用于超大型推理模型，有效降低了传统Transformer结构的计算复杂度，减少了KV-Cache的内存占用，从而显著降低了训练和推理成本。\n此外，基于出色的长文捕捉能力，混元T1能有效解决长文推理中常见的上下文丢失和长距离信息依赖问题。混合Mamba架构针对长序列处理进行了专项优化，通过高效的计算方式，在确保长文本信息捕捉能力的同时大幅降低资源消耗。在相近的激活参数量下，混元T1实现了解码速度提升2倍。\n目前，腾讯混元T1已经开放体验，并上线了API服务。用户可以根据需求，以每百万tokens1元的输入价格和每百万tokens4元的输出价格，享受这一强大推理模型带来的便捷与高效。",
          "guid": "https://www.aibase.com/zh/news/16508",
          "isoDate": "2025-03-22T02:20:52.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "李飞飞团队推出新型图像处理技术，打破传统界限",
          "link": "https://www.aibase.com/zh/news/16507",
          "pubDate": "Fri, 21 Mar 2025 10:03:32 GMT",
          "author": "AI Base",
          "content": "<p>在计算机视觉领域，如何高效地处理图像一直是研究的热点话题。近日，斯坦福大学的李飞飞教授和吴佳俊教授的团队发布了一项新的研究成果，提出了一种名为 “FlowMo” 的创新型图像 tokenizer。这种新方法在不依赖卷积神经网络（CNN）和生成对抗网络(GAN)的情况下，显著提升了图像重建的质量。</p><p>当我们看到一张猫咪的照片时，大脑可以瞬间识别出那是一只猫。然而，对于计算机而言，处理图像则显得复杂得多。计算机将图像视为庞大的数字矩阵，通常需要数百万个数字来表示每一个像素。为了使得 AI 模型能够高效学习，研究者们需要将图像压缩到更易处理的形式，这个过程称为 “tokenization”。传统的方法往往依赖于复杂的卷积网络和对抗性学习，但这些方法存在一定的局限性。</p><p style=\"text-align: center\"><img src=\"https://pic.chinaz.com/picmap/202303201449544742_0.jpg\" title=\"AI绘画 二次元 办公 职业女性 (1)动漫 (图片来源：AI合成)\" alt=\"AI绘画 二次元 办公 职业女性 (1)动漫\" referrerpolicy=\"no-referrer\"></p><p style=\"text-align: center;\">图源备注：图片由AI生成，图片授权服务商Midjourney</p><p>FlowMo 的核心创新在于其独特的两阶段训练策略。首先，模型在<span class=\"spamTxt\">第一</span>阶段通过捕捉多种可能的图像重建结果来学习，这样可以确保生成的图像多样性与质量并存。接着，第二阶段则专注于优化重建结果，使之更加接近原始图像。这一过程不仅提升了重建的准确性，也增强了生成图像的视觉感知质量。</p><p>实验结果显示，FlowMo 在多个标准数据集上的表现优于传统的图像 tokenizer。例如，在 ImageNet-1K 数据集上，FlowMo 的重建性能在多个比特率设置下都取得了<span class=\"spamTxt\">最优</span>成绩。尤其是在低比特率的情况下，FlowMo 的重建 FID 值为0.95，远超目前<span class=\"spamTxt\">最好</span>的模型。</p><p>李飞飞团队的这项研究标志着图像处理技术的一次重要突破，不仅为未来的图像生成模型提供了新的思路，也为各种视觉应用场景的优化奠定了基础。随着技术的不断进步，图像生成和处理将变得愈加高效和智能。</p>",
          "contentSnippet": "在计算机视觉领域，如何高效地处理图像一直是研究的热点话题。近日，斯坦福大学的李飞飞教授和吴佳俊教授的团队发布了一项新的研究成果，提出了一种名为 “FlowMo” 的创新型图像 tokenizer。这种新方法在不依赖卷积神经网络（CNN）和生成对抗网络(GAN)的情况下，显著提升了图像重建的质量。\n当我们看到一张猫咪的照片时，大脑可以瞬间识别出那是一只猫。然而，对于计算机而言，处理图像则显得复杂得多。计算机将图像视为庞大的数字矩阵，通常需要数百万个数字来表示每一个像素。为了使得 AI 模型能够高效学习，研究者们需要将图像压缩到更易处理的形式，这个过程称为 “tokenization”。传统的方法往往依赖于复杂的卷积网络和对抗性学习，但这些方法存在一定的局限性。\n\n图源备注：图片由AI生成，图片授权服务商Midjourney\nFlowMo 的核心创新在于其独特的两阶段训练策略。首先，模型在第一阶段通过捕捉多种可能的图像重建结果来学习，这样可以确保生成的图像多样性与质量并存。接着，第二阶段则专注于优化重建结果，使之更加接近原始图像。这一过程不仅提升了重建的准确性，也增强了生成图像的视觉感知质量。\n实验结果显示，FlowMo 在多个标准数据集上的表现优于传统的图像 tokenizer。例如，在 ImageNet-1K 数据集上，FlowMo 的重建性能在多个比特率设置下都取得了最优成绩。尤其是在低比特率的情况下，FlowMo 的重建 FID 值为0.95，远超目前最好的模型。\n李飞飞团队的这项研究标志着图像处理技术的一次重要突破，不仅为未来的图像生成模型提供了新的思路，也为各种视觉应用场景的优化奠定了基础。随着技术的不断进步，图像生成和处理将变得愈加高效和智能。",
          "guid": "https://www.aibase.com/zh/news/16507",
          "isoDate": "2025-03-21T10:03:32.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "富途接入DeepSeek并推出多个升级后的AI产品功能",
          "link": "https://www.aibase.com/zh/news/16506",
          "pubDate": "Fri, 21 Mar 2025 09:50:07 GMT",
          "author": "AI Base",
          "content": "<p>在&nbsp;3月21日于香港湾仔会议展览中心举行的 “富途投资展” 上富途证券正式宣布接入 DeepSeek-R1，并推出了一系列升级的人工智能（AI）产品功能。这次展会以 “智能” 投资为主题，吸引了众多零售投资者的关注。</p><p>富途证券创办人兼董事长李华在展会上表示，此次推出的牛牛 AI 将为投资者提供更灵活的服务。与之前单向的 “AI 个股解读” 不同，牛牛 AI 能够处理复杂的查询，成为投资者的智能助手，随时准备为用户的投资决策提供支持。当新手投资者面临海量信息时，可以通过与牛牛 AI 进行对话，快速获取精准的股票分析信息。未来，牛牛 AI 甚至能够根据用户需求，从成千上万只证券中筛选出合适的投资目标。</p><p>除了牛牛 AI，富途还推出了新的 “机会” 智选投资主题页面、期权策略和程序交易等一系列新功能。针对进阶投资者，富途将提供 AI 程序交易（AI Algo Trading），帮助零售投资者以较低的成本和门槛进行量化交易，用户无需时时盯盘即可实现自动化交易。</p><p>李华强调，要建立一个有价值的投资 AI 模型，必须进行高质量的后天训练。富途不仅将使用外部公开资料，还会结合自身的丰富数据资源，包括行情数据、基本面信息、资金流向及宏观经济数据等，进行算法训练，以提升牛牛 AI 的推理能力。同时，牛牛 AI 所引用的数据将经过严格筛选，以确保信息的真实性，减少 “AI 幻觉” 问题的发生。</p><p>在财务方面，富途近日发布的2024年财报显示，Q4总营收为44.33亿港元（约5.71亿美元），同比增长86.8%。在此期间，富途牛牛和 moomoo 应用程序的注册用户数达到了2515万，同比增长16%。李华还提到，富途在国际化战略的推进中，重视产品力和用户需求，努力克服本地化挑战。</p><blockquote><p>划重点:</p><p>🌟 富途正式接入 DeepSeek-R1，推出多个升级的 AI 投资功能，助力零售投资者。&nbsp;&nbsp;</p><p>🤖 牛牛 AI 能够处理复杂查询，帮助新手投资者获取精准的股票分析信息。&nbsp;&nbsp;</p><p>📈 富途发布2024年财报，Q4总营收同比增长86.8%，用户数量持续增长。</p></blockquote>",
          "contentSnippet": "在 3月21日于香港湾仔会议展览中心举行的 “富途投资展” 上富途证券正式宣布接入 DeepSeek-R1，并推出了一系列升级的人工智能（AI）产品功能。这次展会以 “智能” 投资为主题，吸引了众多零售投资者的关注。\n富途证券创办人兼董事长李华在展会上表示，此次推出的牛牛 AI 将为投资者提供更灵活的服务。与之前单向的 “AI 个股解读” 不同，牛牛 AI 能够处理复杂的查询，成为投资者的智能助手，随时准备为用户的投资决策提供支持。当新手投资者面临海量信息时，可以通过与牛牛 AI 进行对话，快速获取精准的股票分析信息。未来，牛牛 AI 甚至能够根据用户需求，从成千上万只证券中筛选出合适的投资目标。\n除了牛牛 AI，富途还推出了新的 “机会” 智选投资主题页面、期权策略和程序交易等一系列新功能。针对进阶投资者，富途将提供 AI 程序交易（AI Algo Trading），帮助零售投资者以较低的成本和门槛进行量化交易，用户无需时时盯盘即可实现自动化交易。\n李华强调，要建立一个有价值的投资 AI 模型，必须进行高质量的后天训练。富途不仅将使用外部公开资料，还会结合自身的丰富数据资源，包括行情数据、基本面信息、资金流向及宏观经济数据等，进行算法训练，以提升牛牛 AI 的推理能力。同时，牛牛 AI 所引用的数据将经过严格筛选，以确保信息的真实性，减少 “AI 幻觉” 问题的发生。\n在财务方面，富途近日发布的2024年财报显示，Q4总营收为44.33亿港元（约5.71亿美元），同比增长86.8%。在此期间，富途牛牛和 moomoo 应用程序的注册用户数达到了2515万，同比增长16%。李华还提到，富途在国际化战略的推进中，重视产品力和用户需求，努力克服本地化挑战。\n\n划重点:\n🌟 富途正式接入 DeepSeek-R1，推出多个升级的 AI 投资功能，助力零售投资者。  \n🤖 牛牛 AI 能够处理复杂查询，帮助新手投资者获取精准的股票分析信息。  \n📈 富途发布2024年财报，Q4总营收同比增长86.8%，用户数量持续增长。",
          "guid": "https://www.aibase.com/zh/news/16506",
          "isoDate": "2025-03-21T09:50:07.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "维他动力获 2 亿元融资，年底将推出首款智能家居机器人",
          "link": "https://www.aibase.com/zh/news/16505",
          "pubDate": "Fri, 21 Mar 2025 09:13:30 GMT",
          "author": "AI Base",
          "content": "<p>近日，维他动力（Vita Dynamics）宣布完成了2亿元的种子轮融资。作为一家成立仅三个月的初创公司，维他动力的融资引起了行业的广泛关注。本轮融资由知名投资机构今日资本和凯辉基金领投，其他投资方包括雅瑞资本、高瓴创投及 BV 百度风投等，显示了市场对其未来发展的信心。</p><p>维他动力的目标是打造智能生活伙伴，通过机器人技术提升个人和家庭的生活质量。随着智能电动车和移动互联网的快速发展，中国已经具备了成熟的电池和智能制造产业链，加上丰富的人工智能人才，机器人产业迎来了前所未有的机遇。维他动力认为，机器人将成为生活中不可或缺的一部分，尤其是在满足用户日益增长的服务需求方面。</p><p style=\"text-align: center\"><img src=\"https://pic.chinaz.com/picmap/201812101541429574_0.jpg\" title=\"钱 资本 融资 (图片来源图虫：已授站长之家使用)\" alt=\"钱 资本 融资\" referrerpolicy=\"no-referrer\"></p><p>维他动力的<span class=\"spamTxt\">首款</span>产品是一个智能伴随机器人，预计将在今年底与公众见面。这款机器人将具备自主移动能力，能够在户外和室内场景中灵活应用。户外场景将侧重于机器人的空间理解和移动能力，而室内场景则更加注重机器人在日常生活中的操作能力。</p><p>维他动力的创始人兼 CEO 余轶南博士表示，机器人技术的复杂性要求企业在硬件、软件和人工智能模型等多方面进行深入研究和开发。他强调，此次融资将主要用于加速产品研发、扩大团队以及建立完善的供应链体系。他们的目标是让机器人服务更普惠，让更多家庭享受到高质量的智能家居体验。</p><p>维他动力正站在技术革新的浪潮上，希望通过研发智能机器人，为人们的生活带来更多便利和乐趣。</p>",
          "contentSnippet": "近日，维他动力（Vita Dynamics）宣布完成了2亿元的种子轮融资。作为一家成立仅三个月的初创公司，维他动力的融资引起了行业的广泛关注。本轮融资由知名投资机构今日资本和凯辉基金领投，其他投资方包括雅瑞资本、高瓴创投及 BV 百度风投等，显示了市场对其未来发展的信心。\n维他动力的目标是打造智能生活伙伴，通过机器人技术提升个人和家庭的生活质量。随着智能电动车和移动互联网的快速发展，中国已经具备了成熟的电池和智能制造产业链，加上丰富的人工智能人才，机器人产业迎来了前所未有的机遇。维他动力认为，机器人将成为生活中不可或缺的一部分，尤其是在满足用户日益增长的服务需求方面。\n\n维他动力的首款产品是一个智能伴随机器人，预计将在今年底与公众见面。这款机器人将具备自主移动能力，能够在户外和室内场景中灵活应用。户外场景将侧重于机器人的空间理解和移动能力，而室内场景则更加注重机器人在日常生活中的操作能力。\n维他动力的创始人兼 CEO 余轶南博士表示，机器人技术的复杂性要求企业在硬件、软件和人工智能模型等多方面进行深入研究和开发。他强调，此次融资将主要用于加速产品研发、扩大团队以及建立完善的供应链体系。他们的目标是让机器人服务更普惠，让更多家庭享受到高质量的智能家居体验。\n维他动力正站在技术革新的浪潮上，希望通过研发智能机器人，为人们的生活带来更多便利和乐趣。",
          "guid": "https://www.aibase.com/zh/news/16505",
          "isoDate": "2025-03-21T09:13:30.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "​英伟达计划在美国投资数千亿推动半导体供应链发展",
          "link": "https://www.aibase.com/zh/news/16504",
          "pubDate": "Fri, 21 Mar 2025 09:09:27 GMT",
          "author": "AI Base",
          "content": "<p style=\"text-align: left;\"><span style=\"text-indent: 2em;\">全球市值</span><span class=\"spamTxt\" style=\"text-indent: 2em;\"><span class=\"spamTxt\">最高</span></span><span style=\"text-indent: 2em;\">的半导体公司英伟达近日宣布，将在未来四年内在美国的供应链上投资数千亿美元。根据《金融时报》的报道，英伟达预计将在电子产品领域支出约 5000 亿美元，其中很大一部分将用于美国的运营。这一重大投资计划被认为是对特朗普 “美国优先” 贸易政策的响应，同时也跟随了苹果等其他科技巨头的类似公告。</span></p><p>英伟达首席执行官黄仁勋在接受《金融时报》采访时指出，公司已经可以通过台积电（TSMC）和富士康等供应商在美国制造其<span class=\"spamTxt\">最新</span>的系统。这一宣布恰逢公司在本周举行的 GTC 2025 大会上推出新的人工智能加速器。</p><p>此外，黄仁勋在采访中对华为在人工智能芯片领域日益增长的影响表示了担忧，并指出现有的制裁措施效果不佳。他还否认了与英特尔可能建立合作伙伴关系的传闻。此前有报道称，英伟达和台积电等技术公司可能会收购英特尔的制造部门的股份，而英伟达近期对英特尔新制造工艺的测试也加剧了外界的猜测。</p><p>与此同时，台积电对于美国生产的支持也相当显著。作为全球领先的芯片制造商，台积电已经承诺在亚利桑那州投资额外的 1000 亿美元，用于生产设施建设，这在之前承诺的 650 亿美元基础上再增加了投资。</p><p>划重点：&nbsp;&nbsp;</p><p>🔹 英伟达计划在未来四年内投资 5000 亿美元，增强美国半导体供应链。&nbsp;&nbsp;</p><p>🔹 CEO 黄仁勋对华为在人工智能芯片领域的崛起表示担忧，并否认与英特尔的合作传闻。&nbsp;&nbsp;</p><p>🔹 台积电宣布将在美国投资额外 1000 亿美元，支持本土生产的扩展。</p><p><br></p>",
          "contentSnippet": "全球市值最高的半导体公司英伟达近日宣布，将在未来四年内在美国的供应链上投资数千亿美元。根据《金融时报》的报道，英伟达预计将在电子产品领域支出约 5000 亿美元，其中很大一部分将用于美国的运营。这一重大投资计划被认为是对特朗普 “美国优先” 贸易政策的响应，同时也跟随了苹果等其他科技巨头的类似公告。\n英伟达首席执行官黄仁勋在接受《金融时报》采访时指出，公司已经可以通过台积电（TSMC）和富士康等供应商在美国制造其最新的系统。这一宣布恰逢公司在本周举行的 GTC 2025 大会上推出新的人工智能加速器。\n此外，黄仁勋在采访中对华为在人工智能芯片领域日益增长的影响表示了担忧，并指出现有的制裁措施效果不佳。他还否认了与英特尔可能建立合作伙伴关系的传闻。此前有报道称，英伟达和台积电等技术公司可能会收购英特尔的制造部门的股份，而英伟达近期对英特尔新制造工艺的测试也加剧了外界的猜测。\n与此同时，台积电对于美国生产的支持也相当显著。作为全球领先的芯片制造商，台积电已经承诺在亚利桑那州投资额外的 1000 亿美元，用于生产设施建设，这在之前承诺的 650 亿美元基础上再增加了投资。\n划重点：  \n🔹 英伟达计划在未来四年内投资 5000 亿美元，增强美国半导体供应链。  \n🔹 CEO 黄仁勋对华为在人工智能芯片领域的崛起表示担忧，并否认与英特尔的合作传闻。  \n🔹 台积电宣布将在美国投资额外 1000 亿美元，支持本土生产的扩展。",
          "guid": "https://www.aibase.com/zh/news/16504",
          "isoDate": "2025-03-21T09:09:27.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "钉钉推出全新AI生态政策，助力创业者创新无阻",
          "link": "https://www.aibase.com/zh/news/16503",
          "pubDate": "Fri, 21 Mar 2025 08:25:34 GMT",
          "author": "AI Base",
          "content": "<p>在北京举行的 “AI 创业 N 次方” 生态创新大会上，钉钉宣布了一系列针对 AI 创业者和转型者的全新生态政策，旨在降低创业门槛，推动 AI 技术的广泛应用。此次发布的 “AI 创新 N 次方计划” 包括免除佣金、免入驻保证金及免算力费用等多项优惠，并在销售、品牌、技术和投资等方面提供全方位支持，助力生态伙伴顺利进行 AI 创业和创新。</p><p>钉钉副总裁王铭在大会上指出，开放与合作是钉钉一直以来的信仰。在 AI 时代的背景下，钉钉希望通过聚焦生态合作，吸引更多的 AI 生态伙伴，共同探索和服务各行各业的客户需求。他强调，钉钉已经构建起覆盖15个软件类目、4700个场景和346个行业的繁荣生态网络，目前已有超过220万家企业在钉钉上运用 AI 技术，涵盖制造、医疗、金融、零售等多个行业。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0321/6387817111434263495289539.png\" title=\"QQ20250321-162507.png\" alt=\"QQ20250321-162507.png\" referrerpolicy=\"no-referrer\"></p><p>为了加快 AI 创业者从技术研发到商业落地的速度，钉钉推出的 AI 生态扶持政策提供了多个支持措施，包括线上流量的推广、线下销售渠道的拓展、专属 AI 模型的开放以及产品开发技术指导等。此外，钉钉还发布了业内首份《AI 创业行动指南》，为 AI 创业者提供全面的指导，涵盖客户场景、产品设计、技术落地等内容。</p><p>大会上，钉钉与多家合作伙伴展示了创新成果。比如，由钉钉与 “销帮帮” 合作推出的 “AI 销售助理”，利用智能识别和自动记录功能，大幅提升销售团队的工作效率。同样，恩君特的 “AI 短视频助理” 则将短视频创作过程中的各个环节整合在一起，帮助用户在短时间内完成高质量视频制作，实现了30倍的效率提升。</p><p>未来，钉钉将继续深化与生态伙伴的合作，推动 AI 技术的落地与应用，助力更多企业在数字化转型的道路上取得成功。</p>",
          "contentSnippet": "在北京举行的 “AI 创业 N 次方” 生态创新大会上，钉钉宣布了一系列针对 AI 创业者和转型者的全新生态政策，旨在降低创业门槛，推动 AI 技术的广泛应用。此次发布的 “AI 创新 N 次方计划” 包括免除佣金、免入驻保证金及免算力费用等多项优惠，并在销售、品牌、技术和投资等方面提供全方位支持，助力生态伙伴顺利进行 AI 创业和创新。\n钉钉副总裁王铭在大会上指出，开放与合作是钉钉一直以来的信仰。在 AI 时代的背景下，钉钉希望通过聚焦生态合作，吸引更多的 AI 生态伙伴，共同探索和服务各行各业的客户需求。他强调，钉钉已经构建起覆盖15个软件类目、4700个场景和346个行业的繁荣生态网络，目前已有超过220万家企业在钉钉上运用 AI 技术，涵盖制造、医疗、金融、零售等多个行业。\n\n为了加快 AI 创业者从技术研发到商业落地的速度，钉钉推出的 AI 生态扶持政策提供了多个支持措施，包括线上流量的推广、线下销售渠道的拓展、专属 AI 模型的开放以及产品开发技术指导等。此外，钉钉还发布了业内首份《AI 创业行动指南》，为 AI 创业者提供全面的指导，涵盖客户场景、产品设计、技术落地等内容。\n大会上，钉钉与多家合作伙伴展示了创新成果。比如，由钉钉与 “销帮帮” 合作推出的 “AI 销售助理”，利用智能识别和自动记录功能，大幅提升销售团队的工作效率。同样，恩君特的 “AI 短视频助理” 则将短视频创作过程中的各个环节整合在一起，帮助用户在短时间内完成高质量视频制作，实现了30倍的效率提升。\n未来，钉钉将继续深化与生态伙伴的合作，推动 AI 技术的落地与应用，助力更多企业在数字化转型的道路上取得成功。",
          "guid": "https://www.aibase.com/zh/news/16503",
          "isoDate": "2025-03-21T08:25:34.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "​小模型助力法律行业，LexisNexis 推出 AI 助手 Protégé",
          "link": "https://www.aibase.com/zh/news/16502",
          "pubDate": "Fri, 21 Mar 2025 08:14:42 GMT",
          "author": "AI Base",
          "content": "<p>法律研究公司 LexisNexis 最近推出了一款名为 Protégé 的 AI 助手，旨在为、助理和法律专员提供支持。Protégé 的主要功能是帮助用户撰写和校对法律文件，并确保引用的内容在诉状和简中是准确的。LexisNexis 希望打造一款不仅仅是通用的法律 AI 助手，而是能够学习各个法律事务所的工作流程并提供定制化服务的智能助手。</p><p>在开发 Protégé 的过程中，LexisNexis 利用了 Anthropic 和 Mistral 的先进大型语言模型（LLM），并尝试找出最能满足用户需求的模型。LexisNexis 的首席技术官 Jeff Riehl 表示:“我们会根据具体的使用场景选择<span class=\"spamTxt\">最佳</span>模型，以实现<span class=\"spamTxt\">最佳</span>效果和最快的响应时间。” 在某些情况下，LexisNexis 会选择小型语言模型(SLM)或对大型模型进行蒸馏，以提高性能并降低成本。</p><p>蒸馏是指让大型模型 “教” 一个较小的模型，这一方法在很多组织中越来越受欢迎。小型模型通常在聊天机器人或简单代码补全等应用中表现较好，这也正是 LexisNexis 希望在 Protégé 中实现的目标。</p><p>LexisNexis 在过去已经在 AI 应用方面进行了多次尝试，早在2024年7月推出 LexisNexis + AI 法律研究中心之前，他们就已经在自然语言处理、深度学习和机器学习方面有所探索。Riehl 提到，自2022年11月 ChatGPT 问世以来，生成式和对话式 AI 的能力让他们备感兴奋。</p><p>在构建 AI 平台时，LexisNexis 采用了多模型的方法，他们利用来自不同模型提供商的模型，如 Claude、OpenAI 的 GPT 和 Mistral。Riehl 表示:“我们会将每个用户的任务分解为单独的组件，找到<span class=\"spamTxt\">最佳</span>的大型语言模型来支持每个组件。” 例如，在用户输入查询时，Protégé 首先会使用一个经过微调的 Mistral 模型来分析查询，随后再切换到最适合完成任务的模型。</p><p>目前，LexisNexis 主要依赖一个经过微调的 Mistral 模型，而在其他方面则有使用 Claude 模型的计划。公司还在考虑使用 OpenAI 的新模型以及 Google 的 Gemini 模型来进一步增强其 AI 平台的能力。</p><p>Protégé 不仅仅是个法律助手，它还能协助撰写法律文件、建议法律工作流程的下一步、生成问题、链接引用以确保准确性、生成时间线，以及总结复杂的法律文档。Riehl 指出，Protégé 将是个性化和智能化法律助手的初步尝试，他们希望每位法律专业人士都能拥有一位个性化助手，以支持他们的具体工作需求。</p><blockquote><p>划重点:&nbsp;&nbsp;</p><p>📜 Protégé 是 LexisNexis 推出的 AI 助手，旨在为法律专业人士提供个性化的支持。&nbsp;&nbsp;</p><p>⚙️ LexisNexis 使用多种大型和小型语言模型，以提升 AI 助手的响应速度和准确性。&nbsp;&nbsp;</p><p>🔍 Protégé 能够协助撰写法律文档、生成问题并总结复杂内容，推动法律工作智能化。</p></blockquote>",
          "contentSnippet": "法律研究公司 LexisNexis 最近推出了一款名为 Protégé 的 AI 助手，旨在为、助理和法律专员提供支持。Protégé 的主要功能是帮助用户撰写和校对法律文件，并确保引用的内容在诉状和简中是准确的。LexisNexis 希望打造一款不仅仅是通用的法律 AI 助手，而是能够学习各个法律事务所的工作流程并提供定制化服务的智能助手。\n在开发 Protégé 的过程中，LexisNexis 利用了 Anthropic 和 Mistral 的先进大型语言模型（LLM），并尝试找出最能满足用户需求的模型。LexisNexis 的首席技术官 Jeff Riehl 表示:“我们会根据具体的使用场景选择最佳模型，以实现最佳效果和最快的响应时间。” 在某些情况下，LexisNexis 会选择小型语言模型(SLM)或对大型模型进行蒸馏，以提高性能并降低成本。\n蒸馏是指让大型模型 “教” 一个较小的模型，这一方法在很多组织中越来越受欢迎。小型模型通常在聊天机器人或简单代码补全等应用中表现较好，这也正是 LexisNexis 希望在 Protégé 中实现的目标。\nLexisNexis 在过去已经在 AI 应用方面进行了多次尝试，早在2024年7月推出 LexisNexis + AI 法律研究中心之前，他们就已经在自然语言处理、深度学习和机器学习方面有所探索。Riehl 提到，自2022年11月 ChatGPT 问世以来，生成式和对话式 AI 的能力让他们备感兴奋。\n在构建 AI 平台时，LexisNexis 采用了多模型的方法，他们利用来自不同模型提供商的模型，如 Claude、OpenAI 的 GPT 和 Mistral。Riehl 表示:“我们会将每个用户的任务分解为单独的组件，找到最佳的大型语言模型来支持每个组件。” 例如，在用户输入查询时，Protégé 首先会使用一个经过微调的 Mistral 模型来分析查询，随后再切换到最适合完成任务的模型。\n目前，LexisNexis 主要依赖一个经过微调的 Mistral 模型，而在其他方面则有使用 Claude 模型的计划。公司还在考虑使用 OpenAI 的新模型以及 Google 的 Gemini 模型来进一步增强其 AI 平台的能力。\nProtégé 不仅仅是个法律助手，它还能协助撰写法律文件、建议法律工作流程的下一步、生成问题、链接引用以确保准确性、生成时间线，以及总结复杂的法律文档。Riehl 指出，Protégé 将是个性化和智能化法律助手的初步尝试，他们希望每位法律专业人士都能拥有一位个性化助手，以支持他们的具体工作需求。\n\n划重点:  \n📜 Protégé 是 LexisNexis 推出的 AI 助手，旨在为法律专业人士提供个性化的支持。  \n⚙️ LexisNexis 使用多种大型和小型语言模型，以提升 AI 助手的响应速度和准确性。  \n🔍 Protégé 能够协助撰写法律文档、生成问题并总结复杂内容，推动法律工作智能化。",
          "guid": "https://www.aibase.com/zh/news/16502",
          "isoDate": "2025-03-21T08:14:42.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "收购好大夫后新动作，蚂蚁集团面向29万医生推出AI辅助系列产品",
          "link": "https://www.aibase.com/zh/news/16501",
          "pubDate": "Fri, 21 Mar 2025 08:13:57 GMT",
          "author": "AI Base",
          "content": "<p>蚂蚁集团正加码AI医疗产业布局，3月21日，其对外公布了在医疗机构、医生、用户三端<span class=\"spamTxt\">最新</span>AI产品体系升级。其中，面向医疗机构，蚂蚁联合华为医疗卫生军团、阿里云等推出“蚂蚁医疗大模型一体机”全栈式解决方案;面向好大夫在线29万注册医生，发布AI医生助手系列工具;同时，服务用户的健康应用“AI健康管家”也推出智能思考、健康自测等十余项新功能。</p><p>AI浪潮下，医疗机构对大模型部署需求与日俱增，但在落地与实际应用中，兼顾服务便捷与数据安全、平衡应用性能与投入成本也成为主要挑战。</p><p>为解决这一问题，蚂蚁集团联合阿里云、华为医疗卫生军团、卫宁健康、纳里智数等近百家产业伙伴，宣布推出全新“蚂蚁医疗大模型一体机”全栈解决方案:医疗机构仅需一键接入蚂蚁医疗大模型一体机设备，即可完成国产算力、医疗大模型、AI训推一体的私有化部署，推进院内业务系统、患者服务AI升级。据悉，杭州市医保局、宁波市鄞州区卫健委、北京中医医院、上海仁济医院、上海市中医医院、浙江省人民医院、迪安诊断共7家机构成为首批接入合作的医疗机构。</p><p>记者了解到，这套方案在软件集成方面，集合了蚂蚁医疗大模型核心能力，可一键调用DeepSeek&nbsp;R1/V3、Qwen、百灵等多个主流大模型，同时，具备医学思维推理能力与多模态交互，在医疗专业领域水平领先。在MedBench医疗大模型评测中，蚂蚁医疗大模型曾连续斩获医学知识问答等多项<span class=\"spamTxt\">第一</span>。</p><p>硬件部署方面，蚂蚁合作阿里云、华为、苹果等主流硬件厂商主打“训推一体，开箱即用”轻量化设计，并结合蚂蚁可信AI平台“蚁鉴2.0”的隐私计算能力，实现数据可用不可见、诊疗过程全程可溯源，确保医院等AI部署数据安全。</p><p>大模型技术能力开放外，蚂蚁也在应用层助力医疗机构创新。在公立医疗体系，面向卫健机构，其与浙江卫健委合作了国内<span class=\"spamTxt\">首款</span>省级AI健康应用“安诊儿”，公开信息显示，目前已经覆盖超1000家公立医院、服务超3000万人次。面向医保部门，蚂蚁AI技术助力杭州医保局打造AI医保助手“依保儿”，目前湖北、天津、上海等地医保局也通过蚂蚁AI实现了医保智能化。在民营医疗服务中，蚂蚁已经与迪安诊断等多家头部民营医疗机构，建立了AI检查检验报告生成等合作。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0321/6387817040423809527303943.png\" title=\"QQ20250321-161258.png\" alt=\"QQ20250321-161258.png\" referrerpolicy=\"no-referrer\"></p><p style=\"text-align: center;\">AI给医生当“助手”，帮用户管健康</p><p>今年1月，蚂蚁集团完成对好大夫在线收购，加快AI助力医生工作的场景开发，要打造“AI<span class=\"spamTxt\">超级</span>医生助理”，服务好大夫平台29万注册医生。在此前发布的“AI病历助手”、“AI科普助手”基础上，推出“AI科研助手”，全面助力医生的医、教、研工作。</p><p>据介绍，“AI科研助手”深度融合了DeepSeek，为医生提供高效、精准的学术与临床支持。通过多源医疗数据实时解析与深度学习算法，系统可快速定位关键文献，并生成结构化综述，将文献检索效率显著提升。在临床决策场景中，AI科研助手整合患者病历、影像数据及<span class=\"spamTxt\">最新</span>医学指南，支持文字、图片等完整病历和查询信息的输入，通过智能鉴别诊断模型生成结构化鉴别诊断建议，同步提供<span class=\"spamTxt\">权威</span>文献依据与分级诊疗路径推荐。</p><p>蚂蚁在医疗AI用户应用上也有新进展。去年9月，“AI健康管家”推出，面向用户提供找医生、读报告、陪看诊、问医保等医疗健康AI服务。蚂蚁集团数据显示，半年多来，该产品已服务近4000万用户，涵盖了看病就医、日常健康咨询所需。</p><p>进一步优化用户体验，“AI健康管家”问答新增支持深度思考模式、自研智能思考模式，匹配用户不同对话需求。同时，新增健康自测、体检报告解读等实用功能，全国60多位名医AI智能体已入驻，累计服务功能达近百种。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0321/6387817041301173455346596.png\" title=\"QQ20250321-161308.png\" alt=\"QQ20250321-161308.png\" referrerpolicy=\"no-referrer\"></p><p>行业观察人士称，目前蚂蚁集团在AI医疗领域以医疗大模型为核心，形成了“医疗机构—医生—患者”的三维服务体系，打通了医疗AI从诊疗、服务到健康管理的闭环，为医疗健康产业探索打造安全可信的AI应用做出有益探索。</p><p>公开信息显示，蚂蚁医疗健康成立至今已有10年，联合超3600家医院，累计服务用户超8亿，是目前国内<span class=\"spamTxt\">最大</span>的医保支付服务平台、一站式医疗健康服务平台。从2023年开始，蚂蚁开始探索医疗AI领域，目前其医疗大模型是业内应用场景最丰富、与医疗机构、医生、医院共建最深的垂类大模型之一。</p>",
          "contentSnippet": "蚂蚁集团正加码AI医疗产业布局，3月21日，其对外公布了在医疗机构、医生、用户三端最新AI产品体系升级。其中，面向医疗机构，蚂蚁联合华为医疗卫生军团、阿里云等推出“蚂蚁医疗大模型一体机”全栈式解决方案;面向好大夫在线29万注册医生，发布AI医生助手系列工具;同时，服务用户的健康应用“AI健康管家”也推出智能思考、健康自测等十余项新功能。\nAI浪潮下，医疗机构对大模型部署需求与日俱增，但在落地与实际应用中，兼顾服务便捷与数据安全、平衡应用性能与投入成本也成为主要挑战。\n为解决这一问题，蚂蚁集团联合阿里云、华为医疗卫生军团、卫宁健康、纳里智数等近百家产业伙伴，宣布推出全新“蚂蚁医疗大模型一体机”全栈解决方案:医疗机构仅需一键接入蚂蚁医疗大模型一体机设备，即可完成国产算力、医疗大模型、AI训推一体的私有化部署，推进院内业务系统、患者服务AI升级。据悉，杭州市医保局、宁波市鄞州区卫健委、北京中医医院、上海仁济医院、上海市中医医院、浙江省人民医院、迪安诊断共7家机构成为首批接入合作的医疗机构。\n记者了解到，这套方案在软件集成方面，集合了蚂蚁医疗大模型核心能力，可一键调用DeepSeek R1/V3、Qwen、百灵等多个主流大模型，同时，具备医学思维推理能力与多模态交互，在医疗专业领域水平领先。在MedBench医疗大模型评测中，蚂蚁医疗大模型曾连续斩获医学知识问答等多项第一。\n硬件部署方面，蚂蚁合作阿里云、华为、苹果等主流硬件厂商主打“训推一体，开箱即用”轻量化设计，并结合蚂蚁可信AI平台“蚁鉴2.0”的隐私计算能力，实现数据可用不可见、诊疗过程全程可溯源，确保医院等AI部署数据安全。\n大模型技术能力开放外，蚂蚁也在应用层助力医疗机构创新。在公立医疗体系，面向卫健机构，其与浙江卫健委合作了国内首款省级AI健康应用“安诊儿”，公开信息显示，目前已经覆盖超1000家公立医院、服务超3000万人次。面向医保部门，蚂蚁AI技术助力杭州医保局打造AI医保助手“依保儿”，目前湖北、天津、上海等地医保局也通过蚂蚁AI实现了医保智能化。在民营医疗服务中，蚂蚁已经与迪安诊断等多家头部民营医疗机构，建立了AI检查检验报告生成等合作。\n\nAI给医生当“助手”，帮用户管健康\n今年1月，蚂蚁集团完成对好大夫在线收购，加快AI助力医生工作的场景开发，要打造“AI超级医生助理”，服务好大夫平台29万注册医生。在此前发布的“AI病历助手”、“AI科普助手”基础上，推出“AI科研助手”，全面助力医生的医、教、研工作。\n据介绍，“AI科研助手”深度融合了DeepSeek，为医生提供高效、精准的学术与临床支持。通过多源医疗数据实时解析与深度学习算法，系统可快速定位关键文献，并生成结构化综述，将文献检索效率显著提升。在临床决策场景中，AI科研助手整合患者病历、影像数据及最新医学指南，支持文字、图片等完整病历和查询信息的输入，通过智能鉴别诊断模型生成结构化鉴别诊断建议，同步提供权威文献依据与分级诊疗路径推荐。\n蚂蚁在医疗AI用户应用上也有新进展。去年9月，“AI健康管家”推出，面向用户提供找医生、读报告、陪看诊、问医保等医疗健康AI服务。蚂蚁集团数据显示，半年多来，该产品已服务近4000万用户，涵盖了看病就医、日常健康咨询所需。\n进一步优化用户体验，“AI健康管家”问答新增支持深度思考模式、自研智能思考模式，匹配用户不同对话需求。同时，新增健康自测、体检报告解读等实用功能，全国60多位名医AI智能体已入驻，累计服务功能达近百种。\n\n行业观察人士称，目前蚂蚁集团在AI医疗领域以医疗大模型为核心，形成了“医疗机构—医生—患者”的三维服务体系，打通了医疗AI从诊疗、服务到健康管理的闭环，为医疗健康产业探索打造安全可信的AI应用做出有益探索。\n公开信息显示，蚂蚁医疗健康成立至今已有10年，联合超3600家医院，累计服务用户超8亿，是目前国内最大的医保支付服务平台、一站式医疗健康服务平台。从2023年开始，蚂蚁开始探索医疗AI领域，目前其医疗大模型是业内应用场景最丰富、与医疗机构、医生、医院共建最深的垂类大模型之一。",
          "guid": "https://www.aibase.com/zh/news/16501",
          "isoDate": "2025-03-21T08:13:57.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "Roblox 推出AI驱动3D模型工具Cube，游戏创作迈入新纪元",
          "link": "https://www.aibase.com/zh/news/16500",
          "pubDate": "Fri, 21 Mar 2025 08:06:00 GMT",
          "author": "AI Base",
          "content": "<p>近日，Roblox 发布了一个名为 Cube 的3D 智能基础模型，它的到来标志着游戏开发者在设计游戏资产时可以借助人工智能的力量。Roblox 一直以来都鼓励用户创造自己的游戏、物品和服装，而现在这一过程变得更加简单和高效。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0321/6387816987832119461596291.png\" title=\"image.png\" alt=\"image.png\" referrerpolicy=\"no-referrer\"></p><p>Cube 的发布旨在为开发者提供一个强大的工具，能够生成游戏中的各类体验。无论是3D 物体、场景设计，还是角色造型和编程脚本，Cube 都能通过简单的指令来完成。例如，用户只需输入描述，Cube 便能生成一个形象鲜明的3D 角色或对象。然而，在测试中发现，Cube 在生成一些常见物体时表现较为理想，但对于更复杂的或超出常规的请求，效果则稍显逊色。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0321/6387816988965765357375875.png\" title=\"image.png\" alt=\"image.png\" referrerpolicy=\"no-referrer\"></p><p>Roblox 的创始人兼 CEO 大卫・巴祖基（David Baszucki）在社交媒体上表示，这款模型的设计理念是作为一个协作助手，帮助开发者在各个方面创造 Roblox 体验。未来，开发者不仅可以用它创建独特的3D 对象，还能设计完整的场景布局和互动逻辑。</p><p>在模型的设计中，Roblox 团队明确了三个核心要求:从稀疏的多模态数据中联合学习、处理不同大小的输入输出，以及与人类及其他 AI 系统的协作能力。这些目标虽然理想，但实际开发过程中依然需要逐步实现。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0321/6387816992463936153595993.png\" title=\"image.png\" alt=\"image.png\" referrerpolicy=\"no-referrer\"></p><p>Cube 模型的核心在于3D 形状的 token 化。通过将几何形状转化为数字 token，Roblox 能够生成文本到形状和形状到文本的转换，进而形成更复杂的3D 场景。为了优化这一过程，研究人员还引入了一种新型位置编码技术，确保在生成复杂形状时，保持高保真度，减少伪影的产生。</p><p>这次 Cube 的推出，不仅是 Roblox 向3D 智能基础模型迈出的重要一步，也为游戏开发者开启了一个全新的创作时代。</p><p>项目地址:https://github.com/Roblox/cube</p>",
          "contentSnippet": "近日，Roblox 发布了一个名为 Cube 的3D 智能基础模型，它的到来标志着游戏开发者在设计游戏资产时可以借助人工智能的力量。Roblox 一直以来都鼓励用户创造自己的游戏、物品和服装，而现在这一过程变得更加简单和高效。\n\nCube 的发布旨在为开发者提供一个强大的工具，能够生成游戏中的各类体验。无论是3D 物体、场景设计，还是角色造型和编程脚本，Cube 都能通过简单的指令来完成。例如，用户只需输入描述，Cube 便能生成一个形象鲜明的3D 角色或对象。然而，在测试中发现，Cube 在生成一些常见物体时表现较为理想，但对于更复杂的或超出常规的请求，效果则稍显逊色。\n\nRoblox 的创始人兼 CEO 大卫・巴祖基（David Baszucki）在社交媒体上表示，这款模型的设计理念是作为一个协作助手，帮助开发者在各个方面创造 Roblox 体验。未来，开发者不仅可以用它创建独特的3D 对象，还能设计完整的场景布局和互动逻辑。\n在模型的设计中，Roblox 团队明确了三个核心要求:从稀疏的多模态数据中联合学习、处理不同大小的输入输出，以及与人类及其他 AI 系统的协作能力。这些目标虽然理想，但实际开发过程中依然需要逐步实现。\n\nCube 模型的核心在于3D 形状的 token 化。通过将几何形状转化为数字 token，Roblox 能够生成文本到形状和形状到文本的转换，进而形成更复杂的3D 场景。为了优化这一过程，研究人员还引入了一种新型位置编码技术，确保在生成复杂形状时，保持高保真度，减少伪影的产生。\n这次 Cube 的推出，不仅是 Roblox 向3D 智能基础模型迈出的重要一步，也为游戏开发者开启了一个全新的创作时代。\n项目地址:https://github.com/Roblox/cube",
          "guid": "https://www.aibase.com/zh/news/16500",
          "isoDate": "2025-03-21T08:06:00.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "​65 岁老人因头晕被 AI 检测出早期胰腺癌",
          "link": "https://www.aibase.com/zh/news/16499",
          "pubDate": "Fri, 21 Mar 2025 08:04:18 GMT",
          "author": "AI Base",
          "content": "<p><span style=\"text-indent: 2em;\">近日，宁波大学附属人民医院的医疗团队在一例看似普通的就诊中，运用人工智能技术成功发现了早期胰腺癌，令人瞩目。65 岁的丘先生因连续三天头晕而前往医院就诊。尽管经过常规检查后并未发现异常，但 AI 系统却通过对其影像资料的深入分析，及时发出警报，指向了潜在的胰腺癌风险。</span></p><p>在这次的医疗案例中，医院使用了 “平扫 CT+AI” 相结合的检查方法，这一先进技术在对 4 万名患者进行筛查的过程中，成功识别出 6 例早期胰腺癌患者。AI 技术在医疗领域的应用，逐渐成为提升诊断效率和准确性的关键因素。</p><p>AI 的优势在于其强大的数据处理能力和灵敏度，通过深度学习、自然语言处理、计算机视觉等技术，AI 能够从庞大的医疗数据中识别复杂的模式和健康风险。这不仅使得患者在医疗过程中能主动参与自身健康管理，也使得医生能够更高效地进行诊断和决策。</p><p>在接受了 AI 的辅助诊断后，丘先生顺利完成了手术，目前正在康复中。这一事件再次验证了 AI 技术在疾病早期检测中的重要性，也为传统医学的智能化发展开辟了新的道路。未来，人工智能与医疗的结合将使患者的就医体验更加智能化和精准化。</p><p>值得一提的是，AI 辅助诊断系统不仅在癌症的筛查中具有显著成效，还能在其他疾病的检测中发挥重要作用。例如，在乳腺癌的筛查中，引入 AI 能够提升早期病变的检出率，同时降低误诊率，帮助更多患者获得及时的治疗。展望未来，拥有一个全天候、高效、专业知识全面的 “AI <span class=\"spamTxt\">超级</span>医生” 将成为现实，进一步提升患者的健康管理水平。</p><p><br></p><p><br></p><p><br></p>",
          "contentSnippet": "近日，宁波大学附属人民医院的医疗团队在一例看似普通的就诊中，运用人工智能技术成功发现了早期胰腺癌，令人瞩目。65 岁的丘先生因连续三天头晕而前往医院就诊。尽管经过常规检查后并未发现异常，但 AI 系统却通过对其影像资料的深入分析，及时发出警报，指向了潜在的胰腺癌风险。\n在这次的医疗案例中，医院使用了 “平扫 CT+AI” 相结合的检查方法，这一先进技术在对 4 万名患者进行筛查的过程中，成功识别出 6 例早期胰腺癌患者。AI 技术在医疗领域的应用，逐渐成为提升诊断效率和准确性的关键因素。\nAI 的优势在于其强大的数据处理能力和灵敏度，通过深度学习、自然语言处理、计算机视觉等技术，AI 能够从庞大的医疗数据中识别复杂的模式和健康风险。这不仅使得患者在医疗过程中能主动参与自身健康管理，也使得医生能够更高效地进行诊断和决策。\n在接受了 AI 的辅助诊断后，丘先生顺利完成了手术，目前正在康复中。这一事件再次验证了 AI 技术在疾病早期检测中的重要性，也为传统医学的智能化发展开辟了新的道路。未来，人工智能与医疗的结合将使患者的就医体验更加智能化和精准化。\n值得一提的是，AI 辅助诊断系统不仅在癌症的筛查中具有显著成效，还能在其他疾病的检测中发挥重要作用。例如，在乳腺癌的筛查中，引入 AI 能够提升早期病变的检出率，同时降低误诊率，帮助更多患者获得及时的治疗。展望未来，拥有一个全天候、高效、专业知识全面的 “AI 超级医生” 将成为现实，进一步提升患者的健康管理水平。",
          "guid": "https://www.aibase.com/zh/news/16499",
          "isoDate": "2025-03-21T08:04:18.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "前字节跳动AI专家加盟千寻智能，助推具身智能技术发展",
          "link": "https://www.aibase.com/zh/news/16498",
          "pubDate": "Fri, 21 Mar 2025 07:53:21 GMT",
          "author": "AI Base",
          "content": "<p>在AI领域引发广泛关注的消息传来，前字节跳动的 AI 技术专家解浚源已正式加入具身智能创业公司千寻智能，担任具身智能部负责人。这一变化不仅为千寻智能的技术团队注入了强大的动力，也为具身智能的未来发展铺平了道路。</p><p>解浚源是一位在人工智能领域颇具声望的人物。他本科毕业于中国科学技术大学，并在美国华盛顿大学获得博士学位。他在多个<span class=\"spamTxt\">顶级</span>学术会议上发表过论文，且这些论文的引用次数超过了一万次，显示出他在该领域的深厚影响力。此外，解浚源还曾是知名开源项目 MXNet 的早期创始者之一，后续在亚马逊和字节跳动担任重要职务，积累了丰富的系统架构和机器学习算法经验。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0321/6387816916248117174219078.png\" title=\"image.png\" alt=\"image.png\" referrerpolicy=\"no-referrer\"></p><p>千寻智能作为国内领先的具身智能公司，拥有 AI 与机器人全栈技术能力，其创始人兼 CEO 韩峰涛在机器人行业有着超过十年的经验。在他的带领下，千寻智能的技术团队在具身大模型、机器人以及场景落地等方面都有了显著的进展。</p><p>解浚源的加入，被业内人士视为千寻智能发展的 “强心剂”。他的丰富经验将加速公司具身大模型的研发和技术迭代，使其在竞争激烈的市场中占据一席之地。近年来，随着大模型技术的突破以及应用场景的不断扩展，具身智能的概念正逐渐走向现实，展现出前所未有的潜力。</p><p>具身智能正成为全球科技行业最受关注的赛道之一，而千寻智能的崛起则标志着这一领域的曙光时刻即将来临。随着解浚源的加盟，千寻智能将更具竞争力，未来有望在具身智能领域取得更加辉煌的成就。</p>",
          "contentSnippet": "在AI领域引发广泛关注的消息传来，前字节跳动的 AI 技术专家解浚源已正式加入具身智能创业公司千寻智能，担任具身智能部负责人。这一变化不仅为千寻智能的技术团队注入了强大的动力，也为具身智能的未来发展铺平了道路。\n解浚源是一位在人工智能领域颇具声望的人物。他本科毕业于中国科学技术大学，并在美国华盛顿大学获得博士学位。他在多个顶级学术会议上发表过论文，且这些论文的引用次数超过了一万次，显示出他在该领域的深厚影响力。此外，解浚源还曾是知名开源项目 MXNet 的早期创始者之一，后续在亚马逊和字节跳动担任重要职务，积累了丰富的系统架构和机器学习算法经验。\n\n千寻智能作为国内领先的具身智能公司，拥有 AI 与机器人全栈技术能力，其创始人兼 CEO 韩峰涛在机器人行业有着超过十年的经验。在他的带领下，千寻智能的技术团队在具身大模型、机器人以及场景落地等方面都有了显著的进展。\n解浚源的加入，被业内人士视为千寻智能发展的 “强心剂”。他的丰富经验将加速公司具身大模型的研发和技术迭代，使其在竞争激烈的市场中占据一席之地。近年来，随着大模型技术的突破以及应用场景的不断扩展，具身智能的概念正逐渐走向现实，展现出前所未有的潜力。\n具身智能正成为全球科技行业最受关注的赛道之一，而千寻智能的崛起则标志着这一领域的曙光时刻即将来临。随着解浚源的加盟，千寻智能将更具竞争力，未来有望在具身智能领域取得更加辉煌的成就。",
          "guid": "https://www.aibase.com/zh/news/16498",
          "isoDate": "2025-03-21T07:53:21.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "天猫推出AI设计助手，助力家电家居商家提升效率",
          "link": "https://www.aibase.com/zh/news/16497",
          "pubDate": "Fri, 21 Mar 2025 07:30:12 GMT",
          "author": "AI Base",
          "content": "<p>在2025年上海 AWE 展会上，天猫隆重推出了一款电商行业首创的 AI 设计工具 ——“家作”，为家电、家居和家装行业的商家提供了一整套高效的设计解决方案。借助这一创新工具，商家只需上传商品图片，便能一键生成各种风格的场景图，效果甚至媲美专业摄影。这标志着商家们在视觉营销上的竞争力将显著提升。</p><p>“家作” 具备 AI 棚拍功能，可以为商家生成超过80种风格的场景图，并且支持用户上传参考图或输入文字进行自定义设计。更令人惊艳的是，新推出的 AI 模特功能能模拟真人效果。例如，AI 模特躺在枕头上时，画面中的褶皱感让人几乎无法分辨其真实与否。这种高仿真效果使得商家在展示产品时更具吸引力。</p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0321/6387816778060002369750558.png\" title=\"image.png\" alt=\"image.png\" referrerpolicy=\"no-referrer\"></p><p>来自慕思品牌的相关负责人表示，AI 设计助手大幅解放了设计师的基础工作，让他们能专注于创意设计。过去一年中，使用家作生成的场景图已接近2000张，其中包含模特的图片达到900多张，设计成本节省超过140万元。</p><p>截至目前，“家作” 已经吸引了超过13万家商家使用，包括源氏木语、慕思、全友等多个知名品牌。天猫的家作产品经理鱼乘强调，AI 技术能够帮助商家显著提高运营效率，将传统的2-3天的设计流程压缩至几分钟内完成，并保持真实的视觉效果。</p><p>除了 AI 设计工具，天猫还在直播、营销和服务等领域推出了一系列 AI 工具，旨在全面提升家电家居商家的经营效率。在直播方面，商家只需一张绿幕，就能实现虚拟直播场景的打造;而淘宝官方直播的数字人则可以提供全天候的直播服务。营销方面，AI 小万为商家提供个性化咨询和广告投放方案，大幅节省时间。</p><p>在服务方面，智能客服系统 “店小蜜” 通过先进的模型实现精准问答，有效降低客服成本。同时，生意管家平台集成了多种功能，每天帮助商家节省约30% 的时间，极大地提升了生产力。</p><p>在本次展会上，天猫还展示了与众多家电科技品牌合作的<span class=\"spamTxt\">最新</span> AI 产品，包括 AI 冰箱、扫地机器人等。此外，淘宝 Vision 与天猫家享生活联合打造的虚拟家居体验舱，进一步提升了消费者的购物体验，标志着未来 AI 购物的新趋势。</p>",
          "contentSnippet": "在2025年上海 AWE 展会上，天猫隆重推出了一款电商行业首创的 AI 设计工具 ——“家作”，为家电、家居和家装行业的商家提供了一整套高效的设计解决方案。借助这一创新工具，商家只需上传商品图片，便能一键生成各种风格的场景图，效果甚至媲美专业摄影。这标志着商家们在视觉营销上的竞争力将显著提升。\n“家作” 具备 AI 棚拍功能，可以为商家生成超过80种风格的场景图，并且支持用户上传参考图或输入文字进行自定义设计。更令人惊艳的是，新推出的 AI 模特功能能模拟真人效果。例如，AI 模特躺在枕头上时，画面中的褶皱感让人几乎无法分辨其真实与否。这种高仿真效果使得商家在展示产品时更具吸引力。\n\n来自慕思品牌的相关负责人表示，AI 设计助手大幅解放了设计师的基础工作，让他们能专注于创意设计。过去一年中，使用家作生成的场景图已接近2000张，其中包含模特的图片达到900多张，设计成本节省超过140万元。\n截至目前，“家作” 已经吸引了超过13万家商家使用，包括源氏木语、慕思、全友等多个知名品牌。天猫的家作产品经理鱼乘强调，AI 技术能够帮助商家显著提高运营效率，将传统的2-3天的设计流程压缩至几分钟内完成，并保持真实的视觉效果。\n除了 AI 设计工具，天猫还在直播、营销和服务等领域推出了一系列 AI 工具，旨在全面提升家电家居商家的经营效率。在直播方面，商家只需一张绿幕，就能实现虚拟直播场景的打造;而淘宝官方直播的数字人则可以提供全天候的直播服务。营销方面，AI 小万为商家提供个性化咨询和广告投放方案，大幅节省时间。\n在服务方面，智能客服系统 “店小蜜” 通过先进的模型实现精准问答，有效降低客服成本。同时，生意管家平台集成了多种功能，每天帮助商家节省约30% 的时间，极大地提升了生产力。\n在本次展会上，天猫还展示了与众多家电科技品牌合作的最新 AI 产品，包括 AI 冰箱、扫地机器人等。此外，淘宝 Vision 与天猫家享生活联合打造的虚拟家居体验舱，进一步提升了消费者的购物体验，标志着未来 AI 购物的新趋势。",
          "guid": "https://www.aibase.com/zh/news/16497",
          "isoDate": "2025-03-21T07:30:12.000Z"
        }
      },
      {
        "json": {
          "creator": "AI Base",
          "title": "字节推文生图框架InfiniteYou ：可保持人脸特征，场景随便换",
          "link": "https://www.aibase.com/zh/news/16495",
          "pubDate": "Fri, 21 Mar 2025 07:13:54 GMT",
          "author": "AI Base",
          "content": "<p><span style=\"text-indent: 2em;\">字节跳动悄悄咪咪推出了一款名为 </span><strong style=\"text-indent: 2em;\">InfiniteYou （InfU），</strong><span style=\"text-indent: 2em;\">&nbsp;的图像生成神器。简单的说，这</span><span style=\"text-indent: 2em;\">是一款</span><strong style=\"text-indent: 2em;\">文本到图像的生成模型，</strong><span style=\"text-indent: 2em;\">它的厉害之处在于，能够根据你输入的文字描述，</span><strong style=\"text-indent: 2em;\">生成带有你个人身份特征的高质量图像</strong><span style=\"text-indent: 2em;\">。</span></p><p style=\"text-align:center\"><img src=\"https://upload.chinaz.com/2025/0321/6387816663367823701604933.png\" title=\"QQ_1742541024681.png\" alt=\"QQ_1742541024681.png\" referrerpolicy=\"no-referrer\"></p><p><span style=\"text-indent: 2em;\">这可不是简单的换脸App能比的，它更注重的是在灵活变换场景和内容的同时，</span><strong style=\"text-indent: 2em;\">精准保留你的身份特征</strong><span style=\"text-indent: 2em;\">。想象一下，你可以轻松生成自己穿着宇航服漫步太空、身着古装穿越回古代的照片，而且保证那张脸还是你自己的，是不是很酷?</span></p><p>“<strong>InfiniteYou</strong>”之所以能做到这一点，背后可有着一套“组合拳”。</p><ul><li><strong>核心武器:InfuseNet</strong>。“<strong>InfiniteYou</strong>”的核心是一个名为 <strong>InfuseNet</strong> 的秘密武器。它可以将你的身份特征巧妙地注入到被称为 <strong>Diffusion Transformer （DiT）</strong> 的先进图像生成模型（比如 <strong>FLUX</strong>）中。InfuseNet就像一位技艺高超的化妆师，通过“<strong>残差连接</strong>”这种精细的操作，在增强人脸相似度的同时，还不破坏原有的生成能力。</li><li><strong>多阶段训练:精益求精</strong>。“<strong>InfiniteYou</strong>”的炼成并非一蹴而就，而是经历了<strong>预训练</strong>和使用<strong>合成的单人多样本（SPMS）数据进行监督微调(SFT)<strong>等多重考验。这种精细化的训练策略，能够显著提升</strong>文本和图像的对齐度</strong>，让生成的图像更符合你的文字描述，同时还能<strong>提高图像质量和美观度</strong>，并有效<strong>缓解“换脸”后常见的面部复制粘贴问题</strong>。</li><li><strong>模型“双保险”:各有侧重</strong>。字节跳动这次还贴心地发布了 <strong>aes_stage2</strong> 和 <strong>sim_stage1</strong> 两个模型版本。<strong>aes_stage2</strong> 是经过第二阶段微调的模型，<strong>默认情况下拥有更好的文图对齐度和美观性</strong>。如果你更看重<strong>人脸的相似度</strong>，那么可以选择 <strong>sim_stage1</strong>。这就像买手机，一个注重拍照效果，一个注重性能，总有一款适合你。</li></ul><p>通过对比实验可以看出，“<strong>InfiniteYou</strong>”在<strong>身份相似性、文本图像对齐、图像质量和美观度</strong>等方面，都超越了现有的先进方法，比如 FLUX.1-dev IP-Adapter 和 PuLID-FLUX。那些方法要么人脸不像，要么文字描述和图像内容不符，要么就是图像质量堪忧，甚至出现“换脸”后脸部特征生硬粘贴的问题。相比之下，“<strong>InfiniteYou</strong>”的表现更加全面和出色。</p><p>更令人惊喜的是，“<strong>InfiniteYou</strong>”还具备**“即插即用”**的特性。它可以与 FLUX.1-dev 的各种变体（比如更高效的 FLUX.1-schnell）、ControlNets 和 LoRAs 等现有工具无缝集成，提供更强的可控性和定制化能力。甚至还可以与 IP-Adapter 结合，实现个性化图像的风格迁移。这种强大的兼容性，无疑将为更广泛的社区做出有价值的贡献。</p><p>需要注意的是，“<strong>InfiniteYou</strong>”目前是<strong>基于 Creative Commons Attribution-NonCommercial4.0International Public License 发布的，仅供学术研究使用</strong>。下载和使用相关的模型（如 InsightFace 的人脸模型、FLUX.1-dev 基础模型和 LoRA 等）必须遵守其原始许可。同时，开发者也希望用户能够遵守当地法律法规，<strong>负责任地使用这项技术，避免任何潜在的滥用行为</strong>。</p><p>项目入口：https://top.aibase.com/tool/infiniteyou</p>",
          "contentSnippet": "字节跳动悄悄咪咪推出了一款名为 InfiniteYou （InfU）， 的图像生成神器。简单的说，这是一款文本到图像的生成模型，它的厉害之处在于，能够根据你输入的文字描述，生成带有你个人身份特征的高质量图像。\n\n这可不是简单的换脸App能比的，它更注重的是在灵活变换场景和内容的同时，精准保留你的身份特征。想象一下，你可以轻松生成自己穿着宇航服漫步太空、身着古装穿越回古代的照片，而且保证那张脸还是你自己的，是不是很酷?\n“InfiniteYou”之所以能做到这一点，背后可有着一套“组合拳”。\n\n核心武器:InfuseNet。“InfiniteYou”的核心是一个名为 InfuseNet 的秘密武器。它可以将你的身份特征巧妙地注入到被称为 Diffusion Transformer （DiT） 的先进图像生成模型（比如 FLUX）中。InfuseNet就像一位技艺高超的化妆师，通过“残差连接”这种精细的操作，在增强人脸相似度的同时，还不破坏原有的生成能力。\n多阶段训练:精益求精。“InfiniteYou”的炼成并非一蹴而就，而是经历了预训练和使用合成的单人多样本（SPMS）数据进行监督微调(SFT)等多重考验。这种精细化的训练策略，能够显著提升文本和图像的对齐度，让生成的图像更符合你的文字描述，同时还能提高图像质量和美观度，并有效缓解“换脸”后常见的面部复制粘贴问题。\n模型“双保险”:各有侧重。字节跳动这次还贴心地发布了 aes_stage2 和 sim_stage1 两个模型版本。aes_stage2 是经过第二阶段微调的模型，默认情况下拥有更好的文图对齐度和美观性。如果你更看重人脸的相似度，那么可以选择 sim_stage1。这就像买手机，一个注重拍照效果，一个注重性能，总有一款适合你。\n\n通过对比实验可以看出，“InfiniteYou”在身份相似性、文本图像对齐、图像质量和美观度等方面，都超越了现有的先进方法，比如 FLUX.1-dev IP-Adapter 和 PuLID-FLUX。那些方法要么人脸不像，要么文字描述和图像内容不符，要么就是图像质量堪忧，甚至出现“换脸”后脸部特征生硬粘贴的问题。相比之下，“InfiniteYou”的表现更加全面和出色。\n更令人惊喜的是，“InfiniteYou”还具备**“即插即用”**的特性。它可以与 FLUX.1-dev 的各种变体（比如更高效的 FLUX.1-schnell）、ControlNets 和 LoRAs 等现有工具无缝集成，提供更强的可控性和定制化能力。甚至还可以与 IP-Adapter 结合，实现个性化图像的风格迁移。这种强大的兼容性，无疑将为更广泛的社区做出有价值的贡献。\n需要注意的是，“InfiniteYou”目前是基于 Creative Commons Attribution-NonCommercial4.0International Public License 发布的，仅供学术研究使用。下载和使用相关的模型（如 InsightFace 的人脸模型、FLUX.1-dev 基础模型和 LoRA 等）必须遵守其原始许可。同时，开发者也希望用户能够遵守当地法律法规，负责任地使用这项技术，避免任何潜在的滥用行为。\n项目入口：https://top.aibase.com/tool/infiniteyou",
          "guid": "https://www.aibase.com/zh/news/16495",
          "isoDate": "2025-03-21T07:13:54.000Z"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a22b3b37-b918-4286-abd7-6f3671f008e3",
  "meta": {
    "instanceId": "667f8e49cea6f05a4f2d4764a2ef083b44c681d7bcf3709cc71f85be90eeca2e"
  },
  "id": "tnTHQLpRBsotTkRk",
  "tags": []
}