public/workshop/n8n/RSStoNotion.json
{
  "name": "RSStoNotion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "feedUrl": "http://www.jintiankansha.me/rss/GEYDQOJYPRRWKM3DHE4WEOLEMVTGKMZQGQYDSMTDGJTDSNLBGM4WCMJRMM4GCNZRMIYGCNDBHA======"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        -60
      ],
      "id": "a8de5458-d0fa-446b-9b76-1f49c30fde46",
      "name": "RSS Feed Trigger",
      "notesInFlow": true,
      "notes": "通过RSS订阅链接获取机器之心的公众号文章"
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "destinationKey": "page_content",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -520,
        -60
      ],
      "id": "a887e428-30f0-4d0f-bf23-9071aa24a3c7",
      "name": "Markdown"
    },
    {
      "parameters": {
        "input": "={{ $('Markdown').item.json.page_content }}"
      },
      "type": "n8n-nodes-notionmd.notionMd",
      "typeVersion": 1,
      "position": [
        -80,
        -60
      ],
      "id": "4b813d7f-2878-430e-8456-2f92a04e3f18",
      "name": "Notion MD"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        180,
        -60
      ],
      "id": "f023d46e-1125-4a7e-9d47-5a6a70545a48",
      "name": "Split Out"
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        -60
      ],
      "id": "db96a897-336f-4d76-a84e-8f1185dd8df6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        880,
        100
      ],
      "id": "db53886f-c46f-4121-bfde-7252ff4e575e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $('Notion').item.json.id }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "children",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        -180
      ],
      "id": "45dead1d-eff5-45f0-8fa1-00f74762c073",
      "name": "HTTP Request",
      "credentials": {
        "notionApi": {
          "id": "tHqNwAxXQ88MGWlm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "198629a6-152d-8016-b4ce-ce205e5e422c",
          "mode": "list",
          "cachedResultName": "AI Agents文章收集",
          "cachedResultUrl": "https://www.notion.so/198629a6152d8016b4cece205e5e422c"
        },
        "title": "={{ $json.title }}",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -300,
        -60
      ],
      "id": "3d50e9c2-edb5-4b47-990d-5ec69d2a2cdc",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "tHqNwAxXQ88MGWlm",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=总结以下内容，不超过200字：\n\"\"{{ $('Markdown').item.json.page_content }}\"\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        80,
        200
      ],
      "id": "220b861f-c5de-4ead-8d85-76da74d29e36",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        60,
        440
      ],
      "id": "88377f70-91f3-43d7-8c08-e7381b987a45",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "peOp7pcjSxphhmmF",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "testtttt"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        440
      ],
      "id": "661ab3fa-63de-464a-be2c-8ed9957086b0",
      "name": "Window Buffer Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion MD": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Notion MD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0a6db3b-a517-4d94-b2a9-66c393f7a411",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "667f8e49cea6f05a4f2d4764a2ef083b44c681d7bcf3709cc71f85be90eeca2e"
  },
  "id": "QbfzUHbxaJA9mAdE",
  "tags": []
}