public/workshop/n8n/RSS文章同步.json
{
  "name": "RSS文章同步 copy",
  "nodes": [
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $('Notion').item.json.id }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "children",
              "value": "={{ $json.blocks }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        515
      ],
      "id": "ac391460-8e7c-43fb-af7d-524673c24f53",
      "name": "HTTP Request",
      "credentials": {
        "notionApi": {
          "id": "iA8AYs4rOjKAGh0b",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        840,
        515
      ],
      "id": "28c5307b-b9c9-44a8-ae91-2de7d506f06d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 将Markdown文本转换为纯文本\n * @param {string} markdown - 输入的Markdown格式文本\n * @returns {string} - 转换后的纯文本字符串\n */\nfunction markdownToText(markdown) {\n    if (!markdown) return '';\n\n    let text = markdown;\n\n    // 移除代码块\n    text = text.replace(/```[\\s\\S]*?```/g, '');\n    text = text.replace(/`([^`]+)`/g, '$1');\n\n    // 移除标题符号\n    text = text.replace(/^#{1,6}\\s+/gm, '');\n\n    // 移除粗体和斜体\n    text = text.replace(/[*_]{2}([^*_]+)[*_]{2}/g, '$1'); // 粗体\n    text = text.replace(/[*_]([^*_]+)[*_]/g, '$1'); // 斜体\n\n    // 处理链接\n    text = text.replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1'); // [文本](链接)\n    text = text.replace(/\\[([^\\]]+)\\]\\[[^\\]]*\\]/g, '$1'); // [文本][引用]\n\n    // 移除图片标记\n    text = text.replace(/!\\[([^\\]]*?)\\]\\([^)]+\\)/g, '$1');\n\n    // 处理列表\n    text = text.replace(/^[\\s]*[\\-*+]\\s+/gm, ''); // 无序列表\n    text = text.replace(/^[\\s]*\\d+\\.\\s+/gm, ''); // 有序列表\n\n    // 处理引用\n    text = text.replace(/^\\s*>\\s+/gm, '');\n\n    // 处理水平分割线\n    text = text.replace(/^\\s*[-*_]{3,}\\s*$/gm, '\\n');\n\n    // 移除HTML标签\n    text = text.replace(/<[^>]+>/g, '');\n\n    // 处理转义字符\n    text = text.replace(/\\\\([\\\\`*_{}\\[\\]()#+\\-.!])/g, '$1');\n\n    // 清理多余的空行\n    text = text.replace(/\\n\\s*\\n/g, '\\n\\n');\n    text = text.replace(/^\\s+|\\s+$/g, '');\n\n    return text;\n}\n\n/**\n * 将文本按指定长度分段\n * @param {string} text - 输入文本\n * @param {number} segmentLength - 每段文本的最大长度\n * @returns {string[]} - 分段后的文本数组\n */\nfunction splitTextIntoSegments(text, segmentLength = 1800) {\n    const segments = [];\n    let remainingText = text;\n\n    while (remainingText.length > 0) {\n        if (remainingText.length <= segmentLength) {\n            segments.push(remainingText);\n            break;\n        }\n\n        let endIndex = segmentLength;\n        // 尝试在句子或段落边界处分段\n        const nextParagraph = remainingText.indexOf('\\n\\n', endIndex - 100);\n        const nextSentence = remainingText.indexOf('. ', endIndex - 100);\n\n        if (nextParagraph !== -1 && nextParagraph < endIndex + 100) {\n            endIndex = nextParagraph;\n        } else if (nextSentence !== -1 && nextSentence < endIndex + 100) {\n            endIndex = nextSentence + 1;\n        }\n\n        segments.push(remainingText.substring(0, endIndex).trim());\n        remainingText = remainingText.substring(endIndex).trim();\n    }\n\n    return segments;\n}\n\n// 示例输入\nconst markdownInput = $('Loop Over Items').first().json.data;\nconst plainText = markdownToText(markdownInput);\nconst textSegments = splitTextIntoSegments(plainText);\n\n// 将文本段落转换为规范的block对象格式\nconst blocks = textSegments.map(segment => ({\n    object: 'block',\n    type: 'paragraph',\n    paragraph: {\n        rich_text: [\n            {\n                type: 'text',\n                annotations: {\n                    bold: false,\n                    strikethrough: false,\n                    underline: false,\n                    italic: false,\n                    code: false,\n                    color: 'default'\n                },\n                text: {\n                    content: segment\n                }\n            }\n        ]\n    }\n}));\n\nreturn {\n    blocks: blocks\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        520
      ],
      "id": "a73f75a4-459a-429c-994b-f52112ebed92",
      "name": "Code",
      "notesInFlow": true,
      "notes": "内容分段"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "198629a6-152d-8016-b4ce-ce205e5e422c",
          "mode": "list",
          "cachedResultName": "AI Agents文章收集",
          "cachedResultUrl": "https://www.notion.so/198629a6152d8016b4cece205e5e422c"
        },
        "title": "={{ $('Loop Over Items').item.json.title }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "url|url",
              "urlValue": "={{ $('Loop Over Items').item.json.link }}"
            },
            {
              "key": "发布时间|rich_text",
              "textContent": "={{ $('Loop Over Items').item.json.pubDate.replace(/.*?(\\d{2} \\w{3} \\d{4} \\d{2}:\\d{2}:\\d{2}).*/, '$1') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1080,
        520
      ],
      "id": "85312f97-40a9-45e2-ab60-bad467be8aa7",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "iA8AYs4rOjKAGh0b",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        490
      ],
      "id": "778ffe30-c9ae-4cf8-9c18-31e5eba4fd2c",
      "name": "Markdown2"
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        290
      ],
      "id": "171601ed-9bf7-45ff-82b1-e4e832b44aa9",
      "name": "Markdown1"
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        90
      ],
      "id": "3739fc54-3705-4b65-b663-e99d2f748e2d",
      "name": "Markdown"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "d5af03ad-158a-4083-8de2-c84f4af22631",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -480,
        988.5
      ],
      "typeVersion": 1.2,
      "notesInFlow": true,
      "notes": "2小时同步\n"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "198629a6-152d-8016-b4ce-ce205e5e422c",
          "mode": "list",
          "cachedResultName": "AI Agents文章收集",
          "cachedResultUrl": "https://www.notion.so/198629a6152d8016b4cece205e5e422c"
        },
        "limit": 30,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "创建日期|created_time",
              "condition": "after",
              "createdTimeValue": "={{ new Date(new Date().getTime() - 25*3600*1000).toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -280,
        -120
      ],
      "id": "b0556d84-278e-4d33-b28b-dfc31ed0e734",
      "name": "获取现有表格数据",
      "notesInFlow": true,
      "credentials": {
        "notionApi": {
          "id": "iA8AYs4rOjKAGh0b",
          "name": "Notion account"
        }
      },
      "notes": "获取24小时内创建的文章列表"
    },
    {
      "parameters": {
        "url": "http://www.jintiankansha.me/rss/G42TC7DGG44WKMLEHFRGIMZSMMZDSMZXMI3DCYZZGYZWEMRRGQ4TMNLEMU2TGYTBMYZGGMQ=",
        "options": {
          "ignoreSSL": true
        }
      },
      "id": "3c8115e4-f0e8-4166-9059-b02b8173dcb3",
      "name": "机器之心",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -260,
        90
      ],
      "typeVersion": 1.1,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "rss订阅源地址",
        "options": {
          "ignoreSSL": true
        }
      },
      "id": "777f1dda-d501-44b5-b03b-d67503761010",
      "name": "新智元",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -260,
        290
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "rss订阅源地址",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -260,
        490
      ],
      "id": "d63399bc-d114-4925-87f1-47e0a412a568",
      "name": "量子位",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bce03e1e-c19f-4907-b0e6-e9f003ea8959",
              "name": "link",
              "value": "={{ $json.property_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        -120
      ],
      "id": "28fa6d08-38f3-48b1-8cd4-17a65129252a",
      "name": "获取链接"
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        180,
        843
      ],
      "id": "cfff4166-a0e2-47ee-831a-7eae8a816432",
      "name": "合并数据"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "link",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        620,
        520
      ],
      "id": "6edaf2da-3143-4991-aae4-3f8f6eaead58",
      "name": "筛选A减B"
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        690
      ],
      "id": "0f681155-5327-43c8-9921-e163e5b6c415",
      "name": "Markdown3"
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        890
      ],
      "id": "da64097c-94fb-4ef2-8af9-df28a2360f7d",
      "name": "Markdown4"
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        1090
      ],
      "id": "3a52e9db-229b-4b81-afa9-7143ca343c63",
      "name": "Markdown5"
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        1290
      ],
      "id": "60959832-6004-42a4-932a-868c3826ceb0",
      "name": "Markdown6"
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        1490
      ],
      "id": "f11f9d28-7d6f-49bd-a414-26bccad51f62",
      "name": "Markdown7"
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        1690
      ],
      "id": "71b644ff-22d3-4ba9-8e24-a574590b3844",
      "name": "Markdown8"
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        1890
      ],
      "id": "e4c81b14-bc90-4aaa-9f04-9232726eb55d",
      "name": "Markdown9"
    },
    {
      "parameters": {
        "url": "rss订阅源地址",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -260,
        690
      ],
      "id": "5a39d1c4-c69a-405b-ae30-e1bcf395b17c",
      "name": "found park",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "rss订阅源地址",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -260,
        900
      ],
      "id": "f1a826d6-ff4c-4d72-b821-3313a4023ac6",
      "name": "腾讯科技",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "rss订阅源地址",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -260,
        1090
      ],
      "id": "b822623a-2a1e-4579-a2dc-1e8cdfb16791",
      "name": "甲子光年",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "rss订阅源地址",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -260,
        1290
      ],
      "id": "c83e72ea-1076-4c7a-b9e8-c3d6eb9c3b8a",
      "name": "极客公园",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "rss订阅源地址",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -260,
        1490
      ],
      "id": "76ed721e-f1e2-45ee-a76f-4feb80828c46",
      "name": "卡兹克",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "rss订阅源地址",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -260,
        1690
      ],
      "id": "0667061d-5cb2-4ea5-8043-0fd217882ba9",
      "name": "暗涌Waves",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "rss订阅源地址",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -260,
        1890
      ],
      "id": "557aa6fb-69b5-4336-a690-164f542e8df7",
      "name": "赛博禅心",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f09a15e4-8637-4d43-ae2d-81437e946f89",
              "leftValue": "={{ new Date($json.pubDate).getTime() }}",
              "rightValue": "={{ Date.now() - 24 * 3600 * 1000 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        400,
        1000
      ],
      "id": "bd75384a-d9b2-4493-831c-6cffecdc591a",
      "name": "筛选新闻时间",
      "notesInFlow": true,
      "notes": "保留24小时内的文章，放在有些源头长时间不更新同步到以前的数据\n"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown2": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "新智元",
            "type": "main",
            "index": 0
          },
          {
            "node": "机器之心",
            "type": "main",
            "index": 0
          },
          {
            "node": "量子位",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取现有表格数据",
            "type": "main",
            "index": 0
          },
          {
            "node": "found park",
            "type": "main",
            "index": 0
          },
          {
            "node": "腾讯科技",
            "type": "main",
            "index": 0
          },
          {
            "node": "甲子光年",
            "type": "main",
            "index": 0
          },
          {
            "node": "极客公园",
            "type": "main",
            "index": 0
          },
          {
            "node": "卡兹克",
            "type": "main",
            "index": 0
          },
          {
            "node": "暗涌Waves",
            "type": "main",
            "index": 0
          },
          {
            "node": "赛博禅心",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取现有表格数据": {
      "main": [
        [
          {
            "node": "获取链接",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "机器之心": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新智元": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "量子位": {
      "main": [
        [
          {
            "node": "Markdown2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取链接": {
      "main": [
        [
          {
            "node": "筛选A减B",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "合并数据": {
      "main": [
        [
          {
            "node": "筛选新闻时间",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "筛选A减B": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown3": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Markdown4": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Markdown5": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Markdown6": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Markdown7": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Markdown8": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Markdown9": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "found park": {
      "main": [
        [
          {
            "node": "Markdown3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "腾讯科技": {
      "main": [
        [
          {
            "node": "Markdown4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "甲子光年": {
      "main": [
        [
          {
            "node": "Markdown5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "极客公园": {
      "main": [
        [
          {
            "node": "Markdown6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "卡兹克": {
      "main": [
        [
          {
            "node": "Markdown7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "暗涌Waves": {
      "main": [
        [
          {
            "node": "Markdown8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "赛博禅心": {
      "main": [
        [
          {
            "node": "Markdown9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "筛选新闻时间": {
      "main": [
        [
          {
            "node": "筛选A减B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "lA2MDIXu1tpyMiR2"
  },
  "versionId": "167c4c0e-6307-47d6-8ec9-3b145471eedb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b98b98135dab39d60742eab16a2a66a05dec7028bfdb9b31aea7dce5ef9e0c67"
  },
  "id": "PDLcb0zkBKNZjZqd",
  "tags": []
}