n8n/工作流/工作流/抖音低粉爆款短视频筛选工作流.json
{
  "name": "抖音低粉爆款短视频筛选工作流-VIP",
  "nodes": [
    {
      "parameters": {
        "formTitle": "抖音低粉爆款短视频筛选",
        "formDescription": "可设置筛选条件，如：粉丝数、点赞/评论/收藏/分享数，筛选结果自动通知并保存表格",
        "formFields": {
          "values": [
            {
              "fieldLabel": "关键词",
              "placeholder": "查询的关键词",
              "requiredField": true
            },
            {
              "fieldLabel": "发布时间",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "不限"
                  },
                  {
                    "option": "最近一天"
                  },
                  {
                    "option": "最近一周"
                  },
                  {
                    "option": "最近半年"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "视频时长筛选",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "不限"
                  },
                  {
                    "option": "1 分钟以内"
                  },
                  {
                    "option": "1-5 分钟"
                  },
                  {
                    "option": "5 分钟以上"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "排序方式",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "综合排序"
                  },
                  {
                    "option": "最多点赞"
                  },
                  {
                    "option": "最新发布"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "线路选择",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "线路一"
                  },
                  {
                    "option": "线路二"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "开始筛选"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -976,
        672
      ],
      "id": "362afb6e-3271-42eb-b77c-ea5dc757b3ec",
      "name": "On form submission",
      "webhookId": "1290bb63-407c-430a-98d2-fafe392f2555",
      "notesInFlow": true,
      "notes": "提交关键词，及自定义条件"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ba23c1d-4030-4d06-9400-401dcf783731",
              "name": "fans_num",
              "value": 10000,
              "type": "number"
            },
            {
              "id": "f9a1bc19-5d3a-4028-b186-82abe324e57a",
              "name": "likes",
              "value": 1000,
              "type": "number"
            },
            {
              "id": "ef6bb71b-98c7-4e37-b994-cf2b01a9ecf6",
              "name": "collect",
              "value": 500,
              "type": "number"
            },
            {
              "id": "151e2412-2eb5-4eaf-914a-12ae32782b6f",
              "name": "Comment",
              "value": 500,
              "type": "number"
            },
            {
              "id": "eb940424-65bf-4466-be24-17641dd0eb43",
              "name": "share",
              "value": 500,
              "type": "number"
            },
            {
              "id": "d1df5b6e-bc32-4310-9450-13d404d30469",
              "name": "filter",
              "value": 40,
              "type": "number"
            },
            {
              "id": "2b500e40-6abc-4237-abb2-a30a682188b4",
              "name": "offset",
              "value": 0,
              "type": "number"
            },
            {
              "id": "d3d89281-037c-4cd3-a3a4-7987948f5bb1",
              "name": "search_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        672
      ],
      "id": "1c9137e2-f0bd-4442-ac43-18e9c36d169e",
      "name": "Edit Fields",
      "executeOnce": true,
      "notesInFlow": true,
      "notes": "设置筛选条件，如：\n粉丝数\n点赞数\n评论数等"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "576576c5-dd11-45b9-bfcd-1bb6ea061cd4",
              "leftValue": "={{ $json.followerCount }}",
              "rightValue": "={{ $('Edit Fields').item.json.fans_num }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        800,
        176
      ],
      "id": "611f2ed8-6fbd-43fd-96e6-e7c8560ffeb7",
      "name": "筛选粉丝",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "筛选粉丝低于1W的数据"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a51cd631-5f07-43aa-976d-d1310c490617",
              "leftValue": "={{ $json.likeCount }}",
              "rightValue": "={{ $('Edit Fields').item.json.likes }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "bb944747-04e2-4f08-95c8-10aea7ffb6df",
              "leftValue": "={{ $json.collectCount }}",
              "rightValue": "={{ $('Edit Fields').item.json.collect }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "0727d707-74b1-422e-a8c8-8a5d2956a7dd",
              "leftValue": "={{ $json.commentCount }}",
              "rightValue": "={{ $('Edit Fields').item.json.Comment }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "a4cb7929-2524-4f59-b528-b9945ac701e6",
              "leftValue": "={{ $json.shareCount }}",
              "rightValue": "={{ $('Edit Fields').item.json.share }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1024,
        176
      ],
      "id": "5fafdddc-a0ef-45aa-87a2-48a22b3438a0",
      "name": "筛选点赞/评论/收藏",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "筛选点赞/评论/收藏/分享大于500的数据"
    },
    {
      "parameters": {
        "jsCode": "// 获取输入数据\nconst inputData = $input.first().json.data.data;\nconst results = [];\n\n// 时间戳转换函数\nfunction formatTimestamp(timestamp) {\n  if (!timestamp) return '';\n  // 将时间戳转换为毫秒（如果是秒级时间戳）\n  const date = new Date(timestamp * 1000);\n  \n  // 格式化为 YYYY-MM-DD HH:mm:ss\n  const year = date.getFullYear();\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const day = String(date.getDate()).padStart(2, '0');\n  const hours = String(date.getHours()).padStart(2, '0');\n  const minutes = String(date.getMinutes()).padStart(2, '0');\n  const seconds = String(date.getSeconds()).padStart(2, '0');\n  \n  return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n\n// 提取视频下载链接函数\nfunction extractVideoUrl(urlList) {\n  if (!urlList || !Array.isArray(urlList) || urlList.length === 0) {\n    return '';\n  }\n  // 返回第一个可用的URL\n  // 通常第一个URL是最优质的\n  return urlList[0] || '';\n}\n\n// 检查数据是否存在且为数组\nif (inputData && Array.isArray(inputData)) {\n  // 遍历数组中的每个元素\n  for (const dataItem of inputData) {\n    // 提取所需字段\n    const extractedData = {\n      videoId: dataItem.aweme_info?.aweme_id || '',\n      description: dataItem.aweme_info?.desc || '',\n      authorNickname: dataItem.aweme_info?.author?.nickname || '',\n      followerCount: dataItem.aweme_info?.author?.follower_count || 0,\n      commentCount: dataItem.aweme_info?.statistics?.comment_count || 0,\n      likeCount: dataItem.aweme_info?.statistics?.digg_count || 0,\n      shareCount: dataItem.aweme_info?.statistics?.share_count || 0,\n      collectCount: dataItem.aweme_info?.statistics?.collect_count || 0,\n      createTime: formatTimestamp(dataItem.aweme_info?.create_time),\n      createTimeRaw: dataItem.aweme_info?.create_time || 0,  // 保留原始时间戳\n      videoUrl: extractVideoUrl(dataItem.aweme_info?.video?.play_addr?.url_list), // 视频下载链接\n    // videoUrlList: dataItem.aweme_info?.video?.play_addr?.url_list || [] // 所有可用链接列表\n    };\n    \n    results.push({\n      json: extractedData\n    });\n  }\n}\n\n// 如果没有数据，返回空数组提示\nif (results.length === 0) {\n  return [{\n    json: {\n      message: \"没有找到数据或数据格式不正确\"\n    }\n  }];\n}\n\n// 返回结果\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        176
      ],
      "id": "5e70f70b-3601-40a4-8dbb-9edd20756eb7",
      "name": "格式化数据",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "格式化http节点获取到的数据，方便后面节点更容易调用"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "24c629a6-152d-8020-99c1-da383799f143",
          "mode": "list",
          "cachedResultName": "抖音低粉爆款视频",
          "cachedResultUrl": "https://www.notion.so/24c629a6152d802099c1da383799f143"
        },
        "title": "抖音低粉爆款视频",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ID|rich_text",
              "textContent": "={{ $json.videoId }}"
            },
            {
              "key": "作品名称|title",
              "title": "={{ $json.description }}"
            },
            {
              "key": "发布日期|date",
              "date": "={{ $json.createTime }}"
            },
            {
              "key": "所属账户|rich_text",
              "textContent": "={{ $json.authorNickname }}"
            },
            {
              "key": "收藏数|number",
              "numberValue": "={{ $json.collectCount }}"
            },
            {
              "key": "点赞数|number",
              "numberValue": "={{ $json.likeCount }}"
            },
            {
              "key": "粉丝数量|number",
              "numberValue": "={{ $json.followerCount }}"
            },
            {
              "key": "网址|url",
              "urlValue": "=https://www.douyin.com/video/{{ $json.videoId }}"
            },
            {
              "key": "评论数|number",
              "numberValue": "={{ $json.commentCount }}"
            },
            {
              "key": "转发数|number",
              "numberValue": "={{ $json.shareCount }}"
            },
            {
              "key": "搜索关键词|select",
              "selectValue": "={{ $('On form submission').first().json[\"关键词\"] }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_3",
              "textContent": "视频描述"
            },
            {
              "textContent": "={{ $json.description }}"
            },
            {
              "type": "heading_3",
              "textContent": "视频下载链接"
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "1080p",
                    "isLink": true,
                    "textLink": "={{ $json.videoUrl }}",
                    "annotationUi": {
                      "color": "blue"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1712,
        288
      ],
      "id": "ad8f3755-f140-4416-8f1a-08daa8fa07a5",
      "name": "Create a database page",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "notionApi": {
          "id": "tHqNwAxXQ88MGWlm",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "将筛选结果写入notion databasepage"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29b4e277-fe27-4f08-9cd4-3c41c75c08f6",
              "name": "offset",
              "value": "={{ $('线路一').item.json.data.cursor }}",
              "type": "string"
            },
            {
              "id": "7f99a6e8-3110-4cc1-ba42-beb67d0fd412",
              "name": "search_id",
              "value": "={{ $('线路一').item.json.data.extra.logid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        384
      ],
      "id": "239d5fc4-d06d-4f68-ae74-43cc3c8c5b3c",
      "name": "Edit Fields1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "传入新的参数，方便第二轮http请求"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2827ad35-a192-4cbe-9759-29136242db3c",
              "leftValue": "={{ $json.offset }}",
              "rightValue": "={{ $('Edit Fields').item.json.filter }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "42b4052b-518d-4973-a9f2-f9b196aad534",
              "leftValue": "={{ $('线路一').item.json.data.has_more }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        416
      ],
      "id": "271c13f3-e4d1-4b70-9852-a8edf33fc6d2",
      "name": "If1",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "notes": "判断是否还有数据，以及是否达到自定义的数量上限"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "24c629a6-152d-8020-99c1-da383799f143",
          "mode": "list",
          "cachedResultName": "抖音低粉爆款视频",
          "cachedResultUrl": "https://www.notion.so/24c629a6152d802099c1da383799f143"
        },
        "limit": 100,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "搜索关键词|select",
              "condition": "equals",
              "selectValue": "={{ $('On form submission').item.json[\"关键词\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -752,
        672
      ],
      "id": "d95a1208-79f1-4fc3-85d2-6e2b45f2e856",
      "name": "Get many database pages",
      "executeOnce": false,
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "notionApi": {
          "id": "tHqNwAxXQ88MGWlm",
          "name": "Notion account"
        }
      },
      "notes": "获取表格中已有的数据\n用于后面流程的数据去重"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.videoId }}",
        "options": {
          "scope": "workflow"
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1248,
        176
      ],
      "id": "dc7b0cf5-1aef-49b6-ad92-3791191b49f3",
      "name": "Remove Duplicates",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "流程内第一次去重，防止HTTP请求的数据有重复"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "videoId",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1488,
        192
      ],
      "id": "1d386b43-7670-4610-8a3d-8a84a8221dcc",
      "name": "Merge",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "和notion里已有的数据比对，去重。保留新数据"
    },
    {
      "parameters": {
        "operation": "clearDeduplicationHistory",
        "options": {
          "scope": "workflow"
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -80,
        672
      ],
      "id": "19d80b26-cdc5-4109-a220-32d450161658",
      "name": "Remove Duplicates1",
      "notesInFlow": true,
      "notes": "清除“Duplicates1”缓存"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9055775-26b5-49b7-a8aa-a07474ccf270",
              "name": "videoId",
              "value": "={{ $('Code').item.json.property_ids.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        384
      ],
      "id": "c558cfc0-7edd-4cdb-8428-2ce40d1c3948",
      "name": "Edit Fields2",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "定义新的字段，值等于notion已有的数据。\n这样可以避免循环中每次都请求notion，减少请求次数"
    },
    {
      "parameters": {
        "jsCode": "// 获取表单数据\nconst publishTime = $('On form submission').first().json[\"发布时间\"];\nconst videoDuration = $('On form submission').first().json[\"视频时长筛选\"];\nconst sortMethod = $('On form submission').first().json[\"排序方式\"];\n\n// 发布时间映射\nlet publishTimeValue = 0;\nswitch(publishTime) {\n  case '不限':\n    publishTimeValue = 0;\n    break;\n  case '最近一天':\n    publishTimeValue = 1;\n    break;\n  case '最近一周':\n    publishTimeValue = 7;\n    break;\n  case '最近半年':\n    publishTimeValue = 180;\n    break;\n  default:\n    publishTimeValue = 0;\n}\n\n// 视频时长映射\nlet videoDurationValue = '0';\nswitch(videoDuration) {\n  case '不限':\n    videoDurationValue = '0';\n    break;\n  case '1 分钟以内':\n    videoDurationValue = '0-1';\n    break;\n  case '1-5 分钟':\n    videoDurationValue = '1-5';\n    break;\n  case '5 分钟以上':\n    videoDurationValue = '5-10000';\n    break;\n  default:\n    videoDurationValue = '0';\n}\n\n// 排序方式映射\nlet sortMethodValue = 0;\nswitch(sortMethod) {\n  case '综合排序':\n    sortMethodValue = 0;\n    break;\n  case '最多点赞':\n    sortMethodValue = 1;\n    break;\n  case '最新发布':\n    sortMethodValue = 2;\n    break;\n  default:\n    sortMethodValue = 0;\n}\n\n// 创建一个包含property_id列表的对象\nconst propertyData = {\n  data: $input.all().map(item => item.json.property_id)\n};\n\n// 返回n8n格式的数据\nreturn [\n  {\n    json: {\n      发布时间: publishTimeValue,\n      视频时长筛选: videoDurationValue,\n      排序方式: sortMethodValue,\n      property_ids: propertyData,\n      // 保留原始值以便调试\n      原始发布时间: publishTime,\n      原始视频时长: videoDuration,\n      原始排序方式: sortMethod\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        672
      ],
      "id": "e421b039-262f-487c-952d-566791ffa480",
      "name": "Code",
      "notesInFlow": true,
      "notes": "转换表单节点提交的数据，将相应选项转换成“数字”，方便后面节点判断和引用"
    },
    {
      "parameters": {
        "jsCode": "// 获取videoId数据\nconst videoIdData = $input.first().json.videoId;\n\n// 确保是数组格式\nconst propertyIds = Array.isArray(videoIdData) ? videoIdData : [videoIdData];\n\n// 如果videoId是字符串格式的数组，需要解析\n// 例如：\"['id1', 'id2']\" 这种情况\nif (typeof videoIdData === 'string' && videoIdData.startsWith('[')) {\n  const propertyIds = JSON.parse(videoIdData);\n  return propertyIds.map(id => ({\n    json: {\n      videoId: id\n    }\n  }));\n}\n\n// 正常的数组处理\nreturn propertyIds.map(id => ({\n  json: {\n    videoId: id\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        384
      ],
      "id": "24b1e400-43e7-4455-8832-fa31fa67af91",
      "name": "Code1",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "提取上一个节点中需要的数据，并且转换成数组格式，方便后面的流程比对"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "193f68d8-1107-47b4-8b80-167b9c520c13",
              "leftValue": "={{ $('On form submission').first().json[\"线路选择\"] }}",
              "rightValue": "线路一",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        672
      ],
      "id": "83ae8881-bb26-4977-bc84-9496699701f7",
      "name": "If",
      "notesInFlow": true,
      "notes": "判断路线"
    },
    {
      "parameters": {
        "jsCode": "// 获取输入数据\nconst inputData = $input.first().json.data.data;\nconst results = [];\n\n// 时间戳转换函数\nfunction formatTimestamp(timestamp) {\n  if (!timestamp) return '';\n  // 将时间戳转换为毫秒（如果是秒级时间戳）\n  const date = new Date(timestamp * 1000);\n  \n  // 格式化为 YYYY-MM-DD HH:mm:ss\n  const year = date.getFullYear();\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const day = String(date.getDate()).padStart(2, '0');\n  const hours = String(date.getHours()).padStart(2, '0');\n  const minutes = String(date.getMinutes()).padStart(2, '0');\n  const seconds = String(date.getSeconds()).padStart(2, '0');\n  \n  return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n\n// 提取视频下载链接函数\nfunction extractVideoUrl(urlList) {\n  if (!urlList || !Array.isArray(urlList) || urlList.length === 0) {\n    return '';\n  }\n  // 返回第一个可用的URL\n  // 通常第一个URL是最优质的\n  return urlList[0] || '';\n}\n\n// 检查数据是否存在且为数组\nif (inputData && Array.isArray(inputData)) {\n  // 遍历数组中的每个元素\n  for (const dataItem of inputData) {\n    // 提取所需字段\n    const extractedData = {\n      videoId: dataItem.aweme_info?.aweme_id || '',\n      description: dataItem.aweme_info?.desc || '',\n      authorNickname: dataItem.aweme_info?.author?.nickname || '',\n      followerCount: dataItem.aweme_info?.author?.follower_count || 0,\n      commentCount: dataItem.aweme_info?.statistics?.comment_count || 0,\n      likeCount: dataItem.aweme_info?.statistics?.digg_count || 0,\n      shareCount: dataItem.aweme_info?.statistics?.share_count || 0,\n      collectCount: dataItem.aweme_info?.statistics?.collect_count || 0,\n      createTime: formatTimestamp(dataItem.aweme_info?.create_time),\n      createTimeRaw: dataItem.aweme_info?.create_time || 0,  // 保留原始时间戳\n      videoUrl: extractVideoUrl(dataItem.aweme_info?.video?.play_addr?.url_list), // 视频下载链接\n    // videoUrlList: dataItem.aweme_info?.video?.play_addr?.url_list || [] // 所有可用链接列表\n    };\n    \n    results.push({\n      json: extractedData\n    });\n  }\n}\n\n// 如果没有数据，返回空数组提示\nif (results.length === 0) {\n  return [{\n    json: {\n      message: \"没有找到数据或数据格式不正确\"\n    }\n  }];\n}\n\n// 返回结果\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        816
      ],
      "id": "5a5161a7-34e5-43e0-b095-4a52f627dd43",
      "name": "格式化数据1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "576576c5-dd11-45b9-bfcd-1bb6ea061cd4",
              "leftValue": "={{ $json.followerCount }}",
              "rightValue": "={{ $('Edit Fields').item.json.fans_num }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        800,
        816
      ],
      "id": "62e9bdc7-b398-4af5-ae92-4310adf4fd47",
      "name": "筛选粉丝1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a51cd631-5f07-43aa-976d-d1310c490617",
              "leftValue": "={{ $json.likeCount }}",
              "rightValue": "={{ $('Edit Fields').item.json.likes }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "bb944747-04e2-4f08-95c8-10aea7ffb6df",
              "leftValue": "={{ $json.collectCount }}",
              "rightValue": "={{ $('Edit Fields').item.json.collect }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "0727d707-74b1-422e-a8c8-8a5d2956a7dd",
              "leftValue": "={{ $json.commentCount }}",
              "rightValue": "={{ $('Edit Fields').item.json.Comment }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "a4cb7929-2524-4f59-b528-b9945ac701e6",
              "leftValue": "={{ $json.shareCount }}",
              "rightValue": "={{ $('Edit Fields').item.json.share }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1024,
        816
      ],
      "id": "b8847dca-32a9-46a3-bf93-10385308a737",
      "name": "筛选点赞/评论/收藏1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "24c629a6-152d-8020-99c1-da383799f143",
          "mode": "list",
          "cachedResultName": "抖音低粉爆款视频",
          "cachedResultUrl": "https://www.notion.so/24c629a6152d802099c1da383799f143"
        },
        "title": "抖音低粉爆款视频",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ID|rich_text",
              "textContent": "={{ $json.videoId }}"
            },
            {
              "key": "作品名称|title",
              "title": "={{ $json.description }}"
            },
            {
              "key": "发布日期|date",
              "date": "={{ $json.createTime }}"
            },
            {
              "key": "所属账户|rich_text",
              "textContent": "={{ $json.authorNickname }}"
            },
            {
              "key": "收藏数|number",
              "numberValue": "={{ $json.collectCount }}"
            },
            {
              "key": "点赞数|number",
              "numberValue": "={{ $json.likeCount }}"
            },
            {
              "key": "粉丝数量|number",
              "numberValue": "={{ $json.followerCount }}"
            },
            {
              "key": "网址|url",
              "urlValue": "=https://www.douyin.com/video/{{ $json.videoId }}"
            },
            {
              "key": "评论数|number",
              "numberValue": "={{ $json.commentCount }}"
            },
            {
              "key": "转发数|number",
              "numberValue": "={{ $json.shareCount }}"
            },
            {
              "key": "搜索关键词|select",
              "selectValue": "={{ $('On form submission').first().json[\"关键词\"] }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_3",
              "textContent": "视频描述"
            },
            {
              "textContent": "={{ $json.description }}"
            },
            {
              "type": "heading_3",
              "textContent": "视频下载链接"
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "1080P",
                    "isLink": true,
                    "textLink": "={{ $json.videoUrl }}",
                    "annotationUi": {
                      "color": "blue"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1712,
        928
      ],
      "id": "015ab5d1-4415-40d3-aa3f-53fe19e65821",
      "name": "Create a database page1",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "tHqNwAxXQ88MGWlm",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29b4e277-fe27-4f08-9cd4-3c41c75c08f6",
              "name": "offset",
              "value": "={{ $('线路二').item.json.data.cursor }}",
              "type": "string"
            },
            {
              "id": "7f99a6e8-3110-4cc1-ba42-beb67d0fd412",
              "name": "search_id",
              "value": "={{ $('线路二').item.json.data.extra.logid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        1024
      ],
      "id": "7931ca00-bb88-47d8-b25d-14030297f925",
      "name": "Edit Fields3",
      "executeOnce": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2827ad35-a192-4cbe-9759-29136242db3c",
              "leftValue": "={{ $json.offset }}",
              "rightValue": "={{ $('Edit Fields').item.json.filter }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "227d0757-e683-4dd9-96f9-6584bd4e50d9",
              "leftValue": "={{ $('线路二').item.json.data.has_more }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2384,
        1040
      ],
      "id": "2b4265c3-9a83-482b-bfbb-b61d1a821b5d",
      "name": "If2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.videoId }}",
        "options": {
          "scope": "workflow"
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1248,
        816
      ],
      "id": "e138043e-ebd7-4b69-aea7-7ba9fb04c1af",
      "name": "Remove Duplicates2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "videoId",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1488,
        832
      ],
      "id": "6e0fe531-5de3-4450-aede-e156244b643a",
      "name": "Merge1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9055775-26b5-49b7-a8aa-a07474ccf270",
              "name": "videoId",
              "value": "={{ $('Code').item.json.property_ids.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        1024
      ],
      "id": "78852901-fb91-4d20-b6d4-fcca8bfc734b",
      "name": "Edit Fields4",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 获取videoId数据\nconst videoIdData = $input.first().json.videoId;\n\n// 确保是数组格式\nconst propertyIds = Array.isArray(videoIdData) ? videoIdData : [videoIdData];\n\n// 如果videoId是字符串格式的数组，需要解析\n// 例如：\"['id1', 'id2']\" 这种情况\nif (typeof videoIdData === 'string' && videoIdData.startsWith('[')) {\n  const propertyIds = JSON.parse(videoIdData);\n  return propertyIds.map(id => ({\n    json: {\n      videoId: id\n    }\n  }));\n}\n\n// 正常的数组处理\nreturn propertyIds.map(id => ({\n  json: {\n    videoId: id\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        1024
      ],
      "id": "eda54656-c3ad-499a-92d1-88d881bd00ca",
      "name": "Code2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.tikhub.io/api/v1/douyin/web/fetch_video_search_result",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $('On form submission').first().json[\"关键词\"] }}"
            },
            {
              "name": "offset",
              "value": "={{ $json.offset }}"
            },
            {
              "name": "count",
              "value": "=20"
            },
            {
              "name": "sort_type",
              "value": "={{ $('Code').item.json[\"排序方式\"] }}"
            },
            {
              "name": "publish_time",
              "value": "={{ $('Code').item.json[\"发布时间\"] }}"
            },
            {
              "name": "=filter_duration",
              "value": "={{ $('Code').item.json[\"视频时长筛选\"] }}"
            },
            {
              "name": "=search_id",
              "value": "={{ $json.search_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer wqYTT0Vo7mc2vi4M8k2dnidthVwHj8XmqbwinR3GgmVY4VclINx11zCLXw=="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        384
      ],
      "id": "9c616ca6-f3e9-4e9b-b4b7-9be166c2c279",
      "name": "线路一",
      "retryOnFail": true,
      "notesInFlow": true,
      "waitBetweenTries": 2000,
      "alwaysOutputData": false,
      "notes": "关键词搜索数据"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id_type": "chat_id",
        "receive_id": "oc_b14f58f66e6d9fc36219d20fc5e82897",
        "content": "={\n  \"text\": \"标题：{{ $json.description.replace(/[^0-9a-zA-Z\\u4e00-\\u9fa5#，。!！]/g, '') }}\\n链接：https://www.douyin.com/video/{{ $json.videoId }}\\n所属账户：{{ $json.authorNickname }}\\n粉丝数：{{ $json.followerCount }}\\n点赞：{{ $json.likeCount }}\\n评论：{{ $json.commentCount }}\\n收藏：{{ $json.collectCount }}\\n转发：{{ $json.shareCount }}\\n发布时间：{{ $json.createTime }}\\n关键词：{{ $('On form submission').first().json[\"关键词\"] }}\\n提示：该视频可能是一条爆款内容哦，请注意关注~\"\n}\n"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1936,
        0
      ],
      "id": "bfff4709-b13b-450b-9eda-ebf7cff70df9",
      "name": "飞书发送消息通知",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "oNpZcIeSojLWouqx",
          "name": "n8n通知机器人"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id_type": "chat_id",
        "receive_id": "oc_b14f58f66e6d9fc36219d20fc5e82897",
        "content": "={\n  \"text\": \"标题：{{ $json.description.replace(/[^0-9a-zA-Z\\u4e00-\\u9fa5#，。!！]/g, '') }}\\n链接：https://www.douyin.com/video/{{ $json.videoId }}\\n所属账户：{{ $json.authorNickname }}\\n粉丝数：{{ $json.followerCount }}\\n点赞：{{ $json.likeCount }}\\n评论：{{ $json.commentCount }}\\n收藏：{{ $json.collectCount }}\\n转发：{{ $json.shareCount }}\\n发布时间：{{ $json.createTime }}\\n关键词：{{ $('On form submission').first().json[\"关键词\"] }}\\n提示：该视频可能是一条爆款内容哦，请注意关注~\"\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1936,
        640
      ],
      "id": "7ef94f1d-7535-4048-8fd9-1d6b5f0ecdae",
      "name": "飞书发送消息通知1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "oNpZcIeSojLWouqx",
          "name": "n8n通知机器人"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3164fd44-9a27-4d97-9c50-379d0e35f1e9",
              "leftValue": "={{ Object.keys($input.item.json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        640
      ],
      "id": "bf298dbc-ec7a-496f-be28-6a35ff50e828",
      "name": "If3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3164fd44-9a27-4d97-9c50-379d0e35f1e9",
              "leftValue": "={{ Object.keys($input.item.json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        0
      ],
      "id": "bde1823e-6889-48e1-b1e6-e6e787156bf5",
      "name": "If4",
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "判断数据是否有效，值不为空"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        624,
        1376
      ],
      "id": "fa8ceb05-67c0-4415-8f1e-a183ab9b8562",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "W0zHfj3CAmXyIv00",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        1376
      ],
      "id": "b7464391-59d8-4615-b61a-3deb8f4013aa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tikhub.io/api/v1/douyin/search/fetch_video_search_v1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer wqYTT0Vo7mc2vi4M8k2dnidthVwHj8XmqbwinR3GgmVY4VclINx11zCLXw=="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"keyword\": \"{{ $('On form submission').first().json['关键词'] }}\",\n    \"cursor\": \"{{ $json.offset }}\",\n    \"sort_type\": \"{{ $('Code').item.json[\"排序方式\"] }}\",\n    \"publish_time\": \"{{ $('Code').item.json[\"发布时间\"] }}\",\n    \"filter_duration\": \"{{ $('Code').item.json[\"视频时长筛选\"] }}\",\n    \"content_type\": \"1\",\n    \"search_id\": \"{{ $json.search_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        1024
      ],
      "id": "5d5b91dd-7be2-4c52-b587-ea60c0d203e1",
      "name": "线路二",
      "notesInFlow": true,
      "retryOnFail": true,
      "notes": "备用接口"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id_type": "chat_id",
        "receive_id": "oc_b14f58f66e6d9fc36219d20fc5e82897",
        "content": "={\n  \"text\": \"工作流已经执行完成!\\n关键词：{{ $('On form submission').first().json[\"关键词\"] }}\\n本次一共筛选到{{ $('Code4').last().json.count }}条爆款视频\"\n}\n "
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        2688,
        432
      ],
      "id": "b849e2f4-1287-4a6b-9e7b-8236882d40cd",
      "name": "工作流完成发送通知",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "oNpZcIeSojLWouqx",
          "name": "n8n通知机器人"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 获取或初始化累计计数\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.totalCount) {\n  staticData.totalCount = 0;\n}\n\n// 获取当前循环的有效数据\nconst currentItems = $input.all();\nconst validItems = currentItems.filter(item => \n  item.json && item.json.id && !item.json.error\n);\n\n// 累加到总数\nstaticData.totalCount += validItems.length;\n\nreturn [{\n  json: {\n    count: staticData.totalCount,\n    current_batch: validItems.length,\n    // 可选：返回所有处理过的ID\n    batch_ids: validItems.map(item => item.json.id)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        192
      ],
      "id": "0f1e32fa-80ba-4146-b365-e1fb38c589a9",
      "name": "Code4",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "统计筛选结果的单次数量和总数"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2160,
        288
      ],
      "id": "93a6fe0b-ab55-4fbc-9231-9d1da403c78b",
      "name": "Merge2",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "合并流程"
    },
    {
      "parameters": {
        "jsCode": "// 获取或初始化累计计数\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.totalCount) {\n  staticData.totalCount = 0;\n}\n\n// 获取当前循环的有效数据\nconst currentItems = $input.all();\nconst validItems = currentItems.filter(item => \n  item.json && item.json.id && !item.json.error\n);\n\n// 累加到总数\nstaticData.totalCount += validItems.length;\n\nreturn [{\n  json: {\n    count: staticData.totalCount,\n    current_batch: validItems.length,\n    // 可选：返回所有处理过的ID\n    batch_ids: validItems.map(item => item.json.id)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        832
      ],
      "id": "838c2d30-3132-4793-a8c6-b9fce6b75db8",
      "name": "Code5",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2160,
        928
      ],
      "id": "0742a4ff-26ab-49c9-8518-87bb3e43a039",
      "name": "Merge3",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id_type": "chat_id",
        "receive_id": "oc_b14f58f66e6d9fc36219d20fc5e82897",
        "content": "={\n  \"text\": \"工作流已经执行完成!\\n关键词：{{ $('On form submission').first().json[\"关键词\"] }}\\n本次一共筛选到{{ $('Code5').last().json.count }}条爆款视频\"\n}\n "
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        2592,
        1040
      ],
      "id": "969f9d5f-d60b-4864-961f-3bd2c55501d9",
      "name": "工作流完成发送通知1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "oNpZcIeSojLWouqx",
          "name": "n8n通知机器人"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "\n## 视频文案下载模块可按需添加",
        "height": 336,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        1264
      ],
      "id": "1775d676-955c-47c3-ab60-6d57ccd49ae2",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "筛选粉丝": {
      "main": [
        [
          {
            "node": "筛选点赞/评论/收藏",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化数据": {
      "main": [
        [
          {
            "node": "筛选粉丝",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "筛选点赞/评论/收藏": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "线路一",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "工作流完成发送通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "线路一",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "线路二",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化数据1": {
      "main": [
        [
          {
            "node": "筛选粉丝1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "筛选粉丝1": {
      "main": [
        [
          {
            "node": "筛选点赞/评论/收藏1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "筛选点赞/评论/收藏1": {
      "main": [
        [
          {
            "node": "Remove Duplicates2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Remove Duplicates2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Create a database page1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "线路二",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "工作流完成发送通知1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "线路一": {
      "main": [
        [
          {
            "node": "格式化数据",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "飞书发送消息通知": {
      "main": [
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "飞书发送消息通知1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "飞书发送消息通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "线路二": {
      "main": [
        [
          {
            "node": "格式化数据1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "IEKcr4g6icX9V4hT",
    "timeSavedPerExecution": 60
  },
  "versionId": "e8cd996b-af35-4e66-94b0-ca1949d2bea4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "667f8e49cea6f05a4f2d4764a2ef083b44c681d7bcf3709cc71f85be90eeca2e"
  },
  "id": "vrlCQWl3fFmBHzAl",
  "tags": []
}