n8n/工作流/2.json
{"nodes":[{"parameters":{"url":"https://techcrunch.com/tag/artificial-intelligence/feed/"},"id":"RSS","name":"Fetch AI News","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[300,200]},{"parameters":{"functionCode":"return items.filter(item => {\n  const pubDate = new Date(item.json.pubDate);\n  const now = new Date();\n  const oneDayAgo = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n  return pubDate > oneDayAgo;\n});"},"id":"Filter","name":"Filter Recent News (24h)","type":"n8n-nodes-base.function","typeVersion":1,"position":[540,200]},{"parameters":{"resource":"page","operation":"create","databaseId":"your-notion-database-id","simple":true,"propertiesUi":{"propertyValues":[{"key":"Title","value":"={{$json.title}}"},{"key":"URL","value":"={{$json.link}}"},{"key":"Published","value":"={{$json.pubDate}}"},{"key":"Summary","value":"={{$json.contentSnippet}}"}]}},"id":"Notion","name":"Save to Notion","type":"n8n-nodes-base.notion","typeVersion":1,"position":[800,200],"credentials":{"notionApi":{"id":"your-notion-credential-id","name":"Notion Account"}}}],"connections":{"Fetch AI News":{"main":[[{"node":"Filter Recent News (24h)","type":"main","index":0}]]},"Filter Recent News (24h)":{"main":[[{"node":"Save to Notion","type":"main","index":0}]]}},"name":"AI News to Notion","settings":{"executionOrder":"v2"},"tags":["rss","notion","ai-news"],"version":1}
