n8n/工作流/N8NWorkflowsTest-main/N8NWorkflowsTest-main/workflows/05_n8n配置短视频生产线自动化工作流/短视频生产线自动化工作流.json
{
  "name": "短视频生产线自动化工作流",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"Xhs_Content\": \"小红书文案内容\",\n    \"Video_Description\":\"关键句子\",\n    \"Video_Keywords\":\"视频关键词\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        -288
      ],
      "id": "0556c30b-0ca9-409b-bda2-7d27db44dcd4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8080/api/v1/videos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n      \"video_subject\": \"{{ $json.video_subject }}\",\n    \"video_script\": \"{{ $json.video_script }}\",\n    \"video_terms\": \"{{ $json.video_terms }}\",\n    \"video_aspect\": \"{{ $json.video_aspect }}\",\n    \"video_concat_mode\": \"{{ $json.video_concat_mode }}\",\n    \"video_transition_mode\": \"{{ $json.video_transition_mode }}\",\n    \"video_clip_duration\": {{ $json.video_clip_duration }},\n    \"video_count\": {{ $json.video_count }},\n    \"video_source\": \"{{ $json.video_source }}\",\n    \"video_materials\":{{ $json.video_materials }},\n    \"video_language\": \"{{ $json.video_language }}\",\n    \"voice_name\": \"{{ $json.voice_name }}\",\n    \"voice_volume\": {{ $json.voice_volume }},\n    \"voice_rate\": {{ $json.voice_rate }},\n    \"bgm_type\": \"{{ $json.bgm_type }}\",\n    \"bgm_file\": \"{{ $json.bgm_file }}\",\n    \"bgm_volume\": {{ $json.bgm_volume }},\n    \"subtitle_enabled\": {{ $json.subtitle_enabled }},\n    \"subtitle_position\": \"{{ $json.subtitle_position }}\",\n    \"custom_position\": {{ $json.custom_position }},\n    \"font_name\": \"{{ $json.font_name }}\",\n    \"text_fore_color\": \"{{ $json.text_fore_color }}\",\n    \"text_background_color\": {{ $json.text_background_color }},\n    \"font_size\": {{ $json.font_size }},\n    \"stroke_color\": \"{{ $json.stroke_color }}\",\n    \"stroke_width\": {{ $json.stroke_width }},\n    \"n_threads\": {{ $json.n_threads }},\n    \"paragraph_number\": {{ $json.paragraph_number }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        96
      ],
      "id": "2b3c1d65-7d6c-4e48-a239-c74bd98fa489",
      "name": "生成视频"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        96
      ],
      "id": "a148dac0-f247-41c6-9c5f-e0e030957aa9",
      "name": "Wait",
      "webhookId": "13ea0552-2d25-4d1f-aefd-be080d124cf4"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        96
      ],
      "id": "a09388b9-649f-4560-807a-e57c53e316c1",
      "name": "查询视频"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5d66584-990a-4d75-ae70-22e521de4e91",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        96
      ],
      "id": "e8b4cbd0-5a35-410f-b9ef-1ca3a1df9ad6",
      "name": "If2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=文案主题：{{ $json.topic }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# 角色：资深内容创作专家\n\n## 背景：\n你是一位资深内容创作专家，擅长将文案主题内容转化为吸引眼球且具有高互动率的文案。请根据提供的内容，创作一篇符合以下要求的文案：\n\n## 规则：\n1. 语言年轻化、亲切自然，符合用户的表达习惯，带有轻松幽默感。\n2. 分段清晰，每个段落突出重点，便于阅读和理解。\n3. 结尾部分明确引导用户进行点赞、收藏和评论，提升互动率。\n4. 总字数控制在200-300字之间，内容精炼且信息完整，避免冗余，不要出现emoji图标。\n5. 从文案中提炼1句关键句子或亮点，文案不超过10个汉字。\n6. 根据主题提取3-5个英文核心关键词，用于在素材网站或图库中精准搜索相关图片素材。\n\n## 初始化\n请严格按照上述要求输出内容。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        192,
        -496
      ],
      "id": "427f72e3-28a1-4947-a779-7fc5981ab012",
      "name": "AI Agent 内容创作"
    },
    {
      "parameters": {
        "command": "=mkdir -p ./n8ndata/{{ $('设置本地文件夹名称').item.json.fold }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        944,
        -256
      ],
      "id": "8381cb95-3e04-4edf-b04f-60253924ba3c",
      "name": "执行命令创建文件夹"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f62450b-99eb-40d2-b859-1a5d2fa24de1",
              "name": "fold",
              "value": "={{ $json.output.Video_Description.replace(/[\\n\\r]+/g, ',').replace(/[\"'\\\\/:*?<>|]/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -256
      ],
      "id": "60420803-1b77-4a97-be70-ddafd8e6e6c0",
      "name": "设置本地文件夹名称"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -256
      ],
      "id": "3630a97b-958c-4d61-9248-78a2f8948a2a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f724f2f-0c6c-45ab-9786-7dbeee37081a",
              "name": "topic",
              "value": "=背带裤真是谁穿谁可爱呀，姨姨们觉得是小鱼穿可爱还是秋水哥哥穿可爱呀。 ",
              "type": "string"
            },
            {
              "id": "28876877-c95a-4518-838c-efc6e7b3318c",
              "name": "video_source",
              "value": "local",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -256
      ],
      "id": "1eacf2ea-1eef-4ccc-9516-d5e502c9fcc1",
      "name": "设置视频主题"
    },
    {
      "parameters": {
        "url": "={{ $json.data.videos[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        80
      ],
      "id": "c6935478-6b0a-40f3-b950-e6c81a72b4f8",
      "name": "获取视频二进制文件"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./n8ndata/{{ $('设置本地文件夹名称').item.json.fold }}/video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1328,
        80
      ],
      "id": "4a4adb3f-4401-413c-bd91-636193ee4d94",
      "name": "保存到本地文件夹"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        -272
      ],
      "id": "55cfa46f-32a3-4984-85b4-8339bea30820",
      "name": "gpt-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-v3",
          "mode": "list",
          "cachedResultName": "deepseek-v3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        -224
      ],
      "id": "5d9e6c0b-f393-4952-837f-69a824f3f41b",
      "name": "deepseek-v3",
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 获取输入文本\nconst inputText = $('AI Agent 内容创作').first().json.output.Xhs_Content;\n\n// 格式化文本函数 - 反向操作，只保留需要的字符\nfunction formatText(text) {\n  let cleanedText = text;\n  \n  // 1. 只保留中文、英文、数字、常用标点符号和空格\n  // 这样可以有效去除所有emoji（包括复合emoji）\n  cleanedText = cleanedText.replace(/[^\\u4e00-\\u9fff\\u3400-\\u4dbf\\u3000-\\u303f\\uff00-\\uffefa-zA-Z0-9\\s.,!?;:()（）！？；：、。，]/g, '');\n  \n  // 2. 去除换行符，替换为空格\n  cleanedText = cleanedText.replace(/\\n+/g, ' ');\n  \n  // 3. 去除tag标签（#开头的词汇）\n  cleanedText = cleanedText.replace(/#[^\\s#]+/g, '');\n  \n  // 4. 去除单双引号\n  cleanedText = cleanedText.replace(/['\"]/g, '');\n  \n  // 5. 清理多余空格并修剪首尾空格\n  cleanedText = cleanedText.replace(/\\s+/g, ' ').trim();\n  \n  return cleanedText;\n}\n\n// 处理文本\nconst formattedText = formatText(inputText);\n\n// 返回n8n格式的结果\nreturn [\n  {\n    json: {\n      formatted_text: formattedText,\n      character_count: formattedText.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -256
      ],
      "id": "ab15e568-aa68-44b9-b247-04d5ea9ecfc2",
      "name": "文案内容格式化处理"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('设置视频主题').item.json.video_source }}",
                    "rightValue": "local",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "00e6a962-454e-41b5-bff6-9b949ba8b97d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "本地素材"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "57ce520c-4b0f-4bc2-8afb-5ba671d463af",
                    "leftValue": "={{ $('设置视频主题').item.json.video_source }}",
                    "rightValue": "pexels",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pexels免费素材"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1328,
        -256
      ],
      "id": "367e74b0-4ab4-42a7-9152-00cd0d66aad1",
      "name": "条件分支"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efe354d1-0982-4011-b7a0-ced0164880ad",
              "name": "video_materials",
              "value": "[{\"provider\": \"local\",\"url\": \"/MoneyPrinterTurbo/storage/local_files/pictures/01.jpg\",\"duration\": 0},{\"provider\": \"local\",\"url\": \"/MoneyPrinterTurbo/storage/local_files/pictures/02.jpg\",\"duration\": 0},{\"provider\": \"local\",\"url\": \"/MoneyPrinterTurbo/storage/local_files/pictures/03.jpg\",\"duration\": 0},{\"provider\": \"local\",\"url\": \"/MoneyPrinterTurbo/storage/local_files/pictures/04.jpg\",\"duration\": 0},{\"provider\": \"local\",\"url\": \"/MoneyPrinterTurbo/storage/local_files/pictures/05.jpg\",\"duration\": 0},{\"provider\": \"local\",\"url\": \"/MoneyPrinterTurbo/storage/local_files/pictures/06.jpg\",\"duration\": 0}]",
              "type": "string"
            },
            {
              "id": "5993e652-9dec-445c-9581-f45b4684e8d3",
              "name": "bgm_file",
              "value": "/MoneyPrinterTurbo/storage/local_files/bgm/fushanhaiOST.mp3",
              "type": "string"
            },
            {
              "id": "91852b1c-b412-4376-b4f4-1990f9347374",
              "name": "voice_name",
              "value": "siliconflow:FunAudioLLM/CosyVoice2-0.5B:diana-Female",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -16
      ],
      "id": "954e27b2-da37-4b75-8cca-adea192bc1c1",
      "name": "获取本地素材文件"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"video_subject\": \"{{ $('设置视频主题').item.json.topic }}\",\n  \"video_script\": \"{{ $('文案内容格式化处理').item.json.formatted_text }}\",\n  \"video_terms\": \"{{ $('AI Agent 内容创作').item.json.output.Video_Keywords }}\",\n  \"video_aspect\": \"9:16\",\n  \"video_concat_mode\": \"random\",\n  \"video_transition_mode\": \"Shuffle\",\n  \"video_clip_duration\": 4,\n  \"video_count\": 1,\n  \"video_source\": \"local\",\n  \"video_materials\": {{ $json.video_materials.toJsonString() }},\n  \"video_language\": \"\",\n  \"voice_name\": \"{{ $json.voice_name }}\",\n  \"voice_volume\": 1.0,\n  \"voice_rate\": 1.2,\n  \"bgm_type\": \"custom\",\n  \"bgm_file\": \"{{ $json.bgm_file }}\",\n  \"bgm_volume\": 0.4,\n  \"subtitle_enabled\": true,\n  \"subtitle_position\": \"bottom\",\n  \"custom_position\": 70.0,\n  \"font_name\": \"MicrosoftYaHeiBold.ttc\",\n  \"text_fore_color\": \"#FFFFFF\",\n  \"text_background_color\": true,\n  \"font_size\": 60,\n  \"stroke_color\": \"#000000\",\n  \"stroke_width\": 1.5,\n  \"n_threads\": 2,\n  \"paragraph_number\": 1\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -16
      ],
      "id": "6498e3bf-88c5-4a53-aede-f436bd866ae6",
      "name": "local 字段设置"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c26e26f2-0319-4f0e-bcb3-c4541fc01f43",
              "name": "video_subject",
              "value": "={{ $('设置视频主题').item.json.topic }}",
              "type": "string"
            },
            {
              "id": "f28dcb9c-4f84-4eb3-b910-2432cedbaf17",
              "name": "video_script",
              "value": "={{ $json.formatted_text }}",
              "type": "string"
            },
            {
              "id": "b4898a73-b5c9-4a10-9e3a-3099f65b9fd9",
              "name": "video_terms",
              "value": "={{ $('AI Agent 内容创作').item.json.output.Video_Keywords }}",
              "type": "string"
            },
            {
              "id": "5d544ecd-8f3b-4341-b685-f9943f60a535",
              "name": "video_aspect",
              "value": "9:16",
              "type": "string"
            },
            {
              "id": "9f37fbec-04bb-462a-837f-2b3975a2058f",
              "name": "video_concat_mode",
              "value": "sequential",
              "type": "string"
            },
            {
              "id": "65756883-bc3d-47f4-bbf2-f75865f7713c",
              "name": "video_transition_mode",
              "value": "None",
              "type": "string"
            },
            {
              "id": "1072aaec-071f-4b4f-b716-fb14af33ca1d",
              "name": "video_clip_duration",
              "value": 4,
              "type": "number"
            },
            {
              "id": "869bf6cc-9c27-4999-b335-667f3f740b0f",
              "name": "video_count",
              "value": 1,
              "type": "number"
            },
            {
              "id": "69d6758f-7a51-4fa6-b5d7-2bf422d2f26a",
              "name": "video_source",
              "value": "pexels",
              "type": "string"
            },
            {
              "id": "f1973e1e-f288-41d3-a358-8f20f719ac99",
              "name": "video_materials",
              "value": "null",
              "type": "string"
            },
            {
              "id": "b8195407-ce50-4196-b6ce-ba256ade9632",
              "name": "video_language",
              "value": "",
              "type": "string"
            },
            {
              "id": "ce8a9c0c-4842-491e-8a7f-3c6c65953293",
              "name": "voice_name",
              "value": "siliconflow:FunAudioLLM/CosyVoice2-0.5B:benjamin-Male",
              "type": "string"
            },
            {
              "id": "8ef2ae52-72f2-4026-90d5-5f48856b48a6",
              "name": "voice_volume",
              "value": 1,
              "type": "number"
            },
            {
              "id": "56fc4780-b4f9-4574-9089-062978e3df22",
              "name": "voice_rate",
              "value": 1.2,
              "type": "number"
            },
            {
              "id": "d584ac4a-f053-49c8-8046-130ef0153be9",
              "name": "bgm_type",
              "value": "random",
              "type": "string"
            },
            {
              "id": "1b4b0533-d82a-46ec-9fca-b3259b4696fd",
              "name": "bgm_file",
              "value": "",
              "type": "string"
            },
            {
              "id": "006052cd-a38a-49c3-8771-1a680f08c2ee",
              "name": "bgm_volume",
              "value": 0.2,
              "type": "number"
            },
            {
              "id": "68edb3d5-9524-49ee-b592-3d8972c413c4",
              "name": "subtitle_enabled",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "240c702a-1cb5-410c-9cc4-86bd7a6a1167",
              "name": "subtitle_position",
              "value": "bottom",
              "type": "string"
            },
            {
              "id": "c3665281-39fd-4e5c-a107-c3399e05bf3b",
              "name": "custom_position",
              "value": 70,
              "type": "number"
            },
            {
              "id": "520a3d1c-342b-4911-95d9-0899957856bd",
              "name": "font_name",
              "value": "MicrosoftYaHeiBold.ttc",
              "type": "string"
            },
            {
              "id": "f8aca469-6065-4860-8ab4-dc3e3667550a",
              "name": "text_fore_color",
              "value": "#FFFFFF",
              "type": "string"
            },
            {
              "id": "f9a18cbc-fda4-4f9c-9f7a-f92acc6ebe47",
              "name": "text_background_color",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "4df5bddd-5946-476f-aba0-5921b729fb26",
              "name": "font_size",
              "value": 60,
              "type": "number"
            },
            {
              "id": "28d650f2-0ce9-4b56-8599-9db2fd99ed28",
              "name": "stroke_color",
              "value": "#000000",
              "type": "string"
            },
            {
              "id": "52575847-96b7-4b93-b42f-db277ff7d097",
              "name": "stroke_width",
              "value": 1.5,
              "type": "number"
            },
            {
              "id": "176cc30b-f111-4d2e-af87-c020d4153cd1",
              "name": "n_threads",
              "value": 2,
              "type": "number"
            },
            {
              "id": "d2187e37-4a7d-49bd-9134-382a27cbed70",
              "name": "paragraph_number",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        192
      ],
      "id": "343c0416-aa45-43ab-8eb6-1349113b7a10",
      "name": "pexels 字段设置"
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent 内容创作",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "生成视频": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "查询视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询视频": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "获取视频二进制文件",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 内容创作": {
      "main": [
        [
          {
            "node": "设置本地文件夹名称",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "执行命令创建文件夹": {
      "main": [
        [
          {
            "node": "文案内容格式化处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置本地文件夹名称": {
      "main": [
        [
          {
            "node": "执行命令创建文件夹",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "设置视频主题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置视频主题": {
      "main": [
        [
          {
            "node": "AI Agent 内容创作",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取视频二进制文件": {
      "main": [
        [
          {
            "node": "保存到本地文件夹",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 内容创作",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "deepseek-v3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "文案内容格式化处理": {
      "main": [
        [
          {
            "node": "条件分支",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "条件分支": {
      "main": [
        [
          {
            "node": "获取本地素材文件",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pexels 字段设置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取本地素材文件": {
      "main": [
        [
          {
            "node": "local 字段设置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "local 字段设置": {
      "main": [
        [
          {
            "node": "生成视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pexels 字段设置": {
      "main": [
        [
          {
            "node": "生成视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "caee5f4a-9c19-449e-826e-180a1b5e3e28",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "830bfffc51ff88cd51b86a768f6a50a5b290896243e17b0bdf0f08551c38ba51"
  },
  "id": "i6SB47W8eTPQo6Zg",
  "tags": []
}